/* Variables partial */

/* Global Variables */

$pri-color: #ffc12b; // light orange
$pri-color-dark: #ff9b00; // dark orange
$sec-color: #00a3d9; // light blue
$sec-color-dark: #00488a; // dark blue
$black: #333;
$pri-font: 'Josefin Sans', sans-serif;
$sec-font: 'Source Sans Pro', sans-serif;
$svg-size: 70px;
$svg-margin: 10px;
$svg-div: ($svg-size+$svg-margin*2)*8;
$svg-size-social: 50px;
$svg-div-social: ($svg-size-social+$svg-margin*2)*5;
$sun: #ffc109;
$blurry: lighten($sun, 10%);
//$exp-asu-size: 180px;
//$exp-godaddy-size: 190px;
//$exp-webcom-size: 230px;
//$exp-svg-margin: 10px;
//$exp-svg-div: $exp-asu-size+$exp-godaddy-size+$exp-webcom-size+$exp-svg-margin*2;


/* Responsive Animation Variables */

$device-color: #d3d4d5; // other colors: Gold: #dac2aa, Space Gray: #a3a4a7, Rose Gold: #f3c9c4, Silver: #d3d4d5;
$screen-color: Azure;
$lcol-color: #2ab573;
$mcol-color: #0562d3;
$rcol-color: #f8a21b;

$total-width: 650px; 
$tablet-width: $total-width*0.45;
$mobile-width: $total-width*0.28;
$mobile-height: $mobile-width*2;

$total-height: $total-width*0.6875;
$sb-height: $total-height*0.8181;
$stand-width: $total-width*0.0412;
$stand-height: $total-height*0.1273;
$bottom-width: $total-width*0.125;
$bottom-height: $total-height*0.0273;
$screen-padding-tb: $total-height*0.02;
$screen-padding-tb-tablet: $total-height*0.04;
$screen-padding-tb-mobile: $total-height*0.081;
$screen-padding-lr: $total-height*0.02;

$button: $total-width*0.03;
$button-margin: $total-width*0.005;

$responsive-sb-height: $total-width*.5622;