@charset "utf-8";

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);

/* Partials */

@import "mixins";
@import "variables";

* { box-sizing: border-box; margin: 0; padding: 0; }
.c { clear: both; }
html { height: 100%; }
body {
  height: 100%;
  background: linear-gradient(45deg, rgba(0,155,255,.75) 0%, rgba(0, 255, 155,.85) 15%, rgba(0, 155, 255, 0.75) 55%, rgba(0, 255, 155,.85) 70%, rgba(0, 155, 255, 0.75) 100%), url(http://i.imgur.com/y2RrozH.jpg);
  background-size: cover;
  background-attachment: fixed;
  }
a { text-decoration: none; color: inherit; }
a img { border: 0; outline: 0; }
section { width: 100%; }
::selection { background-color: $pri-color; }
.overflow-wrap { overflow-x: hidden; height: 100%; position: relative; -webkit-overflow-scrolling: touch; -webkit-backface-visibility: hidden; }

/* Navigation */

nav {
	position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    z-index: 10;
    @include border-gradient(5px, solid, $pri-color 0%, $pri-color-dark 55%, transparent 100%);
    @include transition(width 500ms, opacity 500ms);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;

    	ul {
    		list-style-type: none;
        margin: 10px 5px 0 0;
    		text-align: right;
        color: #fff;
        width: 250px;
    		display: none;

    			li {
    				font-size: 28px;
    				text-transform: lowercase;
    				font-family: $pri-font;
    				font-weight: 300;
				    letter-spacing: 2px;
				    margin: 12px 30px;

              a:hover {
                display: inline-block;
                text-shadow: 0 0 25px rgba(255,255,255,.65);
              }
    			}

    	}

      .navBottom {
        position: fixed;
        bottom: 40px;
        width: 250px;
        display: none;
      }

      .sunSpot {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        p {
          color: #fff;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 18px;
          letter-spacing: 1px;
          text-align: center;
          line-height: 21px;
        }
      }

      .sun {
        background-color: $sun;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        margin: 10px auto;
        border: 5px solid $blurry;
      }

      .currTemp {
        text-align: center;
        line-height: 62px;
        font-size: 28px;
        margin-left: 4px;
        display: block;
        color: #fff;
        font-family: 'Source Sans Pro', serif;
        text-shadow: 0 0 7px darken($blurry, 20%);
      }

    	&.open {
    		width: 250px;
        background: linear-gradient(45deg, rgba(0,155,255,.75) 0%, rgba(0, 255, 155,.85) 55%, rgba(0, 155, 255, 0.75) 100%);
        border-bottom: 3px solid #fff;
    	}

}

.menu-button {
	@include border-radius(50%);
	background-color: $pri-color;
	width: 40px;
    height: 40px;
    position: absolute;
    padding: 9px 7px;
    top: 50px;
    margin-left: -23px;
    cursor: pointer;
    @include transition(background-color, 500ms);

    .menu {
      margin-top: 3px;
      margin-left: 1px;
    }

    span {
      width: 24px;
      height: 3px;
      margin-bottom: 4px;
      background-color: #fff;
      display: block;
      @include border-radius(5px);
    }

  	&:hover {
  		@include transition(background-color, 500ms);
  		background-color: $pri-color-dark;
  	}

  	.top {
  		@include transition(transform 500ms);
  		@include transform(rotate(0deg) translate(0, 0));
  	}

		&:hover .top {
			@include transition(transform 500ms);
			@include transform(rotate(90deg) translate(6px,0));
		}

		.mid {
			@include transition(transform 500ms);
		}

		&:hover .mid {
			@include transition(transform 500ms);
		}

		.bot {
			@include transition(opacity 500ms);
			opacity: 1;
		}

		&:hover .bot {
			@include transition(opacity 500ms);
			opacity: 0;
		}

		.menu.close-icon {
			@include transition(transform 500ms);
			@include transform(rotate(0deg));
		}

		&:hover .menu.close-icon {
			@include transition(transform 500ms);
			@include transform(rotate(45deg));
		}

}

h2, h3 {
  text-transform: lowercase;
  font-family: $pri-font;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  padding-top: 38px;
  margin: 0 auto;
  max-width: 75%;
  line-height: 1.2em;
  color: $sec-color;
  background: -webkit-linear-gradient(rgba(0, 155, 255, 0.75) 0%, rgba(0, 255, 155, 0.85) 40%, rgba(0, 155, 255, 0.75) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.four04 {
    background: -webkit-linear-gradient(rgba(0, 155, 255, 0.75) 0%, rgba(0, 255, 155, 0.85) 40%, rgba(0, 155, 255, 0.75) 100%), url(http://i.imgur.com/y2RrozH.jpg) center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20em;
    font-weight: 700;
  }
}

h3 {
  font-size: 2.2em;
  text-transform: initial;
}

/* Intro section */

#intro {
  height: 108vh;
}

    /* Header section */

header {
	position: relative;
  top: calc(50% - 150px);
}

.kstardesigns-logo {
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	@include transform(rotate(-10deg));
  -webkit-transform-origin: 50%  51%;
  display: block;
}

header h1 {
	font-family: $pri-font;
  font-weight: 400;
	@include transform(rotate(-12deg));
  -webkit-transform-origin: 50%  51%;
  margin-top: -10px;
  margin-left: -140px;
  font-size: 1.3em;
  color: #fff;
  letter-spacing: 1.5px;
  text-align: center;
}

.down {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 12px);
  display: block;
  margin: 0 auto;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  }


/* Intro section */





/* Striped sections */
.stripe {
	height: 240px;
	margin: -20px 0 10px -10%;
	@include transform(rotate(-2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
	background-color: #fff;
	width: 120%;
}

.stripe-inside {
  @include transform(rotate(2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.stripe.experience {
  margin: 30px 0 10px -10%;
}

.skills {

    .svgs {
      width: $svg-div;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 25px auto;
    }

    figure {
      width: $svg-size;
      margin: $svg-margin;

        figcaption {
          text-align: center;
          color: #333;
          font-family: $pri-font;
          font-size: 1.2em;
          font-weight: bold;
          font-weight: 300;
          margin-top: 5px;
          display: none;
          letter-spacing: 1px;
        }

        &.dreamweaver figcaption {
          margin-left: -14px;
        }

        //&:hover figcaption {
        //  display: block;
        //}


    }

}

.experience {
    height: 980px;

    .svgs {
      width: 900px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 35px auto;
      &--companies {
        figure {
          width: 25%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;

          img {
            display: block;
            width: 120px;
            height: auto;
            -ms-flex-item-align: center;
            align-self: center;
            // -webkit-filter: grayscale(75%);
            // filter: grayscale(75%);

            // &:hover {
            //   -webkit-filter: grayscale(0%);
            //   filter: grayscale(0%);
            // }
          }

          &.millerlite, &.jimbeam {
            img {
              width: 100px;
            }
          }
        }
      }
    }

    figure {
      width: 50%;
      position: relative;
      height: 150px;
      margin: 10px auto;

        img {
          display: block;
          margin: 0 auto 15px;
          height: 60px;
        }

        &.prizelogic img {
          //width: 280px;
          //margin: 25px auto;
        }

        &.webcom img {
          //width: 200px;
          //margin: 24px auto;
        }

        &.petsmart img {
          //width: 230px;
          //margin: 22px auto;
        }

        &.asu img {
          //width: 135px;
          //margin: 18px auto;
        }

        figcaption {
          text-align: center;
          color: #333;
          font-family: $pri-font;
          font-size: 1.2em;
          font-weight: 400;
          margin-top: 5px;
          letter-spacing: 1px;
          line-height: 1.4em;
          width: 100%;
        }



      }


}

/* Portfolio section */

#portfolio {
  @include transform(rotate(-2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
  background-color: #fff;
  width: 120%;
  margin: 30px 0 10px -10%;

    .portfolio-inside {
      @include transform(rotate(2deg));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 50%  51%;
      max-width: 1100px;
      display: block;
      margin: 30px auto;
    }

    .portfolio-top {
      font-family: $pri-font;
      display: block;
      margin: 40px auto 15px auto;
      width: 500px;
      text-align: center;

    }

    .portfolio-block {
      display: block;
      margin: 10px auto;
      width: 450px;

        img {
          background: $pri-color;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          cursor: pointer;

          &:hover {
            background: darken($pri-color, 10%);
          }

          &.left {
            padding: 4px 3px 4px 0;
          }

          &.right {
            padding: 4px 0 4px 3px;
          }

        }

        img, .item-name {
          float: left;
        }

        .item-name {
          font-size: 32px;
          line-height: 32px;
          margin: 0 20px;
          width: 350px;
        }

        .item-description {
          font-size: 20px;
          letter-spacing: .5px;
          line-height: 24px;
          font-weight: 400;
          color: #333;

            a {
              color: $sec-color;
              white-space: nowrap;
              display: inline-block;

              &:hover {
                color: $sec-color-dark;
              }

              span {
                font-size: 14px;
              }

            }
        }
    }
}

/* About section */
#about {
  @include transform(rotate(-2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
  background-color: #fff;
  width: 120%;
  margin: 30px 0 10px -10%;
  padding-bottom: 10px;

    .about-inside {
      @include transform(rotate(2deg));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 50%  51%;
      max-width: 1100px;
      display: block;
      margin: 30px auto;
    }

    p {
      text-align: center;
      color: #333;
      font-family: $pri-font;
      font-size: 1.2em;
      margin-top: 20px;
      line-height: 1.5em;
      width: 60%;
      display: block;
      margin: 20px auto;
      font-weight: 400;
    }

    a {
      color: $sec-color;

      &:hover {
        color: $sec-color-dark;
      }
    }

    .kyle {
      display: block;
      margin: 0 auto;
      width: 150px;
      @include border-radius(50%);
    }
}

/* Contact section */

#contact {
  @include transform(rotate(-2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
  background-color: #fff;
  width: 120%;
  margin: 30px 0 20px -10%;
  padding-bottom: 10px;

    .contact-inside {
      @include transform(rotate(2deg));
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform-origin: 50%  51%;
      max-width: 1100px;
      display: block;
      margin: 0 auto;
      padding-top: 5px;
    }

    .svgs {
      width: $svg-div-social;
      display: block;
      margin: 20px auto 10px auto;
    }

    figure {
      float: left;
      width: $svg-size-social;
      margin: $svg-margin;
      box-sizing: border-box;
    }

    img {
      border-radius: 50%;

    }

    a {
      display: block;
      @include transition(border 500ms, border-color 500ms);

      &:hover img {
        border: 3px solid $pri-color;
      }

    }

}

/* 404 section */
#four04 {
  @include transform(rotate(-2deg));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50%  51%;
  background-color: #fff;
  width: 120%;
  margin: 30px 0 10px -10%;
  padding-bottom: 10px;

  .four04-inside {
    @include transform(rotate(2deg));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 50%  51%;
    max-width: 1100px;
    display: block;
    margin: 30px auto;
  }

  p {
    text-align: center;
    color: #333;
    font-family: $pri-font;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 75%;
    display: block;
    margin: 0 auto 70px;
    font-weight: 400;
  }

  a {
    color: $sec-color;
    &:hover {
      color: $sec-color-dark;
    }
  }
}

/* Computer CSS drawing */
#project {
  display: block;
  margin: 0 auto;
  width: $total-width + $mobile-width;
  max-width: 100%;
}

.responsive-wrap {
  width: $total-width;
  height: $total-height;
  max-width: 100%;
  display: block;
  margin: 0 auto 50px auto;
  float: left;
}

.desktop {
  z-index: 4;
  margin-left: 25px;
}

.screen-border {
  width: 100%;
  padding: $screen-padding-tb $screen-padding-lr;
  box-sizing: border-box;
  height: $sb-height;
  background: $device-color;
  box-shadow: 0 0 $screen-padding-tb*.5 rgba(0,0,0,.33) inset;
  @include border-radius(8px);
}

.screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 $screen-padding-tb*.25 rgba(0,0,0,.5) inset;
  @include border-radius(2px);
}

.projlink {
    display: block;
    width: 100%;
    height: 100%;
}

.button {
  height: 0px;
  width: 0px;
  background-color: darken($device-color, 5%);
  display: block;
  margin: 0 auto;
  @include border-radius(50%);
  box-shadow: 0px 0px 1px rgba(0,0,0,.2) inset;
}

.mic {
  height: 0px;
  width: 0px;
  background-color: darken($device-color, 5%);
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(0,0,0,.2) inset;
}

.desktop-stand {
  display: block;
  margin: 0 auto;
  width: $bottom-width;
  opacity: 1;
}

.stand {
  width: $stand-width;
  height: $stand-height;
  background: $device-color;
  display: block;
  margin: 0 auto;
  box-shadow: 0 $stand-width*.1 1px rgba(0,0,0,.2) inset, 0 0 1px rgba(0,0,0,.2) inset;

}

.bottom {
  width: $bottom-width;
  height: $bottom-height;
  background: $device-color;
  box-shadow: 0 0 $screen-padding-tb*.2 rgba(0,0,0,.33) inset;;
  @include border-radius(3px 3px 0 0);
}

.tablet {
  width: $tablet-width;
  height: $total-height;
  z-index: 6;
  margin-right: -50px;
  margin-top: 100px;
  display: none;

    .screen-border {
      padding: $screen-padding-tb-tablet*1.6 $screen-padding-lr;
    }

    .mic {
      height: $button*0.25;
      width: $button*3;
      margin-top: -($screen-padding-tb-tablet)/1.2;
      margin-left: $screen-padding-lr*13;
      border-radius: 20%;
      position: absolute;
    }

    .button {
      height: $button;
      width: $button;
      margin: ($screen-padding-tb-tablet - $button*.5) / 2 auto;
    }

}

.mobile {
  width: $mobile-width;
  height: $mobile-height;
  z-index: 5;
  margin-left: -50px;
  margin-top: 40px;

    .screen-border {
      padding: $screen-padding-tb-mobile $screen-padding-lr;
    }

    .mic {
      height: $button*0.25;
      width: $button*3;
      margin-top: -($screen-padding-tb-mobile)/2;
      margin-left: $screen-padding-lr*6.06;
      border-radius: 20%;
      position: absolute;
    }

    .button {
      height: $button*1.1;
      width: $button*1.1;
      margin: ($screen-padding-tb-mobile - $button*1.1) / 2 auto;
    }

}

.leslie .screen { background: url('../assets/portfolio/leslie-desktop.jpg'); background-size: cover; }
.leslie .tablet .screen { background: $screen-color url('../assets/portfolio/leslie-tablet.jpg'); background-size: cover; }
.leslie .mobile .screen { background: $screen-color url('../assets/portfolio/leslie-mobile.jpg'); background-size: cover; }

.whogotlucilled .screen { background: url('../assets/portfolio/wgl-desktop.jpg'); background-size: cover; }
.whogotlucilled .tablet .screen { background: $screen-color url('../assets/portfolio/wgl-tablet.jpg'); background-size: cover; }
.whogotlucilled .mobile .screen { background: $screen-color url('../assets/portfolio/wgl-mobile.jpg'); background-size: cover; }

.cbc .screen { background: url('../assets/portfolio/cbc-desktop.jpg'); background-size: cover; }
.cbc .tablet .screen { background: $screen-color url('../assets/portfolio/cbc-tablet.jpg'); background-size: cover; }
.cbc .mobile .screen { background: $screen-color url('../assets/portfolio/cbc-mobile.jpg'); background-size: cover; }

.thewikifix .screen { background: url('../assets/portfolio/wikifix-desktop.jpg'); background-size: cover; }
.thewikifix .tablet .screen { background: $screen-color url('../assets/portfolio/wikifix-tablet.jpg'); background-size: cover; }
.thewikifix .mobile .screen { background: $screen-color url('../assets/portfolio/wikifix-mobile.jpg'); background-size: cover; }

.clayton .screen { background: url('../assets/portfolio/clayton-desktop.jpg'); background-size: cover; }
.clayton .tablet .screen { background: $screen-color url('../assets/portfolio/clayton-tablet.jpg'); background-size: cover; }
.clayton .mobile .screen { background: $screen-color url('../assets/portfolio/clayton-mobile.jpg'); background-size: cover; }

.sandman .screen { background: url('../assets/portfolio/sandman-desktop.jpg'); background-size: cover; }
.sandman .tablet .screen { background: $screen-color url('../assets/portfolio/sandman-tablet.jpg'); background-size: cover; }
.sandman .mobile .screen { background: $screen-color url('../assets/portfolio/sandman-mobile.jpg'); background-size: cover; }

.darwins .screen { background: url('../assets/portfolio/darwins-desktop.jpg'); background-size: cover; }
.darwins .tablet .screen { background: $screen-color url('../assets/portfolio/darwins-tablet.jpg'); background-size: cover; }
.darwins .mobile .screen { background: $screen-color url('../assets/portfolio/darwins-mobile.jpg'); background-size: cover; }

.titledrops .screen { background: url('../assets/portfolio/titledrops-desktop.jpg'); background-size: cover; }
.titledrops .tablet .screen { background: $screen-color url('../assets/portfolio/titledrops-tablet.jpg'); background-size: cover; }
.titledrops .mobile .screen { background: $screen-color url('../assets/portfolio/titledrops-mobile.jpg'); background-size: cover; }

.millerlite .screen { background: url('../assets/portfolio/millerlite-desktop.jpg'); background-size: cover; }
.millerlite .tablet .screen { background: $screen-color url('../assets/portfolio/millerlite-tablet.jpg'); background-size: cover; }
.millerlite .mobile .screen { background: $screen-color url('../assets/portfolio/millerlite-mobile.jpg'); background-size: cover; }


/* footer section */

footer {
  p {
    text-align: right;
    margin: 0 20px 10px 0;
    color: #fff;
    font-family: $pri-font;
    font-weight: 300;
    font-size: 14px;
  }
}

/* Bouncing arrow - credit to dodozhang21 */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  60% {
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  70% {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}


@media screen and (max-width: ($total-width + $mobile-width + 50px)) {
  #project { width: $tablet-width + $mobile-width + 50px; }
  .responsive-wrap.desktop { display: none; }
  .responsive-wrap.tablet { display: block; }
  .responsive-wrap.tablet { margin: 30px 0 0 0; }
  .responsive-wrap.mobile { margin-left: 50px; margin-top: 30px; }
}

@media screen and (max-width: ($tablet-width + $mobile-width + 85px)) {
  .responsive-wrap.tablet { display: none; }
  .responsive-wrap.mobile { float: none; display: block; margin: 0 auto; }
}

/* Responsive */

@media screen and (max-width: 970px) {
  .experience .svgs {
    width: 750px;
  }
}

@media screen and (max-width: 850px) {
  nav { position: absolute; right: 0; border-left: 0; width: 35px; }
  nav ul { text-align: center; margin: 55px auto 0 auto; width: 300px; }
  nav ul li { margin: 20px; font-size: 42px; }
  .menu-button { top: 15px; background-color: transparent; }
  .menu-button:hover { background-color: transparent; }
  nav.open { margin-right: 0; width: 100%; }
  nav.open .menu-button { margin-left: 17px; background-color: transparent; }
  nav.open .menu-button:hover { background-color: transparent; }
  nav .navBottom { position: absolute; width: 100%; bottom: 20px }
  .kstardesigns-logo { width: 400px; }
  header h1 {  font-size: .8em; margin-top: -3px; margin-left: -100px; @include transform(rotate(-11deg)); -webkit-transform-origin: 50%  51%; }
  .stripe { height: auto; padding-bottom: 30px; }
  .skills .svgs { width: $svg-div / 2; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
  .skills figure { margin: ($svg-margin / 2) $svg-margin; }
  .experience .svgs { width: 100%; margin: 40px auto 20px auto; }
  .experience .svgs--companies { width: 80%; }
  .experience figure { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .experience .svgs--companies figure { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .experience figure figcaption { position: relative; }
  .experience figure.webcom img, .experience figure.petsmart img, .experience figure.asu img { margin: 10px auto; }
  }

@media screen and (max-width: 750px) {
  .experience .svgs--companies figure { width: 33.333%; }
}

@media screen and (max-width: 650px) {
  //#intro { height: 420px; position: relative; }
  .down { bottom: 40px; }
  header { top: calc(50% - 80px); }
  #portfolio { padding-bottom: 20px; }
  #portfolio .portfolio-top { width: 300px; }
  #portfolio .portfolio-block { width: 100%; }
  #portfolio .portfolio-block .item-name { font-size: 22px; line-height: 25px; margin: 0 10px; width: 240px; }
  #portfolio .portfolio-block img { width: 18px; height: 18px; }
  #portfolio .portfolio-block img.left { padding: 4px 2px 4px 0; }
  #portfolio .portfolio-block img.right { padding: 4px 0 4px 2px; }
  #about p { width: 70%; }
  #four04 h2.four04 { font-size: 10em; }
}

@media screen and (max-width: 550px) {
  .experience .svgs--companies figure { width: 50%; }
}

@media screen and (max-width: 500px) {
  .desktop-stand { display: none; }
  .innerwrap .c1 { display: none; }
  .innerwrap .c2 { width: 100%; }
  .innerwrap .c3 { display: none; }
  .innerwrap .c2 .innerbox { height: 20%; margin-bottom: 5%; }
  .innerwrap .c2 .innerbox:nth-child(2) { background-color: $lcol-color; }
  .innerwrap .c2 .innerbox:last-child { background-color: $pri-color-dark; }
  .responsive-wrap.tablet { margin: 0 auto; }
}

@media screen and (max-width: 440px) {
  .kstardesigns-logo { width: 300px; }
  nav ul li { font-size: 34px; }
  header h1 { margin-top: -2px; margin-left: -70px; }
  header h1 span { display: none; }
  .stripe { padding-bottom: 20px; }
  .skills .svgs { width: 320px; }
  .skills figure { width: 60px; }
  .experience figure img { height: 50px; }
  #contact .svgs { width: 300px; }
  #contact .svgs img { width: 40px; display: block; margin: 0 auto; }
  #contact figure { margin: 10px 5px; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.8em; }
  #four04 h2.four04 { font-size: 6em; }
  #four04 p { font-size: 1em; margin-top: 0; line-height: 1.2em; margin-bottom: 50px; }
}

@media screen and (max-width: 360px) {
  .experience figure figcaption { font-size: 1.1em; }
  #portfolio .portfolio-block { width: 90%; }
  #portfolio .portfolio-block .item-description { font-size: 1em; }
  #portfolio .portfolio-block .item-name { width: 210px; }
  #about p { font-size: 1em; }
  .experience .svgs--companies figure {
    &.millerlite img, &.jimbeam img, img {
      width: 80px;
    }
   }
}

@media screen and (max-height: 520px) {
  nav .navBottom, .sunSpot { display: none; }
  }
