*, *::before, *::after {
   box-sizing: border-box; 
}

#root {
    --board: #d4d7c4;
    --board-border: #87404f;
    --board-width: 539px;
    --handwriting: 'Edu SA Beginner', cursive;
    --pen-blue: #0f72ff;
    --bg-mid: #c19b73;
    --bg-lightest: papayawhip;
    --light-text: #333;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;

    @media (width <= 640px) {
        font-size: 24px;
    }
}

.subheader {
    font-size: 14px;
    display: block;
    text-transform: uppercase;

    @media (width <= 640px) {
        margin-top: 4px;
    }
}

.controls {
    position: relative;
    display: flex;
    justify-content: center;
    width: var(--board-width);
}

.total {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 21px;
    
    &-number {
        font-family: var(--handwriting);
        font-weight: 500;
        color: var(--pen-blue);
        font-size: 34px;
        line-height: 34px;
        padding-bottom: 6px;
    }
}

.clear {
    position: absolute;
    bottom: 1px;
    right: 2px;
    background: transparent;
    border: 0;
    padding: 3px 3px 2px;
    font-size: 14px;
    color: #f42;
}

.resp380, .resp450, .resp640 {
    .clear {
        font-size: 12px;
    }
}

.wrap {
    position: relative;
    width: var(--board-width);
    height: 132px;
    max-width: 100%;
    overflow: auto;

    &.resp380, &.resp450, &.resp640 {
        height: 95px;
        margin-bottom: -5px;

        .output {
            gap: 3px;
            background: repeating-linear-gradient(to right, #fff 0px, #fff 4px, var(--board) 4px, var(--board) 43px, var(--board) 43px);
        }

        .tile-wrap {
            width: 40px;

            .bonus-square-button {
                font-size: 8px;
                line-height: 8px;
                padding: 3px 4px 1.5px;
            }
        }

        .tile {
            width: 40px;
            height: 44px;

            .letter {
                font-size: 30px;
                margin-left: -2px;
            }

            .value {
                font-size: 10px;
                bottom: 1px;
                right: 5px;
                letter-spacing: -1px;
            }
        }

        .word {
            font-size: 30px;
            letter-spacing: 25px;
            padding-left: 19px;
        }

        .output, .word {
           height: 63px;
        }
        
        .bonus-square-triangle, .bonus-square-button::before, .bonus-square-button::after {
            display: none;
        }

        .bonus-square-description {
            margin-top: 0;
        }
    }

    &.resp800 {
        height: 114px;
        margin-bottom: 0;

        .output {
            gap: 4px;
            background: repeating-linear-gradient(to right, #fff 0px, #fff 4px, var(--board) 4px, var(--board) 61px, var(--board) 61px);
        }

        .tile-wrap {
            width: 57px;

            .bonus-square-button {
                font-size: 10px;
                line-height: 11px;
                padding: 3px 4px 1.5px;
            }
        }

        .tile {
            width: 57px;
            height: 61px;

            .letter {
                font-size: 39px;
                margin-left: -1px;
            }

            .value {
                font-size: 13px;
                bottom: 2px;
                right: 6px;
                letter-spacing: 0;
            }
        }

        .word {
            font-size: 38px;
            letter-spacing: 38px;
            padding-left: 26px;
        }

        .output, .word {
           height: 79px;
        }
        
        .bonus-square-triangle, .bonus-square-button::before, .bonus-square-button::after {
            display: none;
        }

        .bonus-square-description {
            margin-top: 0;
        }
    }
}

.output, .word {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--board-width);
    height: 93px;
}

.output {
    display: flex;
    padding: 4px;
    gap: 5px;
    background: repeating-linear-gradient(to right, #fff 0px, #fff 5px, var(--board) 5px, var(--board) 75px, var(--board) 75px);
    border: 5px solid var(--board-border);
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.45), inset 4px 4px 0 #fff, inset -4px -4px 0 #fff;
}

.word {
    color: transparent;
    background-color: transparent;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 46px;
    padding-left: 26px;
    font-family: 'Overpass', sans-serif;
    z-index: 9;
    border: 0;
    font-family: monospace;

    &:focus {
        outline: 0;
    }

    &:focus + .output {
        outline: 2px dashed #99d9f5;
        outline-offset: -4px;
    }
}

.bonus-square-description {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 4px 0 0;

    #click, #tap {
        display: none;
    }

    @media (width > 640px) {
        #click {
            display: inline;
        }
    }

    @media (width <= 640px) {
        #tap {
            display: inline;
        }
    }
}

.validity {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    padding: 8px 12px;
    background-color: var(--bg-lightest);
    border: 1px solid var(--bg-mid);
    border-radius: 3px;

    &-message, &-definition {
        margin: 0;
        color: var(--light-text);
    }

    &-message {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-definition {
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
    }
}

.progress-indicator {
    display: inline-flex;
    margin: -3px 12px 0 0;
  
    &-circular {
      width: 22px;
      height: 22px;
      flex-shrink: 0;
      border: 2px solid var(--light-text);
      border-radius: 50%;
      border-top-color: transparent;
      animation: rotate 1.5s infinite linear;
    }

    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.disclaimer {
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
}