*, *::before, *::after {
   box-sizing: border-box; 
}

#root {
    --board: #d4d7c4;
    --board-border: #87404f;
    --board-width: 539px;
    --handwriting: 'Edu SA Beginner', cursive;
    --pen-blue: #0f72ff;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 10px;
    font-size: 32px;
    text-align: center;

    @media (width <= 640px) {
        font-size: 24px;
    }
}

.subheader {
    font-size: 14px;
    display: block;
    text-transform: uppercase;

    @media (width <= 640px) {
        margin-top: 4px;
    }
}

.total {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 21px;
    
    &-number {
        font-family: var(--handwriting);
        font-weight: 500;
        color: var(--pen-blue);
        font-size: 34px;
        line-height: 34px;
        padding-bottom: 6px;
    }
}

.wrap {
    position: relative;
    width: var(--board-width);
    height: 132px;
    max-width: 100%;
    overflow: auto;
}

.output, .word {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--board-width);
    height: 93px;

    // @media (width < 640px) {
    //     min-width: 0;
    //     width: 100%;
    // }
}

.output {
    display: flex;
    padding: 4px;
    gap: 5px;
    background: repeating-linear-gradient(to right, #fff 0px, #fff 5px, var(--board) 5px, var(--board) 75px, var(--board) 75px);
    border: 5px solid var(--board-border);
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.45), inset 4px 4px 0 #fff, inset -4px -4px 0 #fff;
}

.word {
    color: transparent;
    background-color: transparent;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 46px;
    padding-left: 26px;
    font-family: 'Overpass', sans-serif;
    z-index: 9;
    border: 0;
    font-family: monospace;

    &:focus {
        outline: 0;
    }

    &:focus + .output {
        outline: 2px dashed #99d9f5;
        outline-offset: -4px;
    }
}

.bonus-square-description {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 4px 0 0;

    #click, #tap {
        display: none;
    }

    @media (width > 640px) {
        #click {
            display: inline;
        }
    }

    @media (width <= 640px) {
        #tap {
            display: inline;
        }
    }
}

.disclaimer {
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    width: 400px;
    max-width: 100%;
    margin-top: 30px;
}