* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

main .scores {
  margin-bottom: 10px;
}
main .scores table {
  border-collapse: collapse;
}
main .scores th, main .scores td {
  border: 1px solid black;
  width: 40px;
  font-size: 8px;
  padding: 5px;
}
main .scores .score-possible {
  font-style: italic;
}
main .scores .choose-score {
  display: none;
}
main .scores .choose-score.already-chosen {
  display: none !important;
}
main .dice .dice-flex {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
main .dice .die {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}
main .dice .die svg {
  width: 90%;
  height: 90%;
  flex: 0 0 90%;
}
main .dice .die .pip {
  display: none;
}
main .dice .die.r1 .one {
  display: block;
}
main .dice .die.r2 .two {
  display: block;
}
main .dice .die.r3 .three {
  display: block;
}
main .dice .die.r4 .four {
  display: block;
}
main .dice .die.r5 .five {
  display: block;
}
main .dice .die.r6 .six {
  display: block;
}
main .dice .held {
  color: transparent;
}
main .dice .held.yes {
  color: black;
}
main .buttons button {
  cursor: pointer;
}
main .buttons button:disabled {
  cursor: not-allowed;
}
main .buttons .hold-buttons {
  display: none;
  justify-content: space-between;
  width: 400px;
}
main .buttons .roll {
  margin: 40px 0;
}
main .buttons #choose-message {
  display: none;
}

.yz-dialog {
  display: block;
  z-index: 3;
  padding: 32px 48px 35px;
  margin: 0;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.13);
  width: 556px;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .yz-dialog {
    padding: 24px;
  }
}
@media screen and (max-width: 480px) {
  .yz-dialog {
    width: calc(100% - 20px);
    left: 10px;
  }
}
.yz-dialog[aria-hidden=true] {
  display: none;
}
@media screen and (max-width: 480px) {
  .yz-dialog--mobile-full {
    width: 100%;
    top: 0 !important;
    left: 0;
    border-radius: 0;
    min-height: 100vh;
  }
}
@media screen and (max-height: 875px) {
  .yz-dialog--mobile-full {
    position: absolute;
    top: 0 !important;
  }
}
.yz-dialog[data-bh-dialog-top] {
  position: absolute;
  margin-bottom: 50px;
}
.yz-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  overflow-y: auto;
}
.yz-dialog-overlay[aria-hidden=true] {
  display: none;
}
@media screen and (max-width: 480px) {
  .yz-dialog-overlay--mobile-full {
    display: block;
    padding: 0;
  }
}
.yz-dialog-fixed-page {
  overflow: hidden;
}
.yz-dialog .sr-only {
  opacity: 0;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/*# sourceMappingURL=styles.css.map */
