@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500&family=Poppins:wght@300;400;600&display=swap');

:root {
    --score-bg-color: #faf9da;
    --score-shadow-color: #efa55e;
    --poppins: 'Poppins', sans-serif;
    --handwriting: 'Edu SA Beginner', cursive;
    --scoresheet-border: #555;
    --pen-blue: #0f72ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 10px 50px;
}

.hidden {
    display: none !important;
}

.wrap {
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
    // padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;


    .logo-area {
        width: 33.333%;
        flex: 0 0 33.333%;
        padding-bottom: 8px;
        max-width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .yahtzee-logo {
        width: 90%;
        flex: 0 0 90%;
        
        $anim-length: 800;
        $letter-length: calc($anim-length / 7);

        &.active {
            .y-letter {
                animation: blink $anim-length+ms linear 0ms infinite forwards;
            }

            .a-letter {
                animation: blink $anim-length+ms linear $letter-length+ms infinite forwards;
            }

            .h-letter {
                animation: blink $anim-length+ms linear calc($letter-length*2)+ms infinite forwards;
            }

            .t-letter {
                animation: blink $anim-length+ms linear calc($letter-length*3)+ms infinite forwards;
            }

            .z-letter {
                animation: blink $anim-length+ms linear calc($letter-length*4)+ms infinite forwards;
            }

            .e-letter {
                animation: blink $anim-length+ms linear calc($letter-length*5)+ms infinite forwards;
            }

            .e-letter-2 {
                animation: blink $anim-length+ms linear calc($letter-length*6)+ms infinite forwards;
            }
        }

        @keyframes blink {
            0%   { opacity: 1; }
            14.3% { opacity: 1; }
            14.31%  { opacity: 0; }
            28.6% { opacity: 0; }
            28.61% { opacity: 1; }
            100% { opacity: 1; }
        }
    }

    #joker-text {
        font-family: var(--handwriting);
        color: var(--pen-blue);
        font-size: 17px;
        line-height: 21px;
        font-weight: 600;
        text-transform: uppercase;
        transform: rotate(-12deg);
        position: absolute;
        right: 0;
        bottom: 4px;
    }
    
    .score-area {
        display: flex;
        gap: 5px;
        align-items: center;
        height: 20px;
        font-family: 'Poppins';
        text-transform: uppercase;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        justify-content: flex-end;

        .score-flex {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 1px;
        }

        #current-score {
            font-size: 32px;
            letter-spacing: 0.5px;
            margin-top: -4px;
            color: var(--pen-blue);
            font-family: var(--handwriting);
        }

        .score-flex {
            font-size: 20px;
            gap: 8px;
        }
    }

    .score-area {
        display: flex;
        align-items: center;
        height: auto;
    }

    .rules-trigger {
        cursor: pointer;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border: 0;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -10px -9px 0 0;

        span {
            width: 22px;
            height: 22px;
            flex: 0 0 22px; 
            border: 2px solid #222;
            border-radius: 50%;
            background: transparent;
            font-weight: 600;
            font-size: 14px;
            color: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--poppins);
            padding-left: 1px;
        }
    }
}

main {
    .scores {
        width: 100%;
        margin: 0 auto 10px;

        .yahtzee-score-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .yahtzee-scores {
            width: calc(33.332% + 1px);
            border: 0;

            th {
                width: 100%;
                height: 100%;
                flex: 0 0 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 5px 5px 5px;
                border: 0;
            }

            td {
                width: 100%;
                flex: 0 0 100%;
                height: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                position: relative;
            }

            .final-scores {
                height: 40px;
                font-size: 30px;
                font-family: var(--handwriting);
                padding-top: 1px;
                border: 2px solid var(--scoresheet-border);
                border-bottom: 0;
                color: var(--pen-blue);
            }

            #yahtzee-bonus {
                font-size: 19px;
                padding-left: 5px;
                overflow-x: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 32px);
            }

            .choose-score-row, .choose-score-row td {
                border: 0;
                padding: 0;
                height: 0;
            }
        }

        .top-scores {
            font-family: var(--poppins);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            line-height: 16px;
            padding-right: 0px;
            align-self: flex-end;
            padding-left: 5px;
            padding-bottom: 2px;
            gap: 6px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: calc(100% - 33.332% - 1px);

            @media screen and (max-width: 374px) {
                font-size: 13px;
            }

            .top-scores-right {
                text-align: right;
                margin-top: -6px;
                width: 100%;
            }

            #current-top, #top-bonus {
                font-family: var(--handwriting);
                color: var(--pen-blue);
                font-size: 22px;
                line-height: 21px;
                font-weight: 600;
            }

            #current-top {
                font-size: 25px;
                margin-left: 1px;
                transform: translateY(1px);
                display: inline-block;
            }

            #top-bonus {
                font-family: var(--handwriting);
                color: var(--pen-blue);
                font-size: 17px;
                line-height: 21px;
                display: inline-block;
                transform: rotate(-12deg);
            }
        }

        .upper-scores {
            width: 100%;
            border: 1px solid var(--scoresheet-border);
            border-bottom: 0;

            tr {
                display: flex;
            }

            th {
                width: 16.666%;
                height: 16.666%;
                flex: 0 0 16.666%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 5px 5px 5px;
                border: 1px solid var(--scoresheet-border);
            }

            td {
                width: 16.666%;
                flex: 0 0 16.666%;
                height: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                position: relative;
            }
        }

        .upper-scores-die {
            width: 40px;
            height: 40px;
            border: 1px solid #222;
            border-radius: 6px;
            background-color: var(--score-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px -3px 0 0 #efa55e;

            @media screen and (max-width: 374px) {
                width: 32px;
                height: 32px;
            }

            svg {
                width: 90%;
                height: 90%;
                flex: 0 0 90%;
            }
        }

        .lower-scores {
            width: 100%;
            border: 1px solid var(--scoresheet-border);
            border-top: 0;

            tr {
                display: flex;
            }

            th {
                font-family: var(--poppins);
                text-transform: uppercase;
                width: 16.666%;
                flex: 0 0 16.666%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 5px 5px 5px;
                border: 1px solid var(--scoresheet-border);
            }

            td {
                width: 16.666%;
                flex: 0 0 16.666%;
                height: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                position: relative;
            }

            .lower-scores-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            .lower-scores-die {
                width: 40px;
                height: 40px;
                border: 1px solid #222;
                border-radius: 6px;
                background-color: var(--score-bg-color);
                padding: 1px;
                font-size: 16px;
                line-height: 16px;
                position: relative;
                box-shadow: 5px -3px 0 0 #efa55e;

                @media screen and (max-width: 374px) {
                    width: 32px;
                    height: 32px;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    flex: 0 0 100%;
                }

                &--yahtzee {
                    padding: 5px;
                    max-width: 100%;

                    svg {
                        width: 92%;
                        height: 100%;
                    }

                    @media screen and (min-width: 550px) {
                        width: 100%;
                        height: 50px;
                    }
                }
            }
        }

        .upper-scores, .lower-scores {
            .final-scores {
                height: 40px;
                font-size: 30px;
                font-family: var(--handwriting);
                padding-top: 1px;
                color: var(--pen-blue);
            }

            .choose-score-row {
                height: 0;
            }
        }

        table {
            border-collapse: collapse;
        }

        tr {
            
        }

        td {
            border: 1px solid var(--scoresheet-border);
            width: 40px;
            font-size: 8px;
            padding: 5px;
        }

        .score-possible {
            font-style: italic;
        }

        .choose-score {
            display: none;
            background-color: tomato;
            border: 0;
            color: white;
            font-family: var(--poppins);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 16px;
            font-weight: 600;
            position: absolute;
            top: -36px;
            z-index: 1;
            cursor: pointer;
            padding: 0;

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                left: 5px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 20px solid tomato;
                z-index: -1;
            }

            &.already-chosen {
                display: none !important;
            }
        }

        .choose-score-row {
            td {
                border: 0;
            }
        }
    }

    .straight-wrap {
        width: 100%;
        position: relative;
    }
    .straight {
        border: 1px solid var(--scoresheet-border);
        border-radius: 6px;
        background-color: var(--score-bg-color);
        font-size: 12px;
        line-height: 14px;
        z-index: 99;
        position: absolute;
        top: -61px;
        left: 50%;
        width: calc(33.333% - 30px);
        display: flex;
        justify-content: center;
        margin-left: 15px;
        text-transform: uppercase;
        padding: 0 5px;
        font-family: "Poppins";
        letter-spacing: 1px;

        @media screen and (min-width: 480px) {
           // width: 115px;
        }

        @media screen and (min-width: 375px) {
            font-size: 14px;
            line-height: 16px;
            top: -63px;
        }

        @media screen and (min-width: 415px) {
            width: calc(33.333% - 50px);
            margin-left: 25px;
            letter-spacing: 0.5px;
        }
    }

    .dice {
        margin-top: 60px;

        .die {
            width: 60px;
            height: 60px;
            background-color: var(--score-bg-color);
            border: 2px solid #555;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 90%;
                height: 90%;
                flex: 0 0 90%;
            }

            .pip {
                display: none;
            }

            &.r1 .one {
                display: block;
            }

            &.r2 .two {
                display: block;
            }

            &.r3 .three {
                display: block;
            }

            &.r4 .four {
                display: block;
            }

            &.r5 .five {
                display: block;
            }

            &.r6 .six {
                display: block;
            }
        }

        &.first-roll .die {
            border: 2px solid rgba(85,85,85,0.3);

            circle {
                fill: rgba(85,85,85,0.3);
            }
        }

        .held {
            color: transparent;
            background-color: transparent;
            border-radius: 0 0 6px 6px;
            text-align: center;
            text-transform: uppercase;
            margin-top: -4px;
            position: relative;
            z-index: -1;
            font-family: var(--poppins);
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            padding: 5px 0 1px;

            &.yes {
                color: #222;
                background-color: var(--score-shadow-color);
            }
        }
    }

    .buttons {

        button {
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .hold-buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &.disabled {
                .hold-button, .hold-title {
                    opacity: 0.3;
                }

                .hold-button-group {
                    cursor: default;
                }
            }

            &.enabled {
                .hold-button, .hold-title {
                    opacity: 1;
                }

                .hold-button-group {
                    cursor: pointer;
                }
            }
        }

        .hold-button-group {
            padding-top: 8px;
            width: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }

        button.hold-button {
            margin-top: 8px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f7dc6f;
            background: radial-gradient(#f7dc6f 0%, #f1c40f 85%, #f1c40f 100%);
            border: 2px solid #e6b905;
            border-bottom-width: 3px;
            color: transparent;
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);

            &:active {
                box-shadow: none;
            }
        }

        .hold-title {
            font-family: var(--poppins);
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.roll-section {
    .roll {
        display: block;
        margin: 30px auto 0;
        width: 200px;
        height: 45px;
        background: linear-gradient(to right, tomato 0%, rgb(200, 61, 37) 100%);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgb(200, 61, 37);
        border-bottom-width: 2px;
        border-radius: 15px;
        font-family: var(--poppins);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgb(200, 61, 37);
        cursor: pointer;

        &:active {
            box-shadow: none;
        }
    }

    .roll-no, .next-turn {
        font-family: var(--poppins);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        padding-right: 0px;
        text-align: center;
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    #choose-message {
        display: none;
        text-align: center;
        font-family: var(--poppins);
        font-size: 18px;
        margin: 25px auto 28.5px;
    }
}

.yz-dialog {
    display: block;
    z-index: 3;
    padding: 20px 30px 30px;
    margin: 0;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.13);
    width: 556px;
    max-width: 100%;

    @media screen and (max-width: 600px) {
        padding: 10px 15px;
    }

    @media screen and (max-width: 480px) {
        width: calc(100% - 20px);
        left: 10px;
    }

    &[aria-hidden="true"] {
        display: none;
    }

    &--mobile-full {
        @media screen and (max-width: 480px) {
            width: 100%;
            top: 0 !important; //needed to overwrite the inline declaration from JS
            left: 0;
            border-radius: 0;
            min-height: 100vh;
        }

        @media screen and (max-height: 875px) { //can be adjusted so full dialog is scrollable in smaller heights
            position: absolute;
            top: 0 !important; //needed to overwrite the inline declaration from JS
        }
    }

    &[data-bh-dialog-top] {
        position: absolute;
        top: 0 !important;
        margin-bottom: 50px;
    }

    &-overlay {
        &[aria-hidden="true"] {
            display: none;
        }

        background-color: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        overflow-y: auto;

        @media screen and (max-width: 480px) {
            &--mobile-full {
                display: block;
                padding: 0;
            }
        }

        @media screen and (max-height: 650px) {
            align-items: flex-start;
        }
    }

    &-fixed-page {
        overflow: hidden;
    }

    .sr-only {
        opacity: 0;
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }

    &--scores {
        width: 450px;
        max-width: 100%;
        padding-bottom: 50px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .high-score-area {
        display: flex;
        gap: 5px;
        align-items: center;
        height: 20px;
        font-family: 'Poppins';
        text-transform: uppercase;
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
        justify-content: flex-end;

        .trophy {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            margin-top: -1px;
        }
    }

    .high-score-flex {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 1px;
    }

    #high-score {
        font-size: 17px;
        margin-top: -1px;
    }

    &-close--top-right {
        cursor: pointer;
        background: transparent;
        border: 0;
        font-family: var(--handwriting);
        font-size: 54px;
        color: #222;
        width: 40px;
        height: 40px;
        line-height: 0;
        position: absolute;
        top: -8px;
        right: -4px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:focus, &:active {
            outline: 0;
            background: none;
        }

        span {
            position: absolute;
            top: 9px;
            right: 7px;
        }

        @media screen and (max-width: 600px) {
            top: -4px;
            right: -8px;
        }
    }

    &-close--text {
        background: transparent;
        border: 0;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        color: #222;
        font-family: var(--poppins);
        text-transform: uppercase;
        display: block;
        margin: 15px auto 0;
        cursor: pointer;
    }

    .new-game {
        background: linear-gradient(to right, tomato 0%, rgb(200, 61, 37) 100%);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgb(200, 61, 37);
        border-bottom-width: 2px;
        border-radius: 10px;
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px rgb(200, 61, 37);
        cursor: pointer;
        padding: 3px 14px;

        &:active {
            box-shadow: none;
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        font-family: var(--poppins);
        color: #222;
        gap: 10px;
        font-size: 23px;
        margin: 15px 0 0;
    }

    p {
        color: #222;
        font-family: var(--poppins);
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        margin: 0 0 5px; 
    }

    .disclaimer {
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px;
    }

    a, a:visited {
        color: var(--pen-blue);
    }

    &-yahtzee-logo {
        width: 85px;
        flex: 0 0 85px;
        transform: rotate(12deg) translateY(1px);

        path, polygon {
            fill: #222;
        }
    }

    table {
        border: 1px solid var(--scoresheet-border);
        font-family: var(--poppins);
        border-collapse: collapse;
        font-size: 14px;
        margin-top: 20px;

        tr {

        }

        th {  
            width: 50%;
            background-color: var(--scoresheet-border);
            color: #fff;
            text-align: center;
            padding: 5px;
        }

        td {
            width: 50%;
            color: #222;
            border: 1px solid var(--scoresheet-border);
            text-align: left;
            padding: 5px 10px;;
        }
    }

    .yz-score-card {
        font-family: var(--poppins);
        width: 220px;
        max-width: 100%;
        margin: 0 auto 30px;
        padding: 50px 0 0;

        .yz-flex-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            &--first {
                font-weight: 600;
                font-size: 24px;
                line-height: 27px;
                margin-bottom: 20px;
            }

            &--subtotal, &--high {
                position: relative;
            }
        }

        .finals {
            font-family: var(--handwriting);
            color: var(--pen-blue);
            font-size: 16px;
            line-height: 21px;
            display: inline-block;
            position: absolute;
            top: 1px;
            text-transform: uppercase;
            font-weight: 600;
        }

        #top-bonus-final {
            right: -41px;
            top: -12px;
            transform: rotate(15deg);
        }

        #yz-new-high {
            left: -43px;
            transform: rotate(-14deg);
        }
    }
}

footer {
    border: 2px dotted var(--scoresheet-border);
    margin-top: 20px;

    * {
        margin: 5px;
    }
}