* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    
}

main {
   

    .scores {
        margin-bottom: 10px;

        table {
            border-collapse: collapse;
        }

        tr {
            
        }

        th, td {
            border: 1px solid black;
            width: 40px;
            font-size: 8px;
            padding: 5px;
        }

        .score-possible {
            font-style: italic;
        }

        .choose-score {
            display: none;

            &.already-chosen {
                display: none !important;
            }
        }
    }

    .dice {
        .dice-flex {
            display: flex;
            justify-content: space-between;
            width: 400px;
        }

        .die-group {
            
        }

        .die {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            border-radius: 6px;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: transparent;

            svg {
                width: 90%;
                height: 90%;
                flex: 0 0 90%;
            }

            .pip {
                display: none;
            }

            &.r1 .one {
                display: block;
            }

            &.r2 .two {
                display: block;
            }

            &.r3 .three {
                display: block;
            }

            &.r4 .four {
                display: block;
            }

            &.r5 .five {
                display: block;
            }

            &.r6 .six {
                display: block;
            }
        }

        .held {
            color: transparent;

            &.yes {
                color: black;
            }
        }
    }

    .buttons {

        button {
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .hold-buttons {
            display: none;
            justify-content: space-between;
            width: 400px;
        }

        .roll {
            margin: 40px 0;
        }

        #choose-message {
            display: none;
        }
    }
}

footer {
}