@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --score-bg-color: #faf9da;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    
}

main {
   

    .scores {
        width: 100%;
        max-width: 850px;
        margin: 0 auto 10px;

        .upper-scores {
            width: 75%;
            max-width: 640px;

            tr {
                display: flex;
            }

            th {
                width: 16.667%;
                flex: 0 0 16.667%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 10px 5px 5px;
            }

            td {
                width: 16.667%;
                flex: 0 0 16.667%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
        }

        .upper-scores-die {
            width: 100%;
            max-width: 50px;
            aspect-ratio: 1 / 1;
            border: 1px solid black;
            border-radius: 6px;
            background-color: var(--score-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px -3px 0 0 #efa55e;

            svg {
                width: 90%;
                height: 90%;
                flex: 0 0 90%;
            }
        }

        .lower-scores {
            width: 100%;
            max-width: 850px;

            tr {
                display: flex;
            }

            th {
                font-family: "Poppins", sans-serif;
                text-transform: uppercase;
                width: 12.55%;
                flex: 0 0 12.55%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                &.lower-scores-yahtzee {
                    width: 24.7%;
                    flex: 0 0 24.7%;
                }
            }

            td {
                width: 12.55%;
                flex: 0 0 12.55%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                &.lower-scores-yahtzee {
                    width: 24.7%;
                    flex: 0 0 24.7%;
                }
            }

            .lower-scores-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            .lower-scores-die {
                width: 100%;
                max-width: 50px;
                aspect-ratio: 1 / 1;
                border: 1px solid #222;
                border-radius: 6px;
                background-color: var(--score-bg-color);
                padding: 1px;
                font-size: 16px;
                line-height: 16px;
                position: relative;

                @media screen and (min-width: 550px) {
                    width: 50px;
                    height: 50px;
                }
    
                img {
                    width: 100%;
                    height: 100%;
                    flex: 0 0 100%;
                }

                .lower-scores-straight {
                    position: absolute;
                    border: 1px solid #222;
                    border-radius: 6px;
                    background-color: var(--score-bg-color);
                    top: 27px;
                    width: 21vw;
                    padding: 2px 0 1.5px;
                    font-size: 3.5vw;
                    z-index: 99;
                }

                &--yahtzee {
                    padding: 5px;
                    max-width: 100%;
                    aspect-ratio: initial;

                    svg {
                        width: 92%;
                        height: 100%;
                        aspect-ratio: 2.6 / 1;
                    }

                    @media screen and (min-width: 550px) {
                        width: 100%;
                        height: 50px;
                    }
                }
            }

            .lower-scores-top-kind {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5vw; //21px;
                line-height: 4.58vw; //19px;
                gap: 0.48vw; //2px;
                margin-top: -0.24vw; //-1px;
                margin-left: -0.48vw; //-2px;

                @media screen and (min-width: 550px) {
                    font-size: 27px;
                    line-height: 24.5px;
                    gap: 2.5px;
                    margin-top: -1.3px;
                    margin-left: -2.6px;
                }
            }

            .lower-scores-of {
                font-size: 10px;
                letter-spacing: -0.5px;
            }

            
        }

        table {
            border-collapse: collapse;
        }

        tr {
            
        }

        td {
            border: 1px solid black;
            width: 40px;
            font-size: 8px;
            padding: 5px;
        }

        .score-possible {
            font-style: italic;
        }

        .choose-score {
            display: none;

            &.already-chosen {
                display: none !important;
            }
        }
    }

    .dice {
        .dice-flex {
            display: flex;
            justify-content: space-between;
            width: 400px;
        }

        .die-group {
            
        }

        .die {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 90%;
                height: 90%;
                flex: 0 0 90%;
            }

            .pip {
                display: none;
            }

            &.r1 .one {
                display: block;
            }

            &.r2 .two {
                display: block;
            }

            &.r3 .three {
                display: block;
            }

            &.r4 .four {
                display: block;
            }

            &.r5 .five {
                display: block;
            }

            &.r6 .six {
                display: block;
            }
        }

        .held {
            color: transparent;

            &.yes {
                color: black;
            }
        }
    }

    .buttons {

        button {
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .hold-buttons {
            display: none;
            justify-content: space-between;
            width: 400px;
        }

        .roll {
            margin: 40px 0;
        }

        #choose-message {
            display: none;
        }
    }
}

.yz-dialog {
    display: block;
    z-index: 3;
    padding: 32px 48px 35px;
    margin: 0;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.13);
    width: 556px;
    max-width: 100%;

    @media screen and (max-width: 600px) {
        padding: 24px;
    }

    @media screen and (max-width: 480px) {
        width: calc(100% - 20px);
        left: 10px;
    }

    &[aria-hidden="true"] {
        display: none;
    }

    &--mobile-full {
        @media screen and (max-width: 480px) {
            width: 100%;
            top: 0 !important; //needed to overwrite the inline declaration from JS
            left: 0;
            border-radius: 0;
            min-height: 100vh;
        }

        @media screen and (max-height: 875px) { //can be adjusted so full dialog is scrollable in smaller heights
            position: absolute;
            top: 0 !important; //needed to overwrite the inline declaration from JS
        }
    }

    &[data-bh-dialog-top] {
        position: absolute;
        margin-bottom: 50px;
    }

    &-overlay {
        &[aria-hidden="true"] {
            display: none;
        }

        background-color: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        overflow-y: auto;

        @media screen and (max-width: 480px) {
            &--mobile-full {
                display: block;
                padding: 0;
            }
        }
    }

    &-fixed-page {
        overflow: hidden;
    }

    .sr-only {
        opacity: 0;
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }
}

footer {
}