@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans:700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 12px; }

#app {
  max-width: 480px;
  margin: 0 auto; }

a {
  text-decoration: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }

.page-header {
  text-align: center;
  display: inline-block;
  margin: 0 0 15px;
  cursor: pointer; }

.bh-dialog-trigger, .bh-dialog-close {
  position: absolute;
  top: -9px;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer; }
  .bh-dialog-trigger svg, .bh-dialog-close svg {
    width: 24px;
    height: 24px;
    flex: 0 0 24px; }

.bh-dialog-close {
  top: 0; }

.search-box {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 3px;
  display: block; }

.helper-text {
  display: flex;
  width: 100%;
  max-width: 480px;
  margin: 0 auto; }
  .helper-text a, .helper-text button {
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    background-color: transparent;
    border: 0;
    padding: 8px 0;
    cursor: pointer;
    margin: 0; }
    .helper-text a:hover, .helper-text button:hover {
      color: #00205b;
      text-decoration: underline; }

.type-effectiveness-link {
  flex: 100%;
  display: flex;
  align-items: center;
  color: #222; }
  .type-effectiveness-link:hover {
    color: #00205b;
    text-decoration: underline; }
  .type-effectiveness-link svg {
    width: 10px;
    height: 10px;
    margin-left: 4px; }
  .type-effectiveness-link--one-pokemon {
    position: absolute;
    top: -23px; }
    .type-effectiveness-link--one-pokemon svg {
      margin-top: 1px; }

.result-count {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  text-align: right; }
  .result-count .separator {
    margin: 0 5px 0 8px; }

.query {
  width: 100%;
  height: 36px;
  padding: 0 36px 0 6px;
  font-size: 16px;
  font-family: 'Lato'; }

.cancel-search {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 24px;
  line-height: 34px;
  padding: 0 10px;
  z-index: 99;
  cursor: pointer; }

.pokemon-list {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  max-width: 480px; }

.pokemon-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; }

.number {
  font-weight: bold;
  font-size: 12px;
  width: 32px;
  padding-right: 10px;
  flex: 0 0 32px; }

.link {
  display: flex;
  align-items: center;
  flex: 1;
  color: #222; }
  .link:hover {
    color: #00205b;
    text-decoration: underline; }

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 48px; }
  .icon img {
    max-width: 100%; }

.name {
  padding: 0 10px;
  font-size: 15px;
  flex-grow: 1; }

.type-1 {
  margin: 0 5px 0 0; }

.type {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  border: 1px solid #222;
  border-radius: 2px;
  width: 65px;
  flex: 0 0 65px;
  cursor: pointer; }
  .type:focus {
    outline-offset: 5px; }
  @media screen and (max-width: 392px) {
    .type {
      width: 55px;
      font-size: 10px;
      flex: 0 0 55px; } }

.no-type-2 {
  width: 65px;
  height: 17px;
  flex: 0 0 65px;
  margin: 0; }
  @media screen and (max-width: 392px) {
    .no-type-2 {
      width: 55px;
      flex: 0 0 55px; } }

.normal {
  background-color: #aa9; }

.fire {
  background-color: #f42; }

.water {
  background-color: #39f; }

.electric {
  background-color: #fc3; }

.grass {
  background-color: #7c5; }

.ice {
  background-color: #6cf; }

.fighting {
  background-color: #b54; }

.poison {
  background-color: #a59; }

.ground {
  background-color: #db5; }

.flying {
  background-color: #89f; }

.psychic {
  background-color: #f59; }

.bug {
  background-color: #ab2; }

.rock {
  background-color: #ba6; }

.ghost {
  background-color: #66b; }

.dragon {
  background-color: #76e; }

.dark {
  background-color: #754; }

.steel {
  background-color: #aab; }

.fairy {
  background-color: #e9e; }

.show-all-bottom {
  width: auto;
  margin: 10px auto 20px;
  line-height: 23px; }

.credit {
  text-align: center;
  margin-top: 50px; }
  .credit a {
    color: #39f; }
    .credit a:hover {
      color: #0080ff; }

.bh-dialog {
  display: none;
  align-items: flex-start;
  padding: 32px 48px 35px;
  margin: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.13);
  opacity: 0;
  width: 480px;
  max-width: 100%;
  position: relative; }
  @media screen and (max-width: 600px) {
    .bh-dialog {
      padding: 24px; } }
  .bh-dialog.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1; }
    @media screen and (max-width: 480px) {
      .bh-dialog.open {
        width: calc(100% - 20px);
        left: 10px; } }
@keyframes animOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .bh-dialog[data-bh-dialog-top] {
    position: absolute;
    margin-bottom: 50px; }
  .bh-dialog-cover {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    overflow-y: auto; }
  .bh-dialog-fixed-page {
    overflow: hidden; }
  .bh-dialog-trigger {
    cursor: pointer; }
  .bh-dialog .radio-group-flex {
    display: flex;
    justify-content: center; }
    .bh-dialog .radio-group-flex label:first-of-type {
      border-radius: 2px 0 0 2px;
      border-right: 0; }
    .bh-dialog .radio-group-flex label:last-of-type {
      border-radius: 0 2px 2px 0; }
  .bh-dialog input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0 -1px 0 0; }
    .bh-dialog input[type="radio"]:checked + label {
      border: 2px solid #39f;
      line-height: 21px;
      box-shadow: 0 0 0 1px #39f;
      z-index: 9; }
    .bh-dialog input[type="radio"]#bulbapedia:checked ~ label[for="serebii"] {
      border-left: 0; }
  .bh-dialog label {
    width: 100px;
    min-width: 100px;
    display: inline-block;
    line-height: 23px;
    text-align: center; }
  .bh-dialog .preference-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px; }

/*# sourceMappingURL=styles.css.map */
