@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans:700");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
}

.page-header {
	text-align: center;
	margin: 0 0 15px;
}

.search-box {
	position: relative;
	width: 100%;
	max-width: 480px;
	margin: 10px auto 3px;
    display: block;
}

.result-count {
	margin: 0 auto;
	width: 100%;
	max-width: 480px;
	text-align: right;

	.separator {
		margin: 0 5px 0 8px;
	}

	button {
		color: #222;
		font-family: 'Lato', sans-serif;
		font-size: 12px;
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;

		&:hover {
			color: #00205b;
			text-decoration: underline;
		}
	}
}

.query {
	width: 100%;
    height: 36px;
    padding: 0 36px 0 6px;
    font-size: 16px;
	font-family: 'Lato';
}

.cancel-search {
	top: 0;
    right: 0;
    position: absolute;
    font-size: 24px;
    line-height: 33px;
    padding: 0 10px;
	z-index: 99;
	cursor: pointer;
}

.pokemon-list {
	margin: 0 auto;
	display: block;
	padding: 0;
	width: 100%;
	max-width: 480px;
}

.pokemon-row {
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

.number {
	font-weight: bold;
    font-size: 12px;
	width: 32px;
    padding-right: 10px;
	flex: 0 0 32px;
}

.link {
	display: flex;
    align-items: center;
    flex: 1;
	color: #222;

	&:hover {
		color: #00205b;
		text-decoration: underline;
	}
}

.icon {
	width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
	flex: 0 0 48px;

	img {
		max-width: 100%;
	}
}

.name {
	padding: 0 10px;
    font-size: 15px;
    flex-grow: 1;
}

.type-1 {
	margin: 0 5px 0 0;
}

.type {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	box-shadow: none;
	display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
	text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
	padding: 0 5px;
    border: 1px solid #222;
    border-radius: 2px;
	width: 65px;
	flex: 0 0 65px;
	cursor: pointer;

	&:focus {
		outline-offset: 5px;
	}

	@media screen and (max-width: 392px) {
		width: 55px;
		font-size: 10px;
		flex: 0 0 55px;
	}
}

.no-type-2 {
	width: 65px;
	height: 17px;
	flex: 0 0 65px;
    margin: 0;

	@media screen and (max-width: 392px) {
		width: 55px;
		flex: 0 0 55px;
	}
}

.normal {
	background-color: #aa9;
}

.fire {
	background-color: #f42;
}

.water {
	background-color: #39f;
}

.electric {
	background-color: #fc3;
}

.grass {
	background-color: #7c5;
}

.ice {
	background-color: #6cf;
}

.fighting {
	background-color: #b54;
}

.poison {
	background-color: #a59;
}

.ground {
	background-color: #db5;
}

.flying {
	background-color: #89f;
}

.psychic {
	background-color: #f59;
}

.bug {
	background-color: #ab2;
}

.rock {
	background-color: #ba6;
}

.ghost {
	background-color: #66b;
}

.dragon {
	background-color: #76e;
}

.dark {
	background-color: #754;
}

.steel {
	background-color: #aab;
}

.fairy {
	background-color: #e9e;
}


.show-all-bottom {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #222;
	margin: 0 auto;
	display: block;
	padding: 10px;
	text-align: center;
	background-color: transparent;
	border: 0;
	cursor: pointer;

	&:hover {
		color: #00205b;
		text-decoration: underline;
	}
}

.credit {
    text-align: center;
    margin-top: 10px;

	a {
		color: #39f;

		&:hover {
			color: darken(#39f, 10%);
		}
	}
}