@charset "UTF-8";
/* CSS Document */


/*  -  -  -  -  - Global -  -  -  -  -  */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {margin: 0;font-family: 'Open Sans', sans-serif;}
h1, h2 {margin: 0;}
ul {margin: -20px 0 10px 0;}
li {margin-bottom: 7px;}
a { }
img {margin: 30px auto 0 auto; display: block;}

#page {
	width: 80%;
	margin: 40px auto;
	padding: 30px;
	border: 1px solid #a9a9a9;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
	background-color: #f2faf5;
}

section {
	background-color: #18c87b;
	padding: 10px;
	margin: 40px 0;
}

.top {
	text-align: center;
}

.top h1 {
	background-color: #fbff5e;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 0;
	border: 1px solid #a9a9a9;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.top a {
	background-color: #18c87b;
    box-shadow: 0 4px 0 0 #289c52;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    padding-top: 6px;
    display: inline-block;
    text-decoration: none;
    margin: 15px 0;
    width: 217px;
    height: 40px;
    cursor: pointer;
}

.top a:active {
	box-shadow: 0 2px 0 0 #289c52;
	margin: 17px 0 13px 0;
}


section h2 {
	background-color: #289c52;
	display: table;
	padding: 7px;
	top: -35px;
	left: -20px;
	position: relative;
	/*box-shadow: 1px 1px 2px rgba(0,0,0,0.5);*/
	border: 4px solid #f2faf5;
	color: #f2faf5;
}

#packages h2 {
	margin-bottom: 40px;
}

.package {
	width: 30%;
	float: left;
	margin: 0 10px 30px 0;
}

.package ul {
	margin: -5px 0 15px 0;
}

.package input[type=image] {
	margin: 10px auto -17px auto;
	display: block;
}

.p3 {
	margin-right: 0;
}

h3 {
	margin-top: -30px;
}

h3.circle {
	border-radius: 50%;
	display: inline-block;
	padding: 6px 16px;
	border: 5px solid #f2faf5;
	position: relative;
	top: -20px;
	font-size: 28px;
	color: #f2faf5;

}

.p1 h3.circle {background-color: #150ce8;}
.p2 h3.circle {background-color: #e8ae0c;}
.p3 h3.circle {background-color: #ff2527;}

.examples p, .examples ul {
	margin: -5px 0 15px 0;
}

small {
	clear: both;
	display: block;
	margin: -18px 0 30px 0;
}

.closing {
	text-align: center;
}




@media only screen and (max-width: 1050px){
	.package {width: 100%; float: none; margin-left: -10px;}
	h3.circle {margin-top: -18px;}
}

