@charset "UTF-8";
/* CSS Document */

/*  -  -  -  -  - Global -  -  -  -  -  */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:700italic);

body {margin: 0;font-family: 'Raleway', sans-serif;}
a {text-decoration: none; color: #000;}
p {margin: 0;}
h1 {font-size: 36px;text-transform: uppercase;margin: 0;}
h2 {font-size: 28px;text-transform: uppercase;}
.c {clear:both;}

.section {
	width: 100%;
}

.content {
	margin: 0 auto;
	display: block;
	width: 80%;
	text-align: center;	
}

/*  -  -  -  -  - Section Navbar -  -  -  -  -  */

.navbar {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.cn {
	padding: 7px 0;
	width: 100%;
	text-align: left;
	margin-bottom: -19px;
}

.cn img.logo {
	margin: 0 25px;
	position: relative;
	left: 0;
	top: 0;
}

.mobilenav {display:none;}
.mobilenav a {color:#fff;}

.mainnav {
	position: relative;
	bottom: 20px;
	display: inline-block;
	width: 675px;
}

.mainnav li {
	display: inline;
	padding: 20px;
}

.mainnav li a {
	color: #fff;
}

.mainnav li a:hover {
	color: #936b7b;
}

a#pull {
	display: none;
}		


.social {
	position: absolute;
	top: 0px;
	right: 15px;
	list-style-type: none;
	display: inline-block;
}

.social li {
	background-image: url(assets/social.png);
	line-height: 32px;
	width: 32px;
	height: 32px;
	background-position: 0px -32px;
    background-repeat: no-repeat;
    display: inline-block;
}

.social li:hover {
	cursor: pointer;
}

.social li a {
	display: inline-block;
	height: 32px;
	width: 32px;
}


.social li.fb {background-position: 0px 0px;}
.social li.fb:hover {background-position: 0px -32px;}
.social li.tw {background-position: 0px -256px;}
.social li.tw:hover {background-position: 0px -288px;}
.social li.gp {background-position: 0px -64px;}
.social li.gp:hover {background-position: 0px -96px;}
.social li.li {background-position: 0px -192px;}
.social li.li:hover {background-position: 0px -224px;}
.social li.in {background-position: 0px -128px;}
.social li.in:hover {background-position: 0px -160px;}

/*  -  -  -  -  - Section Infobox -  -  -  -  -  */

.infobox {
	position: fixed;
	top: 75px;
	right: 25px;
	z-index: 100;
	width: 300px;
	background-color: #18c87b;
	padding: 10px;
	text-align: center;
	box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}

.infobox h1 {
	font-size: 24px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.infobox h2 {
	font-size: 15px;
	text-transform: none;
}

.infobox p {
	font-size: 13px;
}

.infobox a {
	background-color: #fbff5e;
	box-shadow: 0 4px 0 0 #9c9e21;
	border-radius: 5px;
	font-size: 19px;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	margin: 15px 0;
}

.infobox a:active {
	box-shadow: 0 3px 0 0 #9c9e21;
	margin: 17px 0 13px 0;
}

.openclose {
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	width: 10px;
	top: 0px;
	right: 12px;
	cursor: pointer;
}

.noinfo {
	display: none;
}

.changewidth {
	width: 6px;
}

.rotater {
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    top: -2px;
	right: 9px;
}

/*  -  -  -  -  - Section 1 -  -  -  -  -  */

.one {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(assets/sf1.jpg);
	background-size: cover;
}

.logo-large {
	margin-bottom: 15px;
}

.one h1, .one h2 {
	color: #fff;
}

.one h2 {
	font-family: 'Shadows Into Light', sans-serif;
	margin-top: -5px;
}

.c1 {
	padding: 180px 0 130px 0;

}


/*  -  -  -  -  - Section 2 -  -  -  -  -  */

.two {
	background-color: #1c2135; /*#1a2732;*/
	box-shadow: 0px 4px 4px rgba(0,0,0,0.2), 0px -4px 4px rgba(0,0,0,0.2); 
}


.c2 {
	padding: 90px 0;
	color: #fff;
}

.c2 ul {

}

.c2 li {
	display: inline;
	list-style-type: none;
	margin: 0 3%;
	float: left;
	width: 25%;
	font-size: 18px;


}

/*  -  -  -  -  - Section 3 -  -  -  -  -  */

.three {

	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(assets/sf2.jpg);
	background-size: cover;
}

.c3 {
	padding: 110px 0 0 0;
}

.woman {
	width: 30%;
	float: left;
	position: relative;
	bottom: -4px;
} 

.testimonial {
	font-size: 38px;
	float: right;
	width: 70%;
}

blockquote {
	background-color: rgba(204,204,204,.75);
	border: 20px solid rgba(204,204,204,.4);
}
cite {
	font-size: 18px;
}

/*  -  -  -  -  - Section 4 -  -  -  -  -  */
.four {
	background-color: #000;
	border-top: 25px solid #000;
	border-bottom: 25px solid #000;
	display: none;
}
.c4 {
	
}

.caption p {
	color: #fff;
	background-color: rgba(0,0,0,.7);
	padding: 5px;
	width: 200px;
	margin: 0 auto;
	text-align: left;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	left: -20%;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



/*  -  -  -  -  - Section 5 -  -  -  -  -  */

.five {
	background-image: url(assets/map-background.jpg);
}

.c5 {
	padding: 240px 0;
}

.visitbox {
	width: 300px;
	position: relative;
	left: 5%;
	background-color: #b5e0c3;
	border: 5px solid #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	padding: 10px;

}

.visitbox h2 {
	font-size: 22px;
	margin-top: -3px;

}

/*  -  -  -  -  - Section 6 -  -  -  -  -  */

.six {
	background-color: #1c2135;
}
.c6 {
	padding: 80px 0;
	width: 1040px; 
}

.c6 img {
	border: 7px solid rgba(255,255,255,0.7);
	border-bottom: 30px solid rgba(255,255,255,0.7);
	margin: 10px;
}

.c6 h1 {
	color: #fff;
	margin-bottom: 10px;
}

.profile {
	float: left;
	margin: 10px 0;
}

.name {
	font-weight: bold;
	font-size: 14px;
	margin-top: -37px;
	display: block;
}

/*  -  -  -  -  - Section 7 -  -  -  -  -  */

.seven {
	background-color: #223852;

}
.c7 {
	padding: 70px 0;
}

.c7 h1 {
	color: #fff;
}

#contactform {
	width: 100%;
	max-width: 900px;
	margin: 30px auto; 
	position: relative;
	height: 400px;
	color: #dddddd;
	font-size: 18px;
	line-height: 2px;
	background-color: #dddddd;
	border-radius: 3px;
}

#contactleftside {
	float: left;
	height: 340px;
	width: 40%;
	padding-top: 60px;
	margin-left: 50px;
}

#contactrightside {
	float: right;
	width: 50%;
	height: 335px;
	padding-top: 65px;
}

input {
	width: 75%;
	height: 30px;
	margin: 15px 30px 30px 30px;
	font-size: 20px;
	background-color: transparent;
	border-color: #0089bc;
	border-width: 3px;
	color: #000;
}

input[type="submit"] {
	width: 100px;
	height: 30px;
	margin: 0;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

textarea {
	width: 75%;
	height: 170px;
	margin: 20px 30px 30px 30px;
	font-size: 20px;
	background-color: transparent;
	border-color: #0089bc;
	border-width: 3px;
	color: #000;
}

label {
	/*margin-left: -32px;*/
	color: #000000;
}

.msglbl {
	position: relative;
	left: -125px;
}


/*  -  -  -  -  - Section 8 -  -  -  -  -  */

/* .eight {
	background-color: #191970;

}
.c8 {
	padding: 120px 0;
}

.c8 h1 {
	color: #fff;
	font-family: 'Droid Serif', serif;
}

.achievements {
	float: left;
	width: 70%;
}

.resume {
	float: right;
	width: 30%;
}


.achievements ul {
	height: 200px;
	font-family: 'Droid Serif', serif;
	font-size: 28px;
	font-weight: 700;
	font-style: italic;
	line-height: 45px;
	text-align: left;
	color: #fff;
	list-style-type: none;
}

.achievements ul li {
	background-image: url('assets/ribbon.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 35px;
}*/

/*  -  -  -  -  - Section Footer -  -  -  -  -  */

.footer {
	background-color: #000;

}
.cf {
	padding: 10px 0;
}

.cf p {
	color: #fff;
	font-size: 14px;
}

.cf a {
	color: #fff;
	text-decoration: underline;
}

/*  -  -  -  -  - Responsive Stuff -  -  -  -  -  */

@media only screen and (max-width: 1280px) {
	.c6 {width: 950px;}
	.c6 img {width:200px;}
	.c6 div:nth-child(8) {display:none;}
}

@media only screen and (max-width: 1024px) {
	.social  {display: none;}
}

@media only screen and (max-width: 980px) {
	.c6 {width: 705px;}
	.c6 img {width:200px;}
	.c6 div:nth-child(8) {display:block;}
}

@media only screen and (max-width : 850px) {
	.navbar {background-color: #000;}
	.mainnav {
		display: none;
		
	}

	.mobilenav {
		height: auto;
		width: 100%;
		margin: 25px 0 56px -40px;
	}

	.mobilenav li {  
        display: block;    
   		padding: 15px;	
   		text-align: center;
   		color: #fff;
   		border-bottom: 1px solid rgba(255,255,255,0.2);  
    }  
    
    .mobilenav li:nth-child(1) {  
   		border-top: 1px solid rgba(255,255,255,0.2);  
    }

	a#pull {
		display: block;  
        width: 100%;  
        position: relative;
    }

    a#pull:after {  
        content:"";  
        background: url('assets/menu.png') no-repeat;  
        width: 24px;  
        height: 24px;  
        display: inline-block;  
        position: absolute;  
        bottom: 16px;
        right: 25px;
    }  
    .infobox {display: none;}
    .cn {margin-bottom:-3px;}

    .c1 {padding: 170px 0 100px 0;}
    .c2 {padding: 80px 0;}
	.c3 {padding: 130px 0 0 0;}
	.c5 {padding: 80px 0 190px 0;}
	.five {background-image: url(assets/map-background-small.jpg);}
	.visitbox {width: 100%;left:0%;}

	#contactform {height:500px;}
	#contactleftside {width: 90%;height:235px;padding-top:40px;}
	#contactrightside {width: 90%;padding-top:0;}
	textarea {height:80px;}
	.msglbl {left: -50%;top: 60px;}
}

@media only screen and (max-width: 750px) {
	.woman {display:none;}
	.testimonial {width:100%;}
	.c3 {padding: 50px 0;width:100%;}
	.visitbox h2 {font-size: 19px;}
	.c5 {padding: 70px 0 190px 0;}
	.c6 {width: 470px;}
	.c6 img {width:200px;}
	.c6 div:nth-child(8) {display:none;}
	#contactleftside {width: 100%;margin-left:30px;}
	#contactrightside {width: 85%;padding-top:0;}
	textarea {height:80px;width:70%;}
	input {width:70%;}
}

@media only screen and (max-width: 480px) {
	h1 {font-size: 32px;}
	h2 {font-size: 20px;}

	.c1 {padding: 130px 0 65px 0;}
	.logo-large {width:80px;height: 83px;}

	.c2 li {
		display: block;
		float: none;
		width: 75%;
	}

	.five {background-image: url(assets/map-background-smaller.jpg);}
	.visitbox {width:90%;left:0%;}
	.visitbox h2 {display:none;}
	.c5 {padding: 65px 0 200px 0;}

	.c6 {width: 250px;}
	.c6 img {width:200px;}
	.c6 div:nth-child(8) {display:block;}

	.c7 h1 {font-size: 26px;}

	#contactleftside {margin-left:0;}
	#contactrightside {padding-top:40px;width:100%;}
	label {left:0;}
	input {width:80%;}
	.msglbl {left:0;top:0;}
	textarea {width:80%;}
}

@media only screen and (max-width: 350px) {
	.c5 {padding: 80px 0 200px 0;}
	.five {background-image: url(assets/map-background-smallest.jpg);}

	input {width:70%;}
	textarea {width:70%;}
}
