@charset "utf-8";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800italic,700italic,500italic); /* font-family: 'Alegreya Sans', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

/* Globals */

* { box-sizing: border-box; margin: 0; }
body { font-family: 'Alegreya Sans', sans-serif; font-size: 16px; } 
body.home { overflow-y: hidden; }
a { text-decoration: none; color: inherit; }
p { margin: 15px 0; }
p.first { margin: 10px 0 15px 0; }
h1 { font-size: 3.7em; color: #fff; }
h2 { font-size: 2.7em; color: #fff;}
.c { clear:both; }
header, section { width: 100%; }

/* Home page */

body.home {
	height: 100vh;
}

.home header {
	height: 12vh;
	min-height: 70px;
	background: linear-gradient(to bottom, #a1a199 5%, #c8c8be 20%, #7b7b75 100%);
	display: inline-block;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.2) inset;
}

.home header h1 {
	text-align: center;
	font-weight: 800;
	font-style: italic;
	font-size: 2.8em;
	text-transform: uppercase;
	bottom: 0;
	position: relative;
	width: 100%;
	vertical-align: bottom;
	text-shadow: 3px 3px 10px #808080;
	top: 50%;
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	line-height: .5em;
  	margin-top: 6px;
}

.home header h1 span {
	font-size: .38em;
	margin-top: -1px;
	font-style: normal;
}

.nav-top, .nav-bottom {
	height: 44vh;
}

.nav-top div, .nav-bottom div {
	width: 50%;
	float: left;
	position: relative;
	height: 44vh;
}

.nav-top div.bio {
	background: url(../assets/bg/bg17.jpg);
	background-position: top left;
	background-size: cover;
}

.nav-top div.bio:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)), url(../assets/bg/bg17.jpg);
	background-position: top left;
	background-size: cover;
}

.nav-top div.resume {
	background: url(../assets/bg/bg14.jpg);
	background-position: top left;
	background-size: cover;
}

.nav-top div.resume:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)), url(../assets/bg/bg14.jpg);
	background-position: top left;
	background-size: cover;
}

.nav-bottom div.photos {
	background: url(../assets/bg/bg11.jpg);
	background-position: top right;
	background-size: cover;
}

.nav-bottom div.photos:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)), url(../assets/bg/bg11.jpg);
	background-position: top right;
	background-size: cover;
}

.nav-bottom div.contact {
	background: url(../assets/bg/bg7.jpg);
	background-position: top left;
	background-size: cover;
}

.nav-bottom div.contact:hover {
	background: linear-gradient(rgba(255, 255, 255, 0.05),rgba(255, 255, 255, 0.05)), url(../assets/bg/bg7.jpg);
	background-position: top left;
	background-size: cover;	
}

.nav-top h2, .nav-bottom h2 {
	text-align: center;
	text-transform: uppercase;
	position: relative;
 	top: 50%;
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
  	transform: translateY(-50%);
  	font-family: "Didact Gothic", sans-serif;
  	font-size: 3em;
}

.nav-top a, .nav-bottom a {
	padding: 80px;
	text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.break {
	display: none;
}

/* Inner pages */

.inner h1, .inner h2 {
	text-transform: uppercase;
}

.inner section.main {
	background: #fff;
	padding: 5% 10%;
  	font-size: 22px;
}

.photos.inner section.main {
	padding: 5% 10px;
}

.inner header {
	height: 300px;
	position: relative;
}

.inner header h1 {
	position: absolute;
  	bottom: 0px;
  	margin-bottom: -16px;
  	left: 10%;
  	font-size: 4em;
  	font-family: "Didact Gothic", sans-serif;
}
.inner .navigation {
	position: absolute;
	bottom: 60px;
	right: 20px;
}

.inner .navigation img {
	position: absolute;
	width: 42px;
	right: 0;
}

.inner .navigation ul {
	background-color: #fff;
	color: #5a575e;
	width: 130px;
	list-style-type: none;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 26px 15px 15px;
	text-align: right;
	margin-bottom: 10px;
	font-family: "Didact Gothic", sans-serif;
	display: none;
}

.inner #pullmobile {
	display: none;
}

.inner h2 {
	color: #000;
	font-size: 1.7em;
}

.inner footer {
	height: 250px;
	position: relative;
}

.inner footer h2 {
	position: absolute;
  	right: 7%;
	font-family: "Didact Gothic", sans-serif;
  	top: -17px;
  	font-size: 3em;
  	color: #fff;
  	opacity: .7;
}

.inner footer h2:hover {
	opacity: 1;
}

.inner footer h2 a:after {
	content: url(../assets/right.png);
	position: relative;
  	top: -3px;
 	left: 3px;
}

footer p {
	position: absolute;
	bottom: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	padding: 3px 0;
	color: #5a575e;
}

footer p a {
  	color: #324366;
}

	/* Bio page */
	.bio header {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.3),rgba(0, 37, 107, 0.3)), url(../assets/bg/bg18.jpg);
		background-size: cover;
	}

	.bio footer {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.2),rgba(0, 37, 107, 0.1)), url(../assets/bg/bg19.jpg);
		background-size: cover;	
		background-position: top center;
	}

	.bio .pic-right {
		float: right;
  		margin: 0 30px 30px 30px;
 	 	padding: 10px 10px 30px 10px;
  		border: 1px solid #787865;
  		box-shadow: 1px 1px 1px rgba(0,0,0,.7);		
	}

	.bio p a {
		font-weight: bold;
		color: #324366;
	}

	/* Resume page */
	.resume header {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.3),rgba(0, 37, 107, 0.3)), url(../assets/bg/bg15.jpg);
		background-size: cover;
		background-position: top center;
	}

	.resume footer {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.2),rgba(0, 37, 107, 0.1)), url(../assets/bg/bg16.jpg);
		background-size: cover;	
	}

	.resume p {
		text-align: center;
		margin-bottom: 25px;
	}

	.resume footer p {
		margin-bottom: 0;
	}

	.resume .pic-resume {
		display: block;
	  	margin: 0 auto;
	  	padding: 10px;
	  	border: 1px solid #787865;
	  	box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	  	max-width: 100%;
	}

	/*.mobileresume {
		display: none;
	}*/

	/* Photos page */
	.photos header {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.3),rgba(0, 37, 107, 0.3)), url(../assets/bg/bg12.jpg);
		background-size: cover;
	}

	.photos footer {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.2),rgba(0, 37, 107, 0.1)), url(../assets/bg/bg13.jpg);
		background-size: cover;	
		background-position: center;
	}

	.photos.inner h2 {
		text-align: center;
	}

	.photos.inner h2 span {
		text-transform: none;
		font-size: .8em;
	}
	
	.photos.inner h2 span.fp {
		text-transform: none;
		font-size: .9em;
		font-style: normal;
	}

	.photos.inner h2.more {
		margin-top: 60px;
		line-height: 1em;
	}

	.photos iframe {
		display: block; 
		margin: 20px auto;
		box-shadow: 0 0 2px rgba(0,0,0,0.8);
		max-width: 100%;
	}

	.photos .pic-youtube {
		display: block;
		margin: 20px auto;
		box-shadow: 0 0 2px rgba(0,0,0,0.8);
		max-width: 100%;
  		height: auto;
	}

	.photogallery {
		margin: 50px auto;
		width: 860px;
	}

	.photogallery img {
		margin: 10px; 
		box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	}

	/* Contact page */
	.contact header {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.3),rgba(0, 37, 107, 0.3)), url(../assets/bg/bg8.jpg);
		background-size: cover;
	}

	.contact footer {
		background: linear-gradient(to right, rgba(0, 37, 107, 0.2),rgba(0, 37, 107, 0.1)), url(../assets/bg/bg10.jpg);
		background-size: cover;	
	}

	.contact p {
		text-align: center;
	}

	.contact p span {
		font-weight: bold;
		color: #324366;
	}

	.contact form {
		width: 700px;
		display: block;
		margin: 50px auto;
		max-width: 100%;
	}

	input, textarea {
		width: 80%;
		height: 40px;
		margin: 5px auto 20px auto;
		display: block;
		border: 1px solid #000;
		font-size: .8em;
  		padding-left: 10px;
  		font-family: 'Alegreya Sans', sans-serif;
  		border-radius: 3px;
  		border: 1px solid #787865;
  		box-shadow: 1px 1px 1px rgba(0,0,0,.7);
  		background-color: #f8f8ff;

	}

	textarea {
		height: 140px;
		padding-top: 10px;
	}

	input:focus, textarea:focus {
       	box-shadow: 0 0 2px red;
	}

	label {
		margin: 5px auto;
		display: block;
		text-align: center;
		font-size: 1.2em;
	}

	input[type="submit"] {
		background-color: #b0c4de;
		width: 65%;
		max-width: 250px;
		font-size: 1.2em;
		cursor: pointer;
	}

/* Responsive */

				/* height */
@media screen and (max-height: 650px){
	.home header { min-height: 50px; }
}

@media screen and (max-height: 550px){
	.home header { min-height: 40px; }
}



				/* width */
@media screen and (min-width: 1300px){
	.photogallery { width: 1270px; }
}


@media screen and (min-width: 1200px){
	.home header h1 { font-size: 3.2em; }
	.photos footer { background-position: center -80px; }

}

@media screen and (max-width: 1100px){
	h2 { font-size: 2.2em; }
	.nav-top h2, .nav-bottom h2 { font-size: 2.5em; }
	.photos header { background-position: top center; }
	.contact header { background-position: -450px; }
}

@media screen and (max-width: 975px){
	.photos.inner header h1 { font-size: 4em; }
	.nav-top h2, .nav-bottom h2 { font-size: 2.2em; }
	.nav-top a, .nav-bottom a { padding: 30px; }
}

@media screen and (max-width: 900px){
	.nav-bottom a.photos { padding: 80px 0px; }
	.bio .pic-right { float: none; display: block; margin: 10px auto -10px auto; max-width: 100%; }
	.photos iframe { width: 500px; height: 281px; }
	.photos .pic-youtube { width: 500px; height: auto; }
	.photogallery { width: 660px; }
	.photogallery img { width: 300px; }
	.contact footer { background-position: top center; }
}

@media screen and (max-width: 760px){
	.photos.inner header h1 { font-size: 3em; margin-bottom: -13px; }
	.photogallery { width: 540px; }
	.photogallery img { width: 240px; }
	.break { display: inline; }
}

@media screen and (max-width: 650px){
	.nav-top a, .nav-bottom a { padding: 40px; }
	.nav-bottom a.photos { padding: 40px 0px; }
	.nav-top h2, .nav-bottom h2 { font-size: 2em; }

	.inner header { height: 120px; }
	.inner .navigation { top: 15px; right: 15px; }
	.inner header ul { border: 1px solid #dbdbdb; box-shadow: 1px 1px 1px rgba(0,0,0,0.7); margin-top: 52px; }
	.inner #pull { display: none; }
	.inner #pullmobile { display: block; }
	.inner h2 { font-size: 1.3em; }

	.photos iframe { width: 300px; height: 168px; }
	.photos .pic-youtube { width: 300px; height: auto; }
	.photos footer { background-position: left center; }
	.photogallery { width: 260px; }
	.photogallery img { max-width: 100%; }

	.contact header { background-position: -40px; }
	.resume.inner section.main { padding: 5% 3%; }
	.inner footer { height: 175px; }
	.resume footer { background-position: top left; }
	.nav-top div.resume, .nav-top div.resume:hover { background-position: -50px -4px; }
	.nav-bottom div.photos, .nav-bottom div.photos:hover { background-position: 325px; }

	.hidden { display: none; }
	
}

@media screen and (max-width: 560px){
	.inner section.main { font-size: 18px; }
	.contact.inner section.main { padding: 5% 3%; }
	.contact.thanks.inner section.main { padding: 25% 3%; }
	.inner footer h2 { opacity: 1; }
	.photos.inner header h1 { font-size: 2.5em; margin-bottom: -11px; }
	.nav-bottom div.photos, .nav-bottom div.photos:hover { background-position: 280px; }
}

@media screen and (min-width: 471px) {
	.home header { position: absolute; bottom: 0; }
}
@media screen and (max-width: 470px){
	body.home { overflow-y: visible; }
	.home header { height: 70px; }
	.nav-top, .nav-bottom { height: 300px; }
	.nav-top div, .nav-bottom div { height: 150px; float: none; width: 100%; }
	
	.home header h1 { font-size: 2.1em; }
	.nav-top a, .nav-bottom a { padding: 40px 20px; }
	
	.nav-top div.bio:hover { background: url(../assets/bg/bg17.jpg); background-position: top left; background-size: cover;  } 
	.nav-top div.resume:hover { background: url(../assets/bg/bg14.jpg); background-position: top left; background-size: cover; } 
	.nav-top div.photos:hover { background: url(../assets/bg/bg11.jpg); background-position: top right; background-size: cover; } 
	.nav-top div.contact:hover { background: url(../assets/bg/bg7.jpg); background-position: top left; background-size: cover; }
	
	.nav-top div.bio, .nav-top div.bio:hover { background-position: 0 -45px; }
	.nav-bottom div.photos, .nav-bottom div.photos:hover { background-position: 1px 0; }
	.nav-bottom div.contact, .nav-bottom div.contact:hover { background-position: 0px -50px;}

	.bio.inner header h1, .resume.inner header h1, .contact.inner header h1 { font-size: 3.5em; margin-bottom: -14px; }
	.photos.inner header h1 { font-size: 2.2em; margin-bottom: -9px; }
}

@media screen and (max-width: 360px){
	.home header h1 { font-size: 2.1em; }
	.nav-top h2, .nav-bottom h2 { font-size: 1.7em; }
	.nav-bottom div.photos, .nav-bottom div.photos:hover { background-position: 210px; }
	.photos.inner header h1 { font-size: 2em; margin-bottom: -8px; }
	.contact header { background-position: -100px; }
}


				/* height */
@media screen and (max-height: 650px){
	.home header h1 { font-size: 2.1em; }
}

@media screen and (max-height: 480px){
	.home header h1 { margin-top: 0; }
	.home header h1 span { display: none; }
}