@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

* { 
	box-sizing: border-box;
}

body {
	font-family: 'Bitter', serif;
	font-size: 18px;
}


h3 {
	margin: 5px;
}

.left { 
	float: left;
	width: 49%;
}

.right {
	float: right;
	width: 49%;
}

i { 
}

li span {
	width: 50px;
	display: inline-block;
	text-align: center;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 5px;
}

li {
	background: #24B25f;
	margin: 5px;
	padding: 8px 15px 8px 0;
	border-radius: 3px;
	color: #fff;
}

li.nested {
	cursor: pointer;
}

li.nested strong {
	font-size: 15px;
	position: relative;
	top: -2px;
}

li ul { 
	display: none;
	margin-left: 60px;
	list-style-type: circle;
}

li ul li {
	padding: 3px 8px 3px 0;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	border-bottom: 3px solid #fff;
}

.fa {
	color: #fff;
}

.fa:before {
	font-size: 20px;
}

.external li {
	background: #ff6041;
}

li.inactive {
	opacity: .75;
	text-decoration: line-through;
}

.kstar li {
	background: #1b9fb2;
}



@media screen and (max-width: 900px) {
	.left, .right { float: none; width: 100%; }
}

@media screen and (max-width: 500px) {
	li { padding-left: 15px; }
	li span { display: none; }
	li ul { margin-left: 20px; }
}


/*
FF6027
*/