<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Sports cards for fictional players">

	<title>Sports cards</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div id="app">
		<div class="search-box">
			<input class="query" type="text" v-model="query" placeholder="Search by character or show/book/movie">
			<div class="cancel-search" v-if="query" @click="cancelSearch">&times;</div>
		</div>
		<ul>
		<li class="container" v-for="player in filteredList" @click="flipCard(player)" :data-player="player.name">
				<div class="card-wrap">
					<div :class="{'front': true, [player.cardStyle]: true}">
						<div class="stuff">
							<div :class="{'topps': true, [player.toppsPosition]: true}">
								<img src="assets/topps50years.jpg" alt="TOPPS 50 YEARS"/>
							</div>
							<div class="player-image" :style="{ backgroundImage: 'url(assets/' + player.string + '.jpg)'}" ></div>
							<div class="team">
								<img :src="'assets/' + player.logo" :alt="player.team"/>
							</div>
							<div class="rookie" v-if="player.rookie">
								<span>ROOKIE<br/>CARD</span>
							</div>
							<div class="name-box">
								<h1>
									<span class="first-name">{{ player.name | trimLast }}</span> <span class="last-name">{{ player.name | trimFirst }}</span></h1>
							</div>
						</div>
					</div>
					<div class="back">
						<div :class="{'stuff': true, 'horizontal': player.isHorizontal}">
							<header>
								<div class="player-name">
									<span class="first-name">{{ player.name | trimLast }}</span><br/><span class="last-name">{{ player.name | trimFirst }}</span></div>
								<div class="player-position">{{ player.position }}</div>
								<div class="player-card-no"><span>{{ player.cardNo}}</span></div>
							</header>
							<div class="stats-story"  :style="{ backgroundImage: 'url(assets/' + player.string + '.jpg)'}">
								<div class="inner-box">
										<div class="stats-box">
												<p class="stats-header">Complete major league {{ player.recordsType }} records</p>
												<div class="row row--headings">
													<div class="heading" v-for="(value, key) in player.statsYear1">{{ key }}</div>
												</div>
												<div class="row row--year1">
													<div class="amount" v-for="(value, key) in player.statsYear1">{{ value }}</div>
												</div>
												<div class="row row--year2" v-if="player.statsYear2">
													<div class="amount" v-for="(value, key) in player.statsYear2">{{ value }}</div>
												</div>
												<div class="row row--totals">
													<div class="amount" v-for="(value, key) in player.totals">{{ value }}</div>
												</div>
										</div>
										<p class="story">{{ player.story }}</p>
										<div class="logos">
											<img class="topps" src="assets/topps.svg" alt="Topps logo"/>
											<p>&reg; &amp; &copy; 2001 THE TOPPS COMPANY, INC. ALL RIGHTS RESERVED. TOPPS AND OPENING DAY ARE TRADEMARKS OF THE TOPPS COMPANY, INC. &amp; MLB &amp; MLBPA, 2001.
											</p>
											<img class="mlb" src="assets/mlb.svg" alt="Major League Baseball logo"/>
											<img class="mlbpa" src="assets/mlbpa.png" alt="MLB Players Association logo"/>
										</div>
									</div>

							</div>

						</div>
					</div>
				</div>
		</li>
		</ul>

	</div>




	<script src="scripts/vue.min.js"></script>
	<script src="scripts/cards.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133279737-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-133279737-1');
	</script>

</body>
</html>
