@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i,700|Lato:300,400,400i,700,700i");
body {
  text-align: center;
  font-family: 'Lato', sans-serif; }

* {
  box-sizing: border-box; }

.inner-width {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px; }

.header-link {
  display: block; }

.td-logo {
  width: 320px; }
  @media screen and (max-width: 400px) {
    .td-logo {
      width: 275px; } }

h1, h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 5px; }
  @media screen and (max-width: 400px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-size: 18px; }
  @media screen and (max-width: 400px) {
    h3 {
      font-size: 14px; } }

.header-link + h2 {
  font-weight: 400;
  margin-top: -42px;
  font-size: 24px;
  margin-left: -45px;
  margin-bottom: 40px;
  color: #333;
  position: relative; }
  @media screen and (max-width: 400px) {
    .header-link + h2 {
      margin-top: -37px;
      font-size: 21px;
      margin-left: -41px;
      margin-bottom: 20px; } }
  .header-link + h2 svg {
    width: 9px;
    display: inline;
    margin-left: -14px;
    top: 2px;
    position: absolute; }
    @media screen and (max-width: 400px) {
      .header-link + h2 svg {
        width: 8px;
        top: 3px; } }

p, blockquote {
  font-size: 22px;
  line-height: 30px;
  font-family: 'Lato', sans-serif; }
  @media screen and (max-width: 700px) {
    p, blockquote {
      font-size: 18px;
      line-height: 25px; } }
  @media screen and (max-width: 400px) {
    p, blockquote {
      font-size: 16px;
      line-height: 24px; } }
  p a, blockquote a {
    text-decoration: none;
    color: #165589;
    font-weight: bold; }
    p a:hover, blockquote a:hover {
      color: #12446d; }
  p strong, blockquote strong {
    color: #e52645; }

blockquote {
  font-style: italic; }

.per-season {
  margin: 0 auto;
  display: block;
  width: 800px;
  max-width: 100%; }
  .per-season svg {
    width: 800px;
    max-width: 100%; }
    @media screen and (max-width: 960px) {
      .per-season svg {
        height: auto !important; } }
  .per-season .domain, .per-season .tick line {
    stroke: lightgrey; }
  .per-season .tick text {
    font-size: 18px; }
  .per-season strong {
    color: #e52645; }
  .per-season h3 {
    text-align: center;
    margin: -40px 0 0 0;
    font-size: 18px; }

.left-label {
  text-align: center;
  width: 120px;
  margin-left: -28px;
  font-size: 14px; }
  @media screen and (max-width: 1000px) {
    .left-label {
      font-size: 12px; } }
  @media screen and (max-width: 480px) {
    .left-label {
      font-size: 10px; } }
  .left-label p {
    margin: 0; }

.top-eps .box {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
.top-eps .top-section {
  display: flex; }
  .top-eps .top-section .episode {
    width: 50%;
    height: 224px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 15px;
    cursor: pointer;
    position: relative; }
    @media screen and (max-width: 590px) {
      .top-eps .top-section .episode {
        height: 170px; } }
    @media screen and (max-width: 500px) {
      .top-eps .top-section .episode {
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    .top-eps .top-section .episode.pda {
      background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%), url("assets/pda.jpg") top center no-repeat;
      background-size: cover;
      transition: all .3s ease-in;
      border-left: 5px solid #fff;
      border-top: 5px solid #fff; }
      .top-eps .top-section .episode.pda.active, .top-eps .top-section .episode.pda:hover {
        background: url("assets/pda.jpg") top center no-repeat;
        background-size: cover;
        transition: all .3s ease-in; }
      @media screen and (min-width: 801px) {
        .top-eps .top-section .episode.pda.active .episode-title {
          background-color: rgba(83, 139, 185, 0.85);
          border-right: 2px solid #538bb9;
          border-bottom: 2px solid #538bb9;
          transition: all .5s ease;
          transform: translate(300px, 65px);
          text-shadow: unset;
          padding: 0 5px;
          line-height: 38px; } }
    .top-eps .top-section .episode.counseling {
      background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%), url("assets/counseling.jpg") top center no-repeat;
      background-size: 100% auto, cover;
      border-right: 5px solid #fff;
      border-top: 5px solid #fff; }
      @media screen and (max-width: 400px) {
        .top-eps .top-section .episode.counseling {
          background: linear-gradient(to top right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 70%, rgba(255, 255, 255, 0.1) 100%), url("assets/counseling.jpg") top right no-repeat;
          background-size: 100% auto, cover; } }
      .top-eps .top-section .episode.counseling.active, .top-eps .top-section .episode.counseling:hover {
        background: url("assets/counseling.jpg") top center no-repeat;
        background-size: cover;
        transition: all .3s ease-in; }
        @media screen and (max-width: 400px) {
          .top-eps .top-section .episode.counseling.active, .top-eps .top-section .episode.counseling:hover {
            background-position: top right; } }
      @media screen and (min-width: 801px) {
        .top-eps .top-section .episode.counseling.active .episode-title {
          background-color: rgba(83, 139, 185, 0.85);
          border-right: 2px solid #538bb9;
          border-bottom: 2px solid #538bb9;
          transition: all .5s ease;
          transform: translate(-124px, 65px);
          text-shadow: unset;
          padding: 0 5px;
          line-height: 38px; } }
  .top-eps .top-section .episode-title, .top-eps .top-section .count {
    font-size: 30px;
    line-height: 54px;
    color: #fff;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.9); }
  .top-eps .top-section .episode-title {
    transition: all .5s ease; }
    @media screen and (max-width: 680px) {
      .top-eps .top-section .episode-title {
        font-size: 20px; } }
    @media screen and (max-width: 450px) {
      .top-eps .top-section .episode-title {
        line-height: 22px;
        text-align: center; }
        .top-eps .top-section .episode-title span {
          display: block; } }
  .top-eps .top-section .count {
    font-size: 48px; }
    @media screen and (max-width: 680px) {
      .top-eps .top-section .count {
        font-size: 38px; } }
    @media screen and (max-width: 590px) {
      .top-eps .top-section .count {
        font-size: 28px; } }
.top-eps .middle-section {
  width: 100%;
  height: 0;
  transition: .5s all ease; }
  .top-eps .middle-section.active {
    height: auto;
    border-bottom: 1px solid #c0c0c0; }
  .top-eps .middle-section .quotes {
    display: none;
    padding-top: 40px; }
    @media screen and (max-width: 800px) {
      .top-eps .middle-section .quotes {
        padding-top: 20px; } }
    .top-eps .middle-section .quotes .episode-title {
      display: none;
      background-color: rgba(83, 139, 185, 0.85);
      border-right: 2px solid #538bb9;
      border-bottom: 2px solid #538bb9;
      padding: 0 5px;
      line-height: 38px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      width: 280px;
      margin: 0 auto; }
      @media screen and (max-width: 800px) {
        .top-eps .middle-section .quotes .episode-title {
          display: block; } }
      @media screen and (max-width: 400px) {
        .top-eps .middle-section .quotes .episode-title {
          font-size: 22px;
          width: 200px; } }
    .top-eps .middle-section .quotes ul {
      padding: 0 30px; }
    .top-eps .middle-section .quotes li {
      list-style: none;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 600px) {
        .top-eps .middle-section .quotes li {
          flex-direction: column; } }
      .top-eps .middle-section .quotes li img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }
        @media screen and (max-width: 600px) {
          .top-eps .middle-section .quotes li img {
            order: 1; } }
      .top-eps .middle-section .quotes li p {
        background-color: rgba(255, 248, 43, 0.8);
        color: #222;
        font-size: 18px;
        line-height: 21px;
        border-radius: 20px;
        padding: 10px 15px; }
        @media screen and (max-width: 600px) {
          .top-eps .middle-section .quotes li p {
            order: 2; } }
        @media screen and (max-width: 400px) {
          .top-eps .middle-section .quotes li p {
            font-size: 15px; } }
        .top-eps .middle-section .quotes li p strong {
          color: inherit; }
      .top-eps .middle-section .quotes li:nth-child(odd) {
        justify-content: flex-start;
        text-align: left; }
        .top-eps .middle-section .quotes li:nth-child(odd) p {
          padding: 10px 15px 10px 30px;
          position: relative;
          margin-left: -10px;
          z-index: -1; }
          @media screen and (max-width: 600px) {
            .top-eps .middle-section .quotes li:nth-child(odd) p {
              margin-left: 0;
              margin-top: -10px;
              padding: 15px 20px 15px;
              text-align: center; } }
      .top-eps .middle-section .quotes li:nth-child(even) {
        justify-content: flex-end; }
        .top-eps .middle-section .quotes li:nth-child(even) p {
          padding: 10px 30px 10px 15px;
          position: relative;
          margin-right: -10px;
          z-index: -1;
          text-align: right; }
          @media screen and (max-width: 600px) {
            .top-eps .middle-section .quotes li:nth-child(even) p {
              margin-right: 0;
              margin-top: -10px;
              padding: 15px 20px 15px;
              text-align: center; } }
    .top-eps .middle-section .quotes.active {
      display: block; }
.top-eps .bottom-section {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 600px) {
    .top-eps .bottom-section {
      flex-direction: column; } }
  .top-eps .bottom-section .episode {
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #c0c0c0; }
    .top-eps .bottom-section .episode:nth-child(odd) {
      border-right: 1px solid #c0c0c0; }
      @media screen and (max-width: 600px) {
        .top-eps .bottom-section .episode:nth-child(odd) {
          border-right: 0; } }
    @media screen and (max-width: 600px) {
      .top-eps .bottom-section .episode {
        width: 100%; } }
    @media screen and (max-width: 350px) {
      .top-eps .bottom-section .episode {
        height: 50px; } }
  .top-eps .bottom-section .episode-title {
    color: #555353;
    font-size: 22px;
    line-height: 80px;
    font-weight: bold; }
    @media screen and (min-width: 600px) and (max-width: 800px) {
      .top-eps .bottom-section .episode-title {
        font-size: 15px; } }
    @media screen and (max-width: 600px) {
      .top-eps .bottom-section .episode-title {
        font-size: 18px; } }
    @media screen and (max-width: 350px) {
      .top-eps .bottom-section .episode-title {
        font-size: 14px;
        line-height: 50px; } }
  .top-eps .bottom-section .count {
    color: #222;
    font-size: 34px;
    line-height: 80px;
    font-weight: bold; }
    @media screen and (min-width: 600px) and (max-width: 800px) {
      .top-eps .bottom-section .count {
        font-size: 24px; } }
    @media screen and (max-width: 600px) {
      .top-eps .bottom-section .count {
        font-size: 28px; } }
    @media screen and (max-width: 350px) {
      .top-eps .bottom-section .count {
        line-height: 50px; } }

.per-char-per-season {
  /* add class 'shown' to start the animation */
  /* get length of each .line for its offset/array */
  /* show/hide dots as well when activated */
  /* .dot::after {
  	content: attr(data-count);
  	position: absolute;
  	width: 10px;
  	height: 10px;
  	 color: black;
  } */ }
  .per-char-per-season.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 1300px) {
      .per-char-per-season.flexbox {
        flex-direction: column;
        margin: 0 auto; } }
  .per-char-per-season .left-label {
    text-align: center;
    width: 120px;
    margin-left: -28px;
    font-size: 14px; }
    @media screen and (max-width: 1000px) {
      .per-char-per-season .left-label {
        font-size: 12px; } }
    .per-char-per-season .left-label p {
      margin: 0; }
  .per-char-per-season svg {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
    @media screen and (max-width: 700px) {
      .per-char-per-season svg {
        max-width: 700px;
        height: 400px; } }
  @media screen and (max-width: 700px) {
    .per-char-per-season .chart {
      overflow-x: scroll; } }
  .per-char-per-season .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
    shape-rendering: crispEdges; }
  .per-char-per-season .grid path {
    stroke-width: 0; }
  .per-char-per-season .axis path {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges; }
  .per-char-per-season .axis text {
    fill: #555; }
  .per-char-per-season .axis line {
    stroke: #e7e7e7;
    shape-rendering: crispEdges; }
  .per-char-per-season .axis .axis-label {
    font-size: 14px; }
  .per-char-per-season .line {
    fill: none;
    stroke-width: 1.5px;
    display: none; }
    .per-char-per-season .line.shown {
      display: block; }
@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }
  .per-char-per-season .dot {
    /* consider the stroke-with the mouse detect radius? */
    stroke: transparent;
    stroke-width: 10px;
    cursor: pointer; }
  .per-char-per-season .dot:hover {
    stroke: rgba(68, 127, 255, 0.3); }
  .per-char-per-season .dot-group {
    position: relative;
    opacity: 0; }
  .per-char-per-season .count {
    display: none;
    font-size: 13px;
    fill: MidnightBlue; }
  .per-char-per-season .dot-group:hover .count {
    display: block; }
  .per-char-per-season .dots {
    z-index: -1;
    display: none; }
    .per-char-per-season .dots.shown {
      z-index: 99;
      display: block; }
      .per-char-per-season .dots.shown .dot-group {
        animation: showDot 200ms linear forwards; }
      .per-char-per-season .dots.shown .dot-group.dot2 {
        animation-delay: .333s; }
      .per-char-per-season .dots.shown .dot-group.dot3 {
        animation-delay: .667s; }
      .per-char-per-season .dots.shown .dot-group.dot4 {
        animation-delay: 1s; }
      .per-char-per-season .dots.shown .dot-group.dot5 {
        animation-delay: 1.333s; }
      .per-char-per-season .dots.shown .dot-group.dot6 {
        animation-delay: 1.667s; }
      .per-char-per-season .dots.shown .dot-group.dot7 {
        animation-delay: 2s; }
      .per-char-per-season .dots.shown .dot-group.dot8 {
        animation-delay: 2.333s; }
      .per-char-per-season .dots.shown .dot-group.dot9 {
        animation-delay: 2.667s; }
@keyframes showDot {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .per-char-per-season .key {
    display: flex;
    align-items: center; }
  .per-char-per-season .key ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px; }
    @media screen and (max-width: 1300px) {
      .per-char-per-season .key ul {
        width: 440px;
        margin: 20px auto; } }
    @media screen and (max-width: 480px) {
      .per-char-per-season .key ul {
        width: 320px; } }
  .per-char-per-season .key li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
    position: relative;
    margin: 5px; }
    .per-char-per-season .key li::before {
      content: attr(data-tds);
      position: absolute;
      background-color: #fff;
      padding: 3px;
      border-radius: 50%;
      top: 2px;
      left: -4px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      font-size: 12px;
      box-sizing: border-box;
      width: 23px;
      height: 23px;
      text-align: center; }
    .per-char-per-season .key li img {
      max-width: 100%;
      display: block;
      border-radius: 50%;
      margin: 0; }
    .per-char-per-season .key li.active.michael {
      background-color: darkgreen; }
    .per-char-per-season .key li.active.dwight {
      background-color: goldenrod; }
    .per-char-per-season .key li.active.pam {
      background-color: lightcoral; }
    .per-char-per-season .key li.active.jim {
      background-color: darkblue; }
    .per-char-per-season .key li.active.andy {
      background-color: cornflowerblue; }
    .per-char-per-season .key li.active.toby {
      background-color: mediumpurple; }
    .per-char-per-season .key li.active.robert {
      background-color: limegreen; }
    .per-char-per-season .key li.active.kevin {
      background-color: saddlebrown; }
    .per-char-per-season .key li.active.angela {
      background-color: darkred; }
    .per-char-per-season .key li.active.darryl {
      background-color: olive; }

.facts {
  font-size: 22px;
  line-height: 30px;
  font-family: 'Lato', sans-serif; }
  .facts li {
    margin: 15px auto; }
  .facts a {
    text-decoration: none;
    color: #165589; }
    .facts a:hover {
      color: #12446d; }
  .facts strong {
    color: #e52645; }

/*# sourceMappingURL=styles.css.map */
