/* CSS custom properties */
:root {
    /* Atria colors */
    --bh-core: #00205b;
    --bh-accent: #007eb4;
    --bh-black: #303235;

    --bh-core-01: #03060d;
    --bh-core-02: #00205b;
    --bh-core-03: #093582;
    --bh-core-04: #1c4ea5;
    --bh-core-05: #3a6cc1;
    --bh-core-06: #628dd6;
    --bh-core-07: #8eafe6;
    --bh-core-08: #b7ccf0;
    --bh-core-09: #d6e2f7;
    --bh-core-10: #ebf0fa;
    --bh-core-11: #f6f7fa;
    --bh-accent-01: #006894;
    --bh-accent-02: #007eb4;
    --bh-accent-03: #0b8ec6;
    --bh-accent-04: #20a0d6;
    --bh-accent-05: #41b2e3;
    --bh-accent-06: #6cc6ed;
    --bh-accent-07: #99d9f5;
    --bh-accent-08: #c1e9fa;
    --bh-accent-09: #ddf3fd;
    --bh-accent-10: #eefaff;
    --bh-accent-11: #f5fcff;
    --bh-black-01: #0b0c0d;
    --bh-black-02: #303235;
    --bh-black-03: #56595d;
    --bh-black-04: #7b7f84;
    --bh-black-05: #9ca0a5;
    --bh-black-06: #b8bbbf;
    --bh-black-07: #cfd1d3;
    --bh-black-08: #e1e1e2;
    --bh-black-09: #ededee;
    --bh-black-10: #f5f5f5;
    --bh-black-11: #fafafa;

    --bh-error: #da291c;
    --bh-success: #008522;
    --bh-alert: #0077c8;
    --bh-rating: #bf8900;
    --bh-white: #ffffff;
    --bh-true-black: #000000;

    --bh-profile-01: #bf2080;
    --bh-profile-02: #963a1d;
    --bh-profile-03: #607d0e;
    --bh-profile-04: #41058d;
    --bh-profile-05: #8447d2;
    --bh-profile-06: #8f0a52;
    --bh-profile-07: #145b53;
    --bh-profile-08: #98149b;

    /* Atria fonts */
    --bh-primary-font-face: 'utopia-std', serif;
    --bh-secondary-font-face: 'Effra', sans-serif;

    /* Misc. */
    --bh-card-shadow: 0 4px 15px 0 rgba(0 0 0 / 0.13);
}

.bh-heading-h1 {
  font-family: var(--bh-primary-font-face);
  font-weight: 600;
  font-size: 37px;
  line-height: 46px;
  letter-spacing: -0.25px;
}

.bh-heading-h1b {
  font-family: var(--bh-secondary-font-face);
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
}

.bh-heading-h3b {
  font-family: var(--bh-secondary-font-face);
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.22px;
}

.bh-subtitle-1 {
  font-family: var(--bh-secondary-font-face);
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.bh-body-1-main {
  font-family: var(--bh-secondary-font-face);
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.49px;
}

.bh-body-1-strong {
  font-family: var(--bh-secondary-font-face);
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.49px;
}

.bh-body-1-tight {
  font-family: var(--bh-secondary-font-face);
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.49px;
}

.bh-body-2-main {
  font-family: var(--bh-secondary-font-face);
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.25px;
}

.bh-caption {
  font-family: var(--bh-secondary-font-face);
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.4px;
}

.bh-overline {
  font-family: var(--bh-secondary-font-face);
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}

.bh-primary-button {
  font-family: var(--bh-secondary-font-face);
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  border: 0;
  height: 36px;
  background-color: var(--bh-accent);
  color: var(--bh-white);
  letter-spacing: 0.47px;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  padding: 0 16px;
  display: inline-block;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &[href] {
    line-height: 36px;
  }

  &--loading {
    color: transparent;
    background-color: var(--bh-accent-01);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      border: 2px solid var(--bh-white);
      border-radius: 50%;
      border-top-color: transparent;
      transform-origin: center center;
      animation: rotate 2s infinite linear;
    }
  }

  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &--icon-l, &--icon-r {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 24px;
      flex: 0 0 24px;
      vertical-align: middle;

      path {
        fill: var(--bh-white);
      }
    }

    &.bh-primary-button--loading {
      svg {
        path {
          fill: transparent;
        }
      }
    }
  }

  &--small {
    height: 30px;
    padding: 0 8px;

    &[href] {
      line-height: 30px;
    }

    &.bh-primary-button--loading {
      &::after {
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        border-width: 1px;
      }
    }

    &.bh-primary-button--icon-l, &.bh-primary-button--icon-r {
      svg {
        width: 16px;
      }
    }
  }

  &--large {
    height: 48px;

    &[href] {
      line-height: 48px;
    }

    &.bh-primary-button--loading {
      &::after {
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
      }
    }
  }

  &:focus {
    background-color: var(--bh-accent-03);
    box-shadow: inset 0 0 0 2px var(--bh-accent-03),
      inset 0 0 0 3px var(--bh-white);
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;
  }

  &:hover {
    background-color: var(--bh-accent-01);
    text-decoration: none;
    color: var(--bh-white);
  }

  &--loading {
    &:hover {
      color: transparent;
    }
  }

  &:not(:disabled):active, &:not(:disabled).active {
    background-color: var(--bh-accent-01);
  }

  &:focus:active {
    box-shadow: none;
  }

  &:disabled {
    background-color: var(--bh-black-08);
    color: var(--bh-black-04);
    cursor: not-allowed;

    &.bh-primary-button--icon-l, &.bh-primary-button--icon-r {
      svg {
        path {
          fill: var(--black-4);
        }
      }
    }
  }
}

.bh-outlined-1-button {
  font-family: var(--secondary);
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid var(--bh-black-07);
  height: 36px;
  background-color: var(--bh-white);
  color: var(--bh-accent);
  letter-spacing: 0.47px;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  padding: 0 16px;
  display: inline-block;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &[href] {
    line-height: 34px;
  }

  &--loading {
    background-color: var(--bh-accent-10);
    color: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      border: 2px solid var(--bh-accent);
      border-radius: 50%;
      border-top-color: transparent;
      transform-origin: center center;
      animation: rotate 2s infinite linear;
    }
  }

  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &--icon-l, &--icon-r {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 24px;
      flex: 0 0 24px;
      vertical-align: middle;

      path {
        fill: var(--bh-accent);
      }
    }

    &.bh-outlined-1-button--loading {
      svg {
        path {
          fill: transparent;
        }
      }
    }
  }

  &--small {
    height: 30px;
    padding: 0 8px;

    &[href] {
      line-height: 28px;
    }

    &.bh-outlined-1-button--loading {
      &::after {
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        border-width: 1px;
      }
    }

    &.bh-outlined-1-button--icon-l, &.bh-outlined-1-button--icon-r {
      svg {
        width: 16px;
      }
    }
  }

  &--large {
    height: 48px;

    &[href] {
      line-height: 46px;
    }

    &.bh-outlined-1-button--loading {
      &::after {
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
      }
    }
  }

  &:focus {
    border: 1px solid var(--bh-accent-03);
    box-shadow: inset 0 0 0 1px  var(--bh-accent-03);
    color:  var(--bh-accent-03);
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;

    &.bh-outlined-1-button--loading {
      color: transparent;
    }
  }

  &:hover {
    text-decoration: none;
    background-color:  var(--bh-accent-10);
    color:  var(--bh-accent-01);
    border: 1px solid var(--bh-black-07);
  }

  &:focus:hover {
    border: 1px solid  var(--bh-accent-03);
  }

  &:not(:disabled):active, &:not(:disabled).active {
    background-color:  var(--bh-accent-10);
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--bh-black-07);
    color: var(--bh-accent-01);
  }

  &:focus:active {
    box-shadow: none;
  }

  &--loading {
    &:hover, &:not(:disabled):active, &:not(:disabled).active {
      color: transparent;
    }
  }

  &.bh-outlined-1-button--icon-l, &.bh-outlined-1-button--icon-r {
    &:hover {
      svg {
        path {
          fill: var(--bh-accent-01);
        }
      }
    }
  }

  &:disabled {
    background-color: var(--bh-black-08);
    color:  var(--bh-black-04);
    cursor: not-allowed;
    border: 1px solid transparent;

    &.bh-outlined-1-button--icon-l, &.bh-outlined-1-button--icon-r {
      svg {
        path {
          fill: var(--bh-black-04);
        }
      }
    }
  }
}

.bh-select {
  border: 0;
  padding: 0;
  margin: 0;
  width: 320px; //adjust this as needed

  &-label {
    font-family: var(--bh-secondary-font-face);
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.49px;
    color:  var(--bh-black);
    display: block;
    margin-bottom: 4px;
  }

  &-field {
    background: var(--bh-white) url(../assets/images/bh-ic-select.svg) no-repeat right 10px center;
    background-size: 24px 24px;
    font-family: var(--bh-secondary-font-face);
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--bh-black-07);
    padding: 0 40px 0 12px;
    color: var(--bh-black);
    font-size: 19px;
    letter-spacing: 0.22px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus, &:active {
      outline: 0;
      box-shadow: none;
      border-color: var(--bh-accent);
    }

    &::-ms-expand {
      display: none;
    }
  }

  &-helper, &-error {
    font-family: var(--bh-secondary-font-face);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-top: 4px;
  }

  &-error {
    display: none;
  }

  &.bh-form-field-disabled {
    .bh-select-label, .bh-select-helper {
      color: var(--bh-black-05);
    }

    .bh-select-field {
      color: var(--bh-black-05);
      background: var(--bh-black-09) url(../assets/images/bh-ic-select-disabled.svg) no-repeat right 10px center;
      background-size: 24px 24px;
      cursor: not-allowed;

      &:focus, &:active {
        border-color: var(--bh-black-07);
      }
    }
  }

  &.bh-form-field-error {
    .bh-select-field {
      border-color: var(--bh-error);

      &:focus, &:active {
        border-color:  var(--bh-accent);
      }
    }

    .bh-select-error {
      display: block;
      color:  var(--bh-error);
    }
  }
}

@mixin input-placeholder {
  &.placeholder { @content; opacity: 1; }
  &:-moz-placeholder { @content; opacity: 1; }
  &::-moz-placeholder { @content; opacity: 1; }
  &:-ms-input-placeholder { @content; opacity: 1; }
  &::-webkit-input-placeholder { @content; opacity: 1; }
  &::placeholder { @content; opacity: 1; }
}

.bh-text-input-field {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;

  &-label {
    font-family: var(--bh-secondary-font-face);
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.49px;
    color: var(--bh-black);
    display: block;
    margin-bottom: 4px;
  }

  &-input {
    font-family: var(--bh-secondary-font-face);
    width: 100%;
    height: 48px;
    line-height: 19px;
    border-radius: 4px;
    border: 1px solid var(--bh-black-07);
    padding: 0 12px;
    color: var(--bh-black);
    font-size: 19px;
    letter-spacing: 0.22px;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus, &:active {
      outline: 0;
      box-shadow: none;
      border-color: var(--bh-accent);
    }

    @include input-placeholder {
      color: var(--bh-black-04);
      line-height: 19px;
    }
  }

  &-helper, &-error {
    font-family: var(--bh-secondary-font-face);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-top: 4px;
  }

  &-error {
    display: none;
  }

  &.bh-form-field-disabled {
    .bh-text-input-field-label, .bh-text-input-field-helper {
      color: var(--bh-black-05);
    }

    .bh-text-input-field-input {
      background-color: var(--bh-black-09);
      color: var(--bh-black-05);
      cursor: not-allowed;

      &:focus, &:active {
        border-color: var(--bh-black-07);
      }

      @include input-placeholder {
        color: var(--bh-black-05);
      }
    }
  }

  &.bh-form-field-error {
    .bh-text-input-field-input {
      border-color: var(--bh-error);

      &:focus, &:active {
        border-color: var(--bh-accent);
      }
    }

    .bh-text-input-field-error {
      display: block;
      color: var(--bh-error);
    }
  }
}

.bh-text-input-horiz {
  width: 440px; //adjust as needed
  max-width: 100%;

  &-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
  }

  &-label {
      width: 28%;
  }

  &-right-side {
      width: 66%;
  }

  &-input {
      height: 32px;
      line-height: 32px;
      font-size: 15px;
      padding: 0 8px;

      @media (width <= 640px) {
          font-size: 16px;
      }
  }
}


.bh-text-input-textarea {
  width: 100%;

  &-wrap {
    position: relative;
  }

  &-input {
    min-height: 94px;
    height: 94px;
    line-height: 23px;
    padding: 10px 25px 12px 12px;
    display: block;
    resize: vertical;
  }

  &.bh-form-field-disabled {
    .bh-text-input-textarea-wrap::after {
      background-color: var(--bh-black-09);
    }
  }

  .bh-text-input-textarea-generic-error {
    display: none;
  }
}

.bh-chip {
  font-family: var(--bh-secondary-font-face);
  font-size: 15px;
  border-radius: 16px;
  border: 0;
  line-height: 17px;
  background-color: var(--bh-black-09);
  color: var(--bh-black);
  letter-spacing: 0.25px;
  transition: background-color 0.2s ease-out;
  text-decoration: none;
  padding: 7.5px 12px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  &:focus {
    box-shadow: inset 0 0 0 2px var(--bh-accent-04);
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;
  }

  &:hover {
    background-color: var(--bh-black-07);
    color: var(--bh-black);
  }

  &:not(:disabled):active, &:not(:disabled).active {
    background-color: var(--bh-black-07);
  }

}


.bh-checkbox-group {
  border: 0;
  padding: 0;
  margin: 0;

  &-legend {
    font-family: var(--bh-secondary-font-face);
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.49px;
    padding: 0;
    margin-bottom: 4px;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 12px;
  }

  &--stacked {
    .bh-checkbox-group-flex {
      flex-direction: column;
    }
  }

  &-input {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .bh-checkbox-group-checkbox {
          background: transparent;
          border-color: var(--bh-accent);
  
          .bh-checkbox-group-checkmark {
            polyline {
              stroke-dashoffset: 0;
            }
          }
  
          &:before {
            opacity: 0;
            transform: scale(3.5);
            transition: all 0.6s ease-in-out;
          }
        }

        &:hover,
        &:active {
          ~ .bh-checkbox-group-checkbox {
            background: transparent;
            border-color: var(--bh-accent);
    
            .bh-checkbox-group-checkmark {
              polyline {
                stroke-dashoffset: 0;
              }
            }
    
            &:before {
              opacity: 0;
              transform: scale(3.5);
              transition: all 0.6s ease-in-out;
            }
          }
        }
    }

    &:not(:disabled):focus,
    &:not(:disabled):active {
      outline-color: transparent;
      outline-width: 2px;
      outline-style: dotted;

      ~ .bh-checkbox-group-checkbox {
          border-color: var(--bh-accent-01);
      }
    }

    &:not(:disabled):checked:focus,
    &:not(:disabled):checked:active {
      ~ .bh-checkbox-group-checkbox {
          border-color: var(--bh-accent-01);
        }
    }

    &:not(:disabled):active {
      ~ .bh-checkbox-group-checkbox {
        border-color: var(--bh-accent);
      }
    }

    &:not(:disabled):checked:active {
      ~ .bh-checkbox-group-checkbox {
          border-color: var(--bh-accent);
        }
    }
  }

  &-label {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 23px;
    position: relative;
    padding: 0;

    &:hover .bh-checkbox-group-checkbox {
      border-color: var(--bh-accent);
    }
  }

  &-checkbox {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid var(--bh-black-03);
    border-radius: 3px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    flex: 0 0 18px;
    margin: 1px 0 0 3px;
  }

  &-checkmark {
    position: absolute;
    top: 2px;
    left: 1px;
    fill: none;
    stroke: var(--bh-accent);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transform: rotate(6deg);
    transition-delay: 0.1s;
    transition: all 0.3s ease-in-out;
  }

  &-dot {
    width: 10px;
    height: 10px;
    background-color: var(--bh-accent);
    border-radius: 50%;
    display: none;
  }

  &-label-copy {
    font-family: var(--bh-secondary-font-face);
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.49px;
    color: var(--bh-black);
    padding-left: 8px;
  }

  &-helper, &-error {
    font-family: var(--bh-secondary-font-face);
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.4px;
  }

  &-error {
    display: none;
    margin-bottom: 4px;
  }

  &.bh-form-field-disabled {
    .bh-checkbox-group-legend, .bh-checkbox-group-label, .bh-checkbox-group-helper {
      color: var(--bh-black-05);
    }

    .bh-checkbox-group-input,
    .bh-checkbox-group-input:hover {
      cursor: not-allowed;
    }

    .bh-checkbox-group-label,
    .bh-checkbox-group-label:hover {
      cursor: not-allowed;

      .bh-checkbox-group-checkbox {
        border-color: var(--bh-black-05);
        cursor: not-allowed;

        .bh-checkbox-group-checkmark {
          polyline {
            stroke-dashoffset: 16px;
          }
        }
      }

      .bh-checkbox-group-label-copy {
        color: var(--bh-black-05);
        cursor: not-allowed;
      }
    }

    .bh-checkbox-group-input:focus:active {
      ~ .bh-checkbox-group-checkbox {
        box-shadow: none;
      }
    }
  }

  &.bh-form-field-error {
    .bh-checkbox-group-error {
      display: block;
      color: var(--bh-error);
    }
  }

  &--chip {
    .bh-checkbox-group-flex {
      gap: 8px;
    }

    .bh-checkbox-group-input {
      &:checked {
        ~ .bh-checkbox-group-chip {
            background-color: var(--bh-core);
            color: var(--bh-white);
        }
      }

      &:not(:disabled):focus,
      &:not(:disabled):active {
        outline-color: transparent;
        outline-width: 2px;
        outline-style: dotted;

        ~ .bh-checkbox-group-chip {
          outline: 2px solid var(--bh-accent-03);
        }
      }
    }

    .bh-checkbox-group-chip {
      margin: 0;
    }
  }
}

.bh-side-by-side-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
      margin: 10px 6px;
  }
}