
@media only screen and (min-width: 768px) and (max-width: 978px){


.fws2 .slide_content_wrap {width: 270px;}
.fws2 .timers { display:none; }
.fws2 .description { display:none!important; }
.fws2 .readmore { margin-top: 20px; }
.fws2 .title {font-size: 24px;}

.csTicker {width: 60%;}

.image_carousel {
width: 48.2%;
}

#sidebar-right {
margin: 20px 0px 0px 2.1%;
} 

.widget_menu_posts li{
width: 22%!important;
}

.widget_menu_title{
font-size: 13px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
}

#banner_header_728 img{
max-width: 500px;
height: auto;
margin-top: 10px;
}

#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-left{	
left: 43%;
}

#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-right{	
right: 43%;
}


.sb-nav-retro .sb-navigation-left{	
left: 45%;
}

.sb-nav-retro .sb-navigation-right{	
right: 45%;
}

.widget_recent_posts_two {
width: 83%;
}


.images_post{
width: 29.5%;
}


#single_content {
width: 64%;
}

#content_bread_panel{
width: 96.7%;
}

#content.full_width{
width: 97%;
}

#content.full_width .single_post{
width: 95%;
}

#archive{
width: 97%;
}

.post_nr {
width: 97%;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 3px!important;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 21%; 
height: 280px;
}

.isotope-item.vc_col-sm-6 {
width: 45.5%!important;
}

.isotope-item.vc_col-sm-4 {
width: 29%!important;
}

.isotope-item.vc_col-sm-3 {
width: 20.5%!important;
}

}


@media screen and (min-width: 480px) and (max-width:767px) {

.fws2 .slide_content_wrap {width: 250px;}
.fws2 .timers { display:none; }
.fws2 .description { display:none!important; }
.fws2 .readmore { display:none!important; }
.fws2 .title {font-size: 22px;}

.fws2 .slideNext {
top: 70%!important;
}

.csTicker {width: 100%;}

.fws2 .slidePrev {
top: 70%!important;
}

#home_car_box{
max-height: 700px;
}

.image_carousel {
width: 98%!important;
margin: 10px 0px 10px 10px;
}

.widget_menu_posts li{
width: 43%!important;
margin: 10px 25px 20px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 10px 25px 20px 0px!important;
}

.widget_menu_title{
font-size: 13px;
max-width: 38%!important;
}




#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 93%;
}

#banner_header_728 img{
max-width: 450px;
height: auto;
margin-top: 13px;
}


#home_content.home_with_sidebar{
width: 100%;
}


#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-left{	
left: 42%;
}

#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-right{	
right: 42%;
}


.sb-nav-retro .sb-navigation-left{	
left: 42%;
}

.sb-nav-retro .sb-navigation-right{	
right: 42%;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}

#sidebar-right {
float: left;
display: inline-block;
width: 96%;
margin: 20px 0px 0px 0px;
background: none;
} 

.right-widget{
width: 95%;
float: left;
margin: 0px 10px 27px 15px;
} 

#content {
width: 96.8%;
}

.widget_recent_posts_two {
width: 83%;
}


#home_images_posts{
width: 100%;
}

.images_post{
width: 29%;
}



#content_bread_panel{
width: 99%;
}

#single_content {
width: 95%;
}


#navigation_images .alignleft {
width: 100%;
}

#navigation_images .alignright {
width: 100%;
margin-top: 20px;
}

#similar-post{
width: 97%;
}



#content.full_width{
width: 94%;
}

.error404_content{
width: 96.3%;
}

#content.full_width .single_post{
width: 94%;
}

#content.archives{
width: 96%;
}

.post_nr {
width: 97%;
}


.arqam-widget-counter ul li i{
margin: 5px 0px 0px 0px!important;
}

#container{
width: 94%;
margin: 30px 0px 25px 20px;
}

.woocommerce ul.products{
width: 100%; 
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 45%; 
height: 450px;
}

.isotope-item.vc_col-sm-6 {
width: 45%!important;
}

.isotope-item.vc_col-sm-4 {
width: 28.5%!important;
}

.isotope-item.vc_col-sm-3 {
width: 19.8%!important;
}

}






@media only screen and (max-width: 479px) {

.fws2 .slide_content_wrap {width: 355px; max-width: 355px;}
.fws2 .timers { display:none; }
.fws2 .description { display:none!important; }
.fws2 .readmore { display:none!important; }
.fws2 .title {font-size: 17px;line-height: 27px;}
.fws2 .slide_time{font-size:12px;}

.csTicker {width: 100%;}

.image_carousel {
width: 98%!important;
margin: 10px 0px 10px 10px;
}

.fws2 .slideNext {
top: 60%!important;
}

.fws2 .slidePrev {
top: 60%!important;
}

#home_car_box{
max-height: 700px;
}


#home_content.home_with_sidebar{
width: 100%;
}


.widget_menu_posts li{
width: 100%!important;
margin: 10px 0px 20px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 10px 0px 20px 0px!important;
}

.widget_menu_title{
font-size: 13px;
max-width: 90%!important;
}


.widget_menu_title{
font-size: 13px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 90%;
}

#secondaryMenu ul li a{
font-size: 11px;
margin: 0px 4px;
}

#banner_header_728{
float: left;
margin: 12px 10px 10px 0px;
}

#banner_header_728 img{
max-width: 290px;
height: auto;
}

#banner-header{
float: left;
margin: 12px 10px 10px 0px;
}

#banner-header img{
max-width: 290px;
height: auto;
}


#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-left{	
left: 40%;
}

#home_content.home_with_sidebar .sb-nav-retro .sb-navigation-right{	
right: 40%;
}

.sb-nav-retro .sb-navigation-left{	
left: 40%;
}

.sb-nav-retro .sb-navigation-right{	
right: 40%;
}

.home_posts_title h2{
font-size: 28px;
}


#sidebar-right {
float: left;
display: inline-block;
width: 97%;
margin: 20px 0px 0px 0px;
background: none;
} 

.right-widget{
width: 93%;
float: left;
margin: 0px 0px 27px 15px;
} 

#content {
width: 94.5%;
}

.widget_recent_posts_two {
width: 83%;
}




.column_title{
font-size: 14px;
}


#home_images_posts{
width: 100%;
}

.images_post{
width: 98%;
}

.blog_post{
width: 95%;
}

.blog_post .post_format, .blog_post .post_format_video, .blog_post .post_format_image, .blog_post .post_format_audio{
left: auto!important;
right: 0px;
}

.blog_title{
width: 90%!important;
margin: 20px 0px 10px 0px;
padding: 0px 15px;
display: inline-block;
}

.blog_post img {	 
width: 100%;
height: auto;
margin: 0px 0px 0px 0px;
}




#content_bread_panel{
width: 100%;
}

#single_content {
width: 93%;
}

#navigation_images .alignleft {
width: 100%;
}

#navigation_images .alignright {
width: 100%;
margin-top: 20px;
}


#similar-post{
width: 96%;
}

.single_title h1{
font-size: 22px!important;
line-height: 130%;
}

#content.full_width{
width: 94%;
}

#content.full_width .single_post{
width: 88%;
}

#content.archives{
width: 92%;
}

#archive_left_col, #archive_right_col{
width: 90%;
}

.error404_content{
width: 97%;
}

.commentlist p{
width: 50%;
}

.children .comment {
float: right;
padding: 10px 5px 0 6px;
clear:both;
width: 99%;
margin: 10px 5px 10px 0;
}

.children .comment p{
width: 51%;
}

#credit {
font-size: 10px;
}

.right{
float: left;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 170px!important;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 7px!important;
}

#container{
width: 93%;
margin: 30px 0px 25px 10px;
}

.woocommerce ul.products{
width: 101%; 
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 43%; 
height: 320px;
}

.teaser_grid_container {
width: 100%!important;
}

.isotope-item.vc_col-sm-6 {
width: 100%!important;
}

.isotope-item.vc_col-sm-4 {
width: 100%!important;
}

.isotope-item.vc_col-sm-3 {
width: 100%!important;
}

}










