@import '../../../../scss/styles.scss';

.bh-landing-content {
    padding: 100px 15px 20px;

    @media (width <= $mobile-sidebar-bp) {
        padding: 40px 15px 20px;
    }

    &-welcome {
        color: var(--bh-core);
        font-weight: 400;
        margin-bottom: 100px;
        text-align: center;

        @media (width <= $mobile-sidebar-bp) {
            margin-bottom: 40px;
        }
    }
    
    &-input-group {
        width: 768px;
        max-width: 100%;
        margin: 0 auto;
    }

    &-option-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 40px auto;
        
        ul {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
        }
    }

    &-subtitle {
        color: var(--bh-black);
    }
}