@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,600;1,400&display=swap');

$dark-pink: #f43b9b;
$light-pink: #f880bf;
$lighter-pink: #fde6f2;
$yellow: #fece5b;
$black: #222;
$white: #fff;

* {
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

body {
	font-family: 'Piazzolla', sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;

	&.menu-open {
		position: fixed;
	}
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

label {
	cursor: pointer; 
}

img {
	max-width: 100%;
}

/* global */
header {
	background-color: $light-pink;
	border-bottom: 5px solid $lighter-pink;
	padding: 0 40px;

	@media screen and (max-width: 1100px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}

	@media screen and (max-width: 413px) {
		padding: 0 10px;
	}

	.header-nav {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 15px 0 16px;
		display: block;

		@media screen and (max-width: 1100px) {
			display: none;
			background-color: $light-pink;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 35px;
		}

		@media screen and (max-width: 1100px) {
			&.mobile-closed {
				display: none;
			}
		}

		&.mobile-open {
			display: block;
		}

		ul {
			display: flex;
			justify-content: space-between;

			@media screen and (max-width: 1100px) {
				flex-direction: column;
				text-align: center;
			}
		}

		li {

		}

		a {
			color: $white;
			text-decoration: none;
			letter-spacing: 1px;
			font-size: 19px;
			font-weight: 600;

			&:hover {
				text-decoration: underline;
			}

			@media screen and (max-width: 1100px) {
				font-size: 24px;
				margin: 10px 0;
				display: block;
			}
		}

		
	}

	.header-logo-link {
		display: none;

		@media screen and (max-width: 1100px) {
			display: block;
			margin: 10px 0 4px;
		}

		.header-logo {
			max-width: 300px;

			@media screen and (max-width: 413px) {
				width: 60vw;
    			min-width: 200px;
			}
		}
	}

	.menu-button {
		display: none;
		width: 40px;
		height: 40px;
		padding: 9px 7px;
		cursor: pointer;
		transition: background-color 500ms;

		@media screen and (max-width: 1100px) {
			display: block;
		}
	
		.menu {
		  margin-top: 1px;
		  margin-left: 1px;
		}
	
		span {
		  width: 24px;
		  height: 3px;
		  margin-bottom: 4px;
		  background-color: $white;
		  display: block;
		  border-radius: 5px;
		}
	
		&:hover {
			transition: background-color 500ms;
		}

		.top {
			transition: transform 500ms;
			transform: rotate(0deg) translate(0, 0);
		}
	
		.close-icon .top {
			transition: transform 500ms;
			transform: rotate(90deg) translate(7px, 0);
		}

		.mid {
			transition: transform 500ms;
		}

		.close-icon .mid {
			transition: transform 500ms;
		}

		.bot {
			transition: opacity 500ms;
			opacity: 1;
		}
	
		.close-icon .bot {
			transition: opacity 500ms;
			opacity: 0;
		}

		.menu.close-icon {
			transition: transform 500ms;
			transform: rotate(45deg);
		}
	
	}
}

main {
	display: block;

	h1 {
		font-size: 28px;
		margin: 5px 0;
	}

	.section-logo {
		padding: 20px 0; 
		background-color: $white;

		.logo-inner {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;

			p {
				text-align: center;
				margin-top: 10px;

				a {
					color: $dark-pink;
				}
			}
		}

		.main-logo {
			width: 250px;
			max-width: 100%;
			margin: 0 auto;
			display: block;

			@media screen and (max-width: 500px) {
				width: 180px;
			}
		}
	}

	.section-story {
		background-color: $light-pink;
		padding: 30px 35px;

		@media screen and (max-width: 600px) {
			padding: 20px 25px;
		}

		.story-inner {
			width: 100%;
			max-width: 1024px;
			margin: 0 auto;
		}

		.story-image {
			float: right;
			width: 375px;
			height: auto;
			margin: 0 0 25px 25px;

			@media screen and (max-width: 768px) {
				margin: 15px auto 25px;
				display: block;
				float: none;
			}
		}

		p {
			margin-bottom: 10px;
			font-size: 21px;
			line-height: 29px;

			@media screen and (max-width: 600px) {
				font-size: 18px;
				line-height: 25px;
			}

			&.important-copy {
				text-align: center;
				margin-bottom: 25px;
			}
		}

		.clear {
			clear: both;
		}
	}

	.section-services {
		background-color: $light-pink;
		padding: 0 30px 35px;

		.services-inner {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.services-left, .services-right {
			width: 45%;

			@media screen and (max-width: 767px) {
				width: 100%;
			}
		}

		ul {
			
			margin: 0 auto;
			list-style: disc;
			font-size: 21px;
			line-height: 35px;
			padding-left: 30px;

			@media screen and (max-width: 600px) {
				font-size: 18px;
				line-height: 23px;
			}

		}
	}

	.global-slideshow {
		width: 600px;
		max-width: 100%;
		margin: 0 auto 40px;

		img {
			margin: 0;
		}
	}
}

footer {
	background-color: $lighter-pink;
	padding: 20px 15px 20px;

	nav {
		ul {
			display: flex;
			justify-content: space-between;
			width: 1200px;
			max-width: 100%;
			margin: 0 auto;

			@media screen and (max-width: 1024px) {
				flex-wrap: wrap;
			}
		}

		li {
			@media screen and (max-width: 1024px) {
				width: 25%;
				text-align: center;
				margin: 10px 0;
			}

			@media screen and (max-width: 600px) {
				width: 50%;
			}

			@media screen and (max-width: 360px) {
				width: 100%;
			}
		}

		a {
			color: $black;
			text-decoration: none;
			font-size: 18px;
			line-height: 23px;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.social-media {
		display: flex;
		justify-content: space-between;
		width: 140px;
		margin: 20px auto;

		svg {
			width: 30px;
			height: 30px;
		}
	}
}

.section-inside {
	padding: 40px;

	.copy {
		max-width: 1000px;
		margin: 0 auto;

		a {
			color: $dark-pink;
		}
	}

	h2 {
		text-align: center;
		margin-top: 0;
	}

	img {
		display: block;
		margin: 20px auto;
	}

	p, ul {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 29px;

		&.legal-copy {
			margin-bottom: 8px;
			font-size: 15px;
			line-height: 18px;
		}
	}

	ul {
		list-style-type: disc;
		list-style-position: inside;
		text-align: center;
		margin-bottom: 30px;

		&.left-align {
			text-align: left;

			ul {
				margin-left: 40px;
				text-align: left;
			}
		}

		ul {
			list-style-type: circle;
			margin-bottom: 0;
		}
	}

	h3 {
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin-top: 40px;
	}

	h4 {
		font-size: 19px;
		line-height: 23px;
		text-align: center;
		margin-top: 20px;
	}
}

.cost-page {
	.section-inside {
		ul.cost-list {
			text-align: left;
		}

		.logo-group {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;

			img {
				height: 70px;
				margin: 0 10px;
			}
		}
	}
}