@import url("https://fonts.googleapis.com/css?family=Kalam|Roboto+Slab:400,700");
* {
  box-sizing: border-box; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

body {
  font-family: 'Roboto Slab', sans-serif;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

label {
  cursor: pointer; }

/* global */
header {
  background-color: #f880bf;
  border-bottom: 5px solid #fde6f2;
  padding: 0 15px; }
  @media screen and (max-width: 950px) {
    header {
      padding: 0 40px; } }
  @media screen and (max-width: 767px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px; } }
  @media screen and (max-width: 413px) {
    header {
      padding: 0 10px; } }
  header .header-nav {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 0 16px;
    display: block; }
    @media screen and (max-width: 767px) {
      header .header-nav {
        display: none;
        background-color: #f880bf;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; } }
    @media screen and (max-width: 767px) {
      header .header-nav.mobile-closed {
        display: none; } }
    header .header-nav.mobile-open {
      display: block; }
    header .header-nav ul {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 767px) {
        header .header-nav ul {
          flex-direction: column;
          text-align: center; } }
    header .header-nav a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.5px; }
      header .header-nav a:hover {
        text-decoration: underline; }
      @media screen and (max-width: 767px) {
        header .header-nav a {
          font-size: 24px;
          margin: 25px 0;
          display: block; } }
  header .header-logo-link {
    display: none; }
    @media screen and (max-width: 767px) {
      header .header-logo-link {
        display: block;
        margin: 10px 0 4px; } }
    header .header-logo-link .header-logo {
      max-width: 300px; }
      @media screen and (max-width: 413px) {
        header .header-logo-link .header-logo {
          width: 60vw;
          min-width: 200px; } }
  header .menu-button {
    display: none;
    width: 40px;
    height: 40px;
    padding: 9px 7px;
    cursor: pointer;
    transition: background-color 500ms; }
    @media screen and (max-width: 767px) {
      header .menu-button {
        display: block; } }
    header .menu-button .menu {
      margin-top: 1px;
      margin-left: 1px; }
    header .menu-button span {
      width: 24px;
      height: 3px;
      margin-bottom: 4px;
      background-color: #fff;
      display: block;
      border-radius: 5px; }
    header .menu-button:hover {
      transition: background-color 500ms; }
    header .menu-button .top {
      transition: transform 500ms;
      transform: rotate(0deg) translate(0, 0); }
    header .menu-button .close-icon .top {
      transition: transform 500ms;
      transform: rotate(90deg) translate(7px, 0); }
    header .menu-button .mid {
      transition: transform 500ms; }
    header .menu-button .close-icon .mid {
      transition: transform 500ms; }
    header .menu-button .bot {
      transition: opacity 500ms;
      opacity: 1; }
    header .menu-button .close-icon .bot {
      transition: opacity 500ms;
      opacity: 0; }
    header .menu-button .menu.close-icon {
      transition: transform 500ms;
      transform: rotate(45deg); }

main {
  display: block; }
  main .section-logo {
    padding: 20px 0;
    background-color: #fff; }
    main .section-logo .logo-inner {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }
    main .section-logo .main-logo {
      width: 250px;
      max-width: 100%;
      margin: 0 auto;
      display: block; }
  main .section-story {
    background-color: #f880bf; }
    main .section-story .story-inner {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }
    main .section-story .story-image {
      float: right; }
      main .section-story .story-image img {
        width: 250px;
        height: 250px;
        border-radius: 50%; }
    main .section-story .clear {
      clear: both; }
  main .section-services {
    background-color: #f880bf; }
    main .section-services .services-inner {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; }
    main .section-services ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 800px;
      max-width: 100%;
      margin: 0 auto; }
      main .section-services ul li {
        width: 50%; }

footer {
  background-color: #fde6f2;
  padding: 20px 15px 20px; }
  footer nav ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    max-width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 413px) {
      footer nav ul {
        flex-wrap: wrap; } }
  @media screen and (max-width: 413px) {
    footer nav li {
      width: 50%;
      text-align: center;
      margin: 10px 0; } }
  footer nav a {
    color: #222;
    text-decoration: none; }
    footer nav a:hover {
      text-decoration: underline; }
  footer .social-media {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin: 20px auto; }
    footer .social-media svg {
      width: 30px;
      height: 30px; }

/*# sourceMappingURL=main.css.map */
