/* Mixins partial */
@mixin border-radius($rads) {
  -webkit-border-radius: $rads;
     -moz-border-radius: $rads;
      -ms-border-radius: $rads;
          border-radius: $rads;
}

@mixin transform($vars...) {
  -webkit-transform: $vars;
     -moz-transform: $vars;
      -ms-transform: $vars;
          transform: $vars;
}

@mixin transform-origin($vars...) {
  -webkit-transform-origin: $vars;
     -moz-transform-origin: $vars;
          transform-origin: $vars;
}

@mixin transition($prop-dur...) {
  -webkit-transition: $prop-dur;
          transition: $prop-dur;
}

@mixin border-gradient($width, $style, $gradients...) {
  border-left: $width $style transparent;
  -webkit-border-image: -webkit-linear-gradient($gradients...);
     -moz-border-image: -moz-linear-gradient($gradients...);  
       -o-border-image: -o-linear-gradient($gradients...);
          border-image: linear-gradient($gradients...);
          border-image-slice: 1;
}



// make one for linear gradient