/* Variables partial */

/* Global Variables */

$pri-color: #ffc12b; // light orange
$pri-color-dark: #ff9b00; // dark orange
$sec-color: #00a3d9; // light blue
$sec-color-dark: #00488a; // dark blue
$black: #333;
$pri-font: 'Josefin Sans', sans-serif;
$svg-size: 70px;
$svg-margin: 10px;
$svg-div: ($svg-size+$svg-margin*2)*8;
//$exp-asu-size: 180px;
//$exp-godaddy-size: 190px;
//$exp-webcom-size: 230px;
//$exp-svg-margin: 10px;
//$exp-svg-div: $exp-asu-size+$exp-godaddy-size+$exp-webcom-size+$exp-svg-margin*2;


/* Responsive Animation Variables */

$device-color: #d3d4d5;
$screen-color: #f0ffff;
$lcol-color: #2ab573;
$mcol-color: #005fd7;

$total-width: 700px;
$tablet-width: $total-width*0.45;
$mobile-width: $total-width*0.28;

$initial-font-size: $total-width*0.06;
$tablet-font-size: $initial-font-size*0.62;
$mobile-font-size: $initial-font-size*0.5;

$total-height: $total-width*0.6875;
$sb-height: $total-height*0.8181;
$stand-width: $total-width*0.0412;
$stand-height: $total-height*0.1273;
$bottom-width: $total-width*0.125;
$bottom-height: $total-height*0.0273;
$screen-padding-tb: $total-height*0.02;
$screen-padding-tb-tablet: $total-height*0.04;
$screen-padding-tb-mobile: $total-height*0.05;
$screen-padding-lr: $total-height*0.02;

$button: $total-width*0.0175;
$button-margin: $total-width*0.005;

$font-margin: $total-height*0.0364;

$column-height: $total-height*0.909;
$column-box-margin: $total-height*0.0182;

	//mobile
$m-total-width: 300px;