<div class="bh-shared-prompt" [ngClass]="{'bh-shared-prompt': true, 'bh-shared-prompt--small-variant': smallVariant}">
    <button type="button" 
        [ngClass]="{
            'bh-shared-prompt-button': true, 
            'bh-primary-button': !smallVariant, 
            'bh-primary-button--icon-l': !smallVariant, 
            'bh-shared-prompt-button--small-variant': smallVariant}" 
        (click)="openPromptDialog('prompt1')">
        <mat-icon class="bh-shared-prompt-icon" aria-hidden="false" aria-label="Help me create a prompt" fontIcon="flash_on"></mat-icon>
        @if (!smallVariant) {
            <span>Help me create a prompt</span>
        }
    </button>
</div>