@import '../../../../scss/styles.scss';

.bh-shared-prompt {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;

    &--small-variant {
        margin: 0;
    }

    &-button {
        &--small-variant {
            background: transparent;
            border: 0;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            .bh-shared-prompt-icon {
                width: 28px;
                height: 28px;
                font-size: 28px;
                color: var(--bh-core);
            }

            &:hover {
                .mat-icon {
                    color: var(--bh-core-01);
                } 
            }

            &:focus {
                border: 2px solid var(--bh-accent-03);
                border-radius: 4px;
                outline-color: transparent;
                outline-width: 2px;
                outline-style: dotted;
            }
        }
    }
}