@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900i|Raleway:400,800,800i|Rubik:400,500|Changa+One:400i|Roboto+Condensed:400,400i,700,700i");
* {
  box-sizing: border-box; }

div::-webkit-scrollbar {
  height: 7px;
  background: transparent; }

div::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
  box-shadow: inset -1px -1px 1px 0 rgba(0, 0, 0, 0.5); }

div {
  scrollbar-color: gray;
  scrollbar-width: thin; }

body {
  background: repeating-linear-gradient(-40deg, transparent 0px, transparent 50px, rgba(255, 0, 0, 0.2) 51px, rgba(255, 0, 0, 0.2) 53px);
  min-height: 100vh; }

.page-header {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #185693; }

img {
  max-width: 100%; }

p {
  margin: 0; }

li {
  list-style: none; }

.search-box {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  position: relative;
  width: 280px; }
  .search-box .query {
    font-family: 'Lato';
    width: 100%;
    padding: 5px 25px 5px 10px;
    font-size: 13px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none; }
  .search-box .cancel-search {
    cursor: pointer;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 2px;
    right: 8px; }

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  z-index: 99; }

.container {
  position: relative; }
  .container::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 420px;
    top: 0;
    left: 0;
    background: linear-gradient(-55deg, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0.06) 50%);
    z-index: 999; }
  .container:hover::before {
    display: none; }

/* flip the card when hovered */
.container.back-shown .card-wrap {
  transform: rotateY(180deg); }

.container, .front, .back {
  width: 300px;
  height: 420px; }
  .container .stuff, .front .stuff, .back .stuff {
    width: 100%;
    height: 100%; }

/* flip speed goes here */
.card-wrap {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  z-index: 2;
  transform: rotateY(0deg);
  border: 1px solid #38616f;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  background-color: #38616f;
  padding: 16px 16px 0 16px; }
  .front .stuff {
    position: relative;
    border: 2px solid #69604a;
    box-shadow: inset 0 1px 0 #85898c, inset 2px 3px 0 #38616f, inset -2px 0 0 #38616f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0 10px 0 10px;
    height: 387px; }
    .front .stuff::before {
      content: '';
      position: absolute;
      top: 0;
      left: 7px;
      width: 2px;
      height: 360px;
      background-color: #38616f; }
  .front .topps {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 40px; }
  .front .name-box {
    background-color: #38616f;
    border-radius: 0 0 0 10px;
    height: 42px;
    padding: 8px 4px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to right, #38616f 145px, transparent 145px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 147px, rgba(255, 255, 255, 0.35) 147px); }
  .front h1 {
    font-family: 'Raleway', serif;
    font-weight: 800;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 2px;
    margin: -3px 0 0 0;
    color: #a09479;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .front h1 .first-name {
      margin-top: -6px; }
    .front h1 .last-name {
      text-transform: uppercase;
      font-style: normal;
      font-size: 32px;
      line-height: 33px;
      margin-top: -1px;
      margin-left: 5px; }
  .front .player-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 0 10px 0 0; }
  .front .rookie {
    width: 46px;
    height: 18px;
    position: absolute;
    bottom: 50px;
    right: 16px;
    text-align: center;
    background-color: #7f6b00;
    background: linear-gradient(45deg, #998000, #7f6b00);
    font-size: 8px;
    line-height: 8px;
    padding-top: 1px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    transform: skew(-12deg);
    border-radius: 3px; }
    .front .rookie span {
      color: #cdcdcd;
      padding-left: 2px; }
  .front.topps2019 {
    padding: 0;
    background-color: #fff;
    border: 0; }
    .front.topps2019 .stuff {
      border: 0;
      box-shadow: none; }
      .front.topps2019 .stuff::before {
        background-color: transparent; }
    .front.topps2019 .topps {
      z-index: 10;
      left: unset;
      right: 30px;
      width: 35px; }
    .front.topps2019 .name-box {
      z-index: 10;
      background: transparent;
      position: absolute;
      bottom: -13px;
      left: 0;
      width: 280px;
      padding-right: 0; }
    .front.topps2019 h1 {
      flex-direction: column;
      align-items: flex-start;
      width: 100%; }
      .front.topps2019 h1 .first-name {
        order: 2;
        font-weight: 400;
        text-transform: uppercase;
        font-style: normal;
        display: block;
        width: 100%;
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: -6px;
        padding-left: 24px; }
      .front.topps2019 h1 .last-name {
        order: 1;
        display: block;
        width: 100%;
        color: #9d9d9d;
        background-color: #fff;
        line-height: 24px;
        height: 18px;
        margin-left: 0;
        box-shadow: 0 -6px 3px rgba(255, 255, 255, 0.85);
        border-radius: 0 0 2px 0;
        margin-bottom: 4px;
        padding-left: 14px;
        letter-spacing: 0; }
        @media screen and (max-width: 450px) {
          .front.topps2019 h1 .last-name {
            margin-bottom: 2px; } }
    .front.topps2019 .overlay-2019 {
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 420px; }
      .front.topps2019 .overlay-2019 .overlay-left {
        position: absolute;
        bottom: 57px;
        left: 0;
        background-color: green;
        background: url(../assets/dots3.svg) no-repeat -8px 108px/62% auto, linear-gradient(60deg, #ccc 0%, #ccc 10%, transparent 40%, transparent 100%);
        width: 80px;
        height: 230px; }
      .front.topps2019 .overlay-2019 .overlay-right {
        position: absolute;
        bottom: 0;
        right: 0;
        background: url(../assets/dots.svg) no-repeat 0 100px/155% auto, linear-gradient(to bottom, transparent 0%, #aaa 30%, #aaa 80%, #ccc 100%);
        width: 12px;
        height: 420px; }
      .front.topps2019 .overlay-2019 .overlay-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(../assets/dots2.svg) repeat 0 -31px/82% auto, linear-gradient(to right, transparent 0%, transparent 20%, transparent 21%, #fff 55%, #ccc 100%), linear-gradient(to bottom, #fff 0%, #fff 20%, #aaa 80%, #ccc 100%);
        width: 300px;
        height: 40px; }
    .front.topps2019 .borders-2019 {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 96%;
      height: 400px;
      border-right: 5px solid #185693;
      border-bottom: 12px solid #185693;
      border-radius: 0 0 10px 0;
      box-shadow: 0 9px 0 0 #fff, 2px 0 0 0 #fff, 2px 9px 0 0 #fff, 0 14px 3px -3px rgba(0, 0, 0, 0.65); }
      .front.topps2019 .borders-2019 .border-inside-1 {
        width: 100%;
        height: 388px;
        border-radius: 0 0 11px 0;
        border-right: 2px solid #3a7d74;
        box-shadow: 0 10px 0 0 #185693; }
      .front.topps2019 .borders-2019 .border-inside-2 {
        width: 281px;
        height: 388px;
        border-radius: 0 0 11px 0;
        border-right: 2px solid #fff; }
    .front.topps2019 .player-image {
      z-index: 8;
      height: 380px;
      border-radius: 0; }
    .front.topps2019 .team {
      z-index: 11;
      position: absolute;
      bottom: -21px;
      right: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      @media screen and (max-width: 450px) {
        .front.topps2019 .team {
          bottom: -22px; } }
      .front.topps2019 .team img {
        width: 58px;
        margin-bottom: 3px; }
      .front.topps2019 .team .written-team {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: bold;
        line-height: 10px; }
      .front.topps2019 .team .position {
        color: #3a7d74; }
      .front.topps2019 .team .team-name {
        color: #185693; }

.back {
  transform: rotateY(180deg);
  border: 1px solid #38616f;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-color: #38616f;
  padding: 20px; }
  .back .stuff {
    background: #38616f;
    border-radius: 20px; }
  .back header {
    border-radius: 0 20px 0 45px;
    display: flex;
    justify-content: flex-end;
    z-index: 9;
    position: relative;
    background-color: #38616f;
    padding-bottom: 8px;
    margin-left: 15px; }
  .back .player-name, .back .player-position {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff; }
  .back .last-name {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px; }
  .back .player-position {
    border: 1px solid #fff;
    letter-spacing: 0;
    padding: 2px 10px;
    height: 18px;
    margin: 20px 0 0 15px; }
  .back .player-card-no {
    background-color: #fff;
    border-radius: 0 20px 0 50px;
    width: 60px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px; }
    .back .player-card-no span {
      color: #38616f;
      font-family: 'Changa One', sans-serif;
      font-style: italic;
      margin-left: 5px;
      margin-top: -5px;
      font-size: 18px; }
  .back .stats-story {
    height: 378px;
    margin-top: -46px;
    background-size: cover;
    background-position: -34px 0;
    position: relative;
    border-radius: 0 20px 20px 20px;
    font-family: 'Roboto Condensed', sans-serif; }
    .back .stats-story::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 258px;
      height: 378px;
      background-color: #fff;
      border-radius: 0 20px 20px 20px;
      opacity: 0.8; }
  .back .inner-box {
    position: relative;
    z-index: 10;
    padding: 65px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .back .stats-box {
    font-size: 13px;
    text-transform: uppercase; }
    .back .stats-box .row {
      display: flex; }
      .back .stats-box .row--headings {
        border-bottom: 1px solid #000; }
      .back .stats-box .row--totals {
        border-top: 1px solid #000; }
      .back .stats-box .row div {
        padding: 1px 0; }
      .back .stats-box .row div:first-child {
        width: 40px;
        min-width: 40px;
        text-align: left; }
    .back .stats-box .heading, .back .stats-box .amount {
      width: 50px;
      text-align: center; }
  .back .stats-header {
    font-size: 11px;
    font-weight: bold; }
    .back .stats-header a {
      text-decoration: none;
      color: #000; }
      .back .stats-header a:hover {
        text-decoration: underline; }
  .back .story {
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
    text-align: justify;
    flex-grow: 1; }
  .back .logos {
    display: flex;
    align-items: center;
    height: 30px; }
    .back .logos img {
      width: 30px;
      align-self: center; }
      .back .logos img.mlb {
        margin-left: 2px; }
    .back .logos p {
      font-size: 6px;
      padding: 0 3px;
      text-align: center; }
  .back .horizontal {
    transform: rotate(-90deg);
    transform-origin: 180px 170px; }
  .back.topps2019 {
    padding: 0 20px 0 0;
    border: 1px solid #ddd;
    background: #bbb url(../assets/dots.svg) repeat 0 -20px/9% auto; }
    .back.topps2019 .stuff {
      border-radius: 0;
      background: linear-gradient(65deg, #fff 0%, #fff 80%, rgba(255, 255, 255, 0) 100%); }
    .back.topps2019 .borders-2019 {
      position: absolute;
      top: 24px;
      left: 0;
      width: 96%;
      height: 395px;
      border-right: 5px solid #185693;
      border-top: 11px solid #185693;
      border-radius: 0 10px 0 0;
      box-shadow: 2px 0 0 0 #fff; }
      .back.topps2019 .borders-2019 .border-inside-1 {
        width: 100%;
        height: 384px;
        border-radius: 0 11px 0 0;
        border-right: 2px solid #3a7d74;
        box-shadow: 0 -10px 0 0 #185693; }
      .back.topps2019 .borders-2019 .border-inside-2 {
        width: 279px;
        height: 383px;
        border-radius: 0 11px 0 0;
        border-right: 2px solid #fff; }
    .back.topps2019 header {
      background: transparent;
      border-radius: 0;
      margin-left: 0; }
    .back.topps2019 .written-team {
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
      position: absolute;
      top: 33px;
      right: 12px; }
      @media screen and (max-width: 450px) {
        .back.topps2019 .written-team {
          top: 34px; } }
    .back.topps2019 .position {
      color: #3a7d74; }
    .back.topps2019 .team-name {
      color: #185693; }
    .back.topps2019 .player-name {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      position: absolute;
      top: 0;
      left: 2px; }
    .back.topps2019 .first-name {
      color: #fff;
      order: 2;
      font-family: 'Raleway', serif;
      letter-spacing: 1px;
      font-size: 15px;
      padding-left: 16px;
      padding-top: 1px; }
    .back.topps2019 .last-name {
      color: #9d9d9d;
      order: 1;
      font-family: 'Raleway', serif;
      font-weight: bold;
      letter-spacing: 0;
      font-size: 26px; }
    .back.topps2019 .player-card-no {
      background-color: transparent;
      width: 26px;
      height: 32px; }
      .back.topps2019 .player-card-no span {
        color: #000;
        font-family: 'Roboto Condensed', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px; }
    .back.topps2019 .stats-story {
      height: 421px;
      background: none !important; }
      .back.topps2019 .stats-story::before {
        content: '';
        top: 51px;
        left: 0px;
        width: 277px;
        height: 374px;
        background-color: #4da79b;
        border-radius: 0 10px 0 0;
        opacity: 1;
        box-shadow: inset -2px 1px 2px 0 rgba(0, 0, 0, 0.5); }
    .back.topps2019 .info {
      order: 1;
      padding: 24px 0 0 10px; }
      .back.topps2019 .info p {
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        font-weight: bold; }
    .back.topps2019 .inner-box {
      padding: 35px 2px 10px 0; }
    .back.topps2019 .overflow-box {
      overflow-x: auto;
      margin-right: 1px; }
    .back.topps2019 .scrolling-box {
      width: 500px;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
                   /* Non-prefixed version, currently
											supported by Chrome and Opera */ }
    .back.topps2019 .stats-box {
      order: 3;
      font-size: 12px;
      padding: 3px 0 0;
      background-color: #ddd;
      box-shadow: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.3), inset -1px 0 0px 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 10px; }
      .back.topps2019 .stats-box .stats-header {
        padding: 0 10px; }
      .back.topps2019 .stats-box .row--headings div:first-child {
        padding-left: 10px;
        width: 44px;
        min-width: 44px; }
      .back.topps2019 .stats-box .row--headings div:last-child {
        padding-right: 10px;
        width: 60px; }
      .back.topps2019 .stats-box .row:not(.row--headings) div:first-child {
        margin-left: 10px; }
      .back.topps2019 .stats-box .row:not(.row--headings) div:last-child {
        margin-right: 10px; }
      .back.topps2019 .stats-box .row div {
        border-bottom: 1px solid #ccc; }
      .back.topps2019 .stats-box .row div:first-child {
        width: 26px;
        min-width: 26px; }
      .back.topps2019 .stats-box .row--headings {
        font-weight: bold;
        border-bottom: none;
        line-height: 14px;
        background-color: #4da79b;
        box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.5); }
        .back.topps2019 .stats-box .row--headings div {
          border-bottom: none; }
          .back.topps2019 .stats-box .row--headings div:first-child {
            width: 36px;
            min-width: 36px; }
      .back.topps2019 .stats-box .row--totals {
        font-weight: bold;
        border-top: 0; }
        .back.topps2019 .stats-box .row--totals div {
          border-bottom: none; }
    .back.topps2019 .stats-header {
      margin: 0 10px;
      border-top: 1px solid #444;
      padding: 2px 10px 1px; }
    .back.topps2019 .story {
      order: 2;
      padding: 10px;
      margin-top: 5px;
      background-color: #ddd;
      font-size: 12px;
      line-height: 15px;
      box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.5), inset -1px 0 0 0 rgba(0, 0, 0, 0.3); }
    .back.topps2019 .logos {
      order: 4;
      padding: 10px; }
      .back.topps2019 .logos img {
        width: 34px; }
        .back.topps2019 .logos img.mlb {
          width: 22px;
          margin-top: 11px; }
        .back.topps2019 .logos img.mlbpa {
          width: 26px; }

.container {
  cursor: pointer;
  margin: 10px; }
  .container[data-player="Ginny Baker"] .front .player-image {
    background-position: -75px -55px;
    background-size: 450px auto; }
  .container[data-player="Ginny Baker"] .front .team {
    width: 70px;
    position: absolute;
    left: 10px;
    bottom: -3px; }
  .container[data-player="Ginny Baker"] .back .row div:nth-child(4), .container[data-player="Ginny Baker"] .back .row div:nth-child(5) {
    width: 80px; }
  .container[data-player="Charlie Kelly"] .front .player-image {
    background-position: -20px -58px;
    background-size: 350px auto; }
  .container[data-player="Charlie Kelly"] .front .team {
    width: 66px;
    position: absolute;
    left: 10px;
    bottom: 7px; }
  .container[data-player="Charlie Kelly"] .front .name-box {
    background: linear-gradient(to right, #38616f 153px, transparent 153px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 153px, rgba(255, 255, 255, 0.35) 153px); }
  .container[data-player="Calvin"] .front .player-image {
    background-position: -56px -13px;
    background-size: 320px auto; }
  .container[data-player="Calvin"] .front .team {
    width: 60px;
    position: absolute;
    left: 16px;
    bottom: 3px; }
  .container[data-player="Calvin"] .front .name-box {
    background: linear-gradient(to right, #38616f 135px, transparent 135px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255, 255, 255, 0.35) 2px, rgba(255, 255, 255, 0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 135px, rgba(255, 255, 255, 0.35) 135px); }
  .container[data-player="Calvin"] .back .row div:last-child {
    width: 29px;
    min-width: 29px; }
  @media screen and (max-width: 450px) {
    .container[data-player="Calvin"] .back .story {
      margin-top: 1px; } }
  .container[data-player="Kyle Stark"] .front .player-image {
    background-position: -105px -65px;
    background-size: 420px auto; }
  @media screen and (max-width: 450px) {
    .container[data-player="Kyle Stark"] .front .last-name {
      margin-bottom: 3px; } }
  .container[data-player="Gene Belcher"] .front .player-image {
    background-position: -67px -65px;
    background-size: 400px auto; }
  .container[data-player="Gene Belcher"] .front .team img {
    margin-bottom: -6px; }
  .container[data-player="Gene Belcher"] .front .position {
    color: #364dfa; }
  .container[data-player="Gene Belcher"] .front .borders-2019 {
    border-right: 5px solid #e03943;
    border-bottom: 12px solid #e03943; }
    .container[data-player="Gene Belcher"] .front .borders-2019 .border-inside-1 {
      border-right: 2px solid #364dfa;
      box-shadow: 0 10px 0 0 #e03943; }
  .container[data-player="Gene Belcher"] .front .team-name {
    color: #e03943; }
  .container[data-player="Gene Belcher"] .back .borders-2019 {
    border-right: 5px solid #e03943;
    border-top: 11px solid #e03943; }
    .container[data-player="Gene Belcher"] .back .borders-2019 .border-inside-1 {
      border-right: 2px solid #364dfa;
      box-shadow: 0 -10px 0 0 #e03943; }
  .container[data-player="Gene Belcher"] .back .team-name {
    color: #e03943; }
  .container[data-player="Gene Belcher"] .back .position {
    color: #364dfa; }
  .container[data-player="Gene Belcher"] .back .stats-story::before {
    background-color: #5a69d6; }
  .container[data-player="Gene Belcher"] .back .scrolling-box {
    width: auto; }
  .container[data-player="Gene Belcher"] .back .row--headings {
    background-color: #5a69d6; }
  .container[data-player="Gene Belcher"] .back .row--year1 div:nth-child(3) {
    margin-left: -2px; }

details {
  margin: 50px 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #1f618d;
  background: #fff;
  border: 1px solid rgba(31, 97, 141, 0.2);
  padding: 10px;
  width: 85px; }
  @media screen and (max-width: 450px) {
    details {
      margin: 30px 10px; } }
  details[open] {
    width: auto; }
  details summary {
    font-weight: bold;
    cursor: pointer;
    outline: none; }
  details ul {
    text-align: left;
    padding-left: 0;
    font-style: italic;
    font-weight: normal;
    margin: 0; }
    details ul li {
      line-height: 18px;
      border-top: 1px solid rgba(31, 97, 141, 0.2);
      padding: 5px; }
      details ul li:first-child {
        border-top: 0; }
      details ul li:last-child {
        padding-bottom: 0; }
      details ul li a {
        color: #1f618d; }
        details ul li a:hover {
          color: #164463; }

/*# sourceMappingURL=styles.css.map */
