@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900i|Raleway:400,800,800i|Rubik:400,500|Changa+One:400i|Roboto+Condensed:400,400i,700,700i');
$card-width: 300px;
$card-height: 420px;
$card-main-color: #38616f;
$mariners-blue: #185693;
$mariners-green: #3a7d74;
$devils-red: #e03943;
$devils-blue: #364dfa;
$dull-brown: #96652c;
$cubs-blue: #177bdd;
$cubs-red: #bc2313;
$kekambas-green: #469750;

* {
	box-sizing: border-box;
}

div::-webkit-scrollbar {
	height: 7px;
	background: transparent;
}

div::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 8px;
	box-shadow: inset -1px -1px 1px 0 rgba(0,0,0,0.5);
}

div {
	scrollbar-color: gray;
  scrollbar-width: thin;
}

body {
	background: repeating-linear-gradient(-40deg, transparent 0px, transparent 50px, rgba(255, 0, 0, 0.2) 51px, rgba(255, 0, 0, 0.2) 53px);
	min-height: 100vh;
}

.page-header {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: $mariners-blue;
}

img {
	max-width: 100%;
}

p {
	margin: 0;
}

li {
	list-style: none;
}


.search-box {
	display: flex;
	margin: 20px auto;
	justify-content: center;
	position: relative;
	width: 300px;

	.query {
		font-family: 'Lato';
		width: 100%;
		padding: 5px 25px 5px 10px;
		font-size: 13px;
		outline: 0;
		border: 1px solid #ddd;
		border-radius: 0;
		box-shadow: none;
		-webkit-appearance: none;
	}

	.cancel-search {
		cursor: pointer;
		margin-left: 8px;
		font-size: 24px;
		font-weight: 900;
		font-style: italic;
		position: absolute;
    top: 2px;
    right: 8px;
	}
}

.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-left: 0;
	max-width: 965px;
	margin: 0 auto;
	z-index: 99;
}

.container {
	position: relative;
	//fake 'shine' on top of card
	&::before {
		content: '';
		position: absolute;
		width: $card-width;
		height: $card-height;
		top: 0;
		left: 0;
		background: linear-gradient(-55deg, rgba(255,255,255,0.02) 50%, rgba(255,255,255,0.06) 50%);
		z-index: 999;

		@media screen and (max-width: 450px) {
			display: none;
		}
	}

	&:hover::before {
		display: none;
	}



	&.horizontal {
		width: $card-height;
		height: $card-width;
		
		
		@media screen and (max-width: 450px) {
			width: $card-width;
			height: $card-height;
			
			.back.fleer2001 .stats-header .triangles .bottom:before {
				bottom: 1px;
			}
		}
		
		&:before {
			width: $card-height;
			height: $card-width;
			
			@media screen and (max-width: 450px) {
				width: $card-width;
				height: $card-height;
			}
		}
	}
}

.container.horizontal .card-wrap {
	@media screen and (max-width: 450px) {
		transform: rotate(90deg);
		transform-origin: 0 100%;
		margin-left: 300px;
	}
}

/* flip the card when hovered */
.container.back-shown .card-wrap {
	.front {
		transform: rotateY(180deg);
	}
	.back {
		transform: rotateY(360deg);
		z-index: 3;
	}
}

.container.horizontal.back-shown .card-wrap {
	transform-origin: 50% 50%;

	.front {
		transform: rotateX(0) rotateY(180deg);
		
	}
	.back {
		transform: rotateX(0) rotateY(360deg);
	}
	
	@media screen and (max-width: 450px) {
		transform-origin: 50% 50%;
		
		.front {
			transform: rotateX(0) rotateY(180deg);
		}
		
		.back {
			transform: rotateX(0) rotateY(360deg);
		}
	}
}

.container, .front, .back {
	width: $card-width;
	height: $card-height;

	.stuff {
		width: 100%;
		height: 100%;
	}
}

/* flip speed goes here */
.card-wrap {
	position: relative;
}


.front, .back {
	-webkit-backface-visibility: hidden; // for mobile
	backface-visibility: hidden; // hide back of card during flip
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
}

//default: 2001 Topps
.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border: 1px solid $card-main-color;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	background-color: $card-main-color;
	padding: 16px 16px 0 16px;

	.stuff {
		position: relative;
		border: 2px solid darken(#877b5f, 10%);
		box-shadow: inset 0 1px 0 #85898c,
								inset 2px 3px 0 $card-main-color,
								inset -2px 0 0 $card-main-color;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		border-radius: 0 10px 0 10px;
		height: 387px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 7px;
			width: 2px;
			height: 360px;
			background-color: $card-main-color;
		}
	}

	.topps {
		position: absolute;
		top: 15px;
		left: 20px;
		width: 40px;
	}

	.name-box {
		background-color: $card-main-color;
		border-radius: 0 0 0 10px;
		height: 42px;
		padding: 8px 4px 0 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: linear-gradient(to right, #38616f 145px, transparent 145px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255,255,255,0.35) 2px, rgba(255,255,255,0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 147px, rgba(255,255,255,0.35) 147px)
	}

	h1 {
		font-family: 'Raleway', serif;
		font-weight: 800;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 2px;
		margin: -3px 0 0 0;
		color: lighten(#877b5f, 10%);
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.first-name {
			margin-top: -6px;
		}
		.last-name {
			text-transform: uppercase;
			font-style: normal;
			font-size: 32px;
			line-height: 33px;
			margin-top: -1px;
			margin-left: 5px;
			//border-top: 5px solid #a7be92;
		}
	}

	.player-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 350px;
		background-repeat: no-repeat;
		z-index: -1;
		border-radius: 0 10px 0 0;
	}

	.rookie {
		width: 46px;
		height: 18px;
		position: absolute;
		bottom: 50px;
		right: 16px;
		text-align: center;
		background-color: #7f6b00;
		background: linear-gradient(45deg, lighten(#7f6b00, 5%), #7f6b00);
		font-size: 8px;
		line-height: 8px;
		padding-top: 1px;
		letter-spacing: 2px;
		font-family: 'Lato', sans-serif;
		transform: skew(-12deg);
		border-radius: 3px;
		span {
			color: #cdcdcd;
			padding-left: 2px;
		}
	}

	&.topps2019 {
		padding: 0;
		background-color: #fff;
		border: 0;

		.stuff {
			border: 0;
			box-shadow: none;
			&::before {
				background-color: transparent;
			}
		}

		.topps {
			z-index: 10;
			left: unset;
			right: 30px;
    	width: 35px;
		}

		.name-box {
			z-index: 10;
			background: transparent;
			position: absolute;
			bottom: -13px;
			left: 0;
			width: 280px;
    	padding-right: 0;
		}

		h1 {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			.first-name {
				order: 2;
				font-weight: 400;
				text-transform: uppercase;
				font-style: normal;
				display: block;
				width: 100%;
				color: #fff;
				font-size: 16px;
				line-height: 16px;
				letter-spacing: 1px;
				margin-top: 0;
    		margin-bottom: -6px;
				padding-left: 24px;
			}

			.last-name {
				order: 1;
				display: block;
				width: 100%;
				color: #9d9d9d;
				background-color: #fff;
				line-height: 24px;
				height: 18px;
				margin-left: 0;
				box-shadow: 0 -6px 3px rgba(255,255,255,0.85);
				border-radius: 0 0 2px 0;
				margin-bottom: 4px;
				padding-left: 14px;
				letter-spacing: 0;

				@media screen and (max-width: 450px) {
					margin-bottom: 2px;
				}
			}
		}
		.overlay-2019 {
			z-index: 9;
			position: absolute;
			top: 0;
			left: 0;
			width: 300px;
			height: 420px;

			.overlay-left {
				position: absolute;
				bottom: 57px;
				left: 0;
				background-color: green;
				background: url(../assets/dots3.svg) no-repeat -8px 108px/62% auto, linear-gradient(60deg, #ccc 0%, #ccc 10%, transparent 40%, transparent 100%);
				width: 80px;
				height: 230px;
			}

			.overlay-right {
				position: absolute;
				bottom: 0;
				right: 0;
				background:
					url(../assets/dots.svg) no-repeat 0 100px / 155% auto,
					linear-gradient(to bottom, transparent 0%, #aaa 30%, #aaa 80%, #ccc 100%);
				width: 12px;
				height: 420px;
			}

			.overlay-bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				background: url(../assets/dots2.svg) repeat 0 -31px/82% auto,
					linear-gradient(to right, transparent 0%, transparent 20%, transparent 21%, #fff 55%, #ccc 100%),
					linear-gradient(to bottom, #fff 0%, #fff 20%, #aaa 80%, #ccc 100%);
				width: 300px;
				height: 40px;
			}
		}

		.borders-2019 {
			z-index: 10;
			position: absolute;
			top: 0;
			left: 0;
			width: 96%;
			height: 400px;
			border-right: 5px solid $mariners-blue;
			border-bottom: 12px solid $mariners-blue;
			border-radius: 0 0 10px 0;
			box-shadow: 0 9px 0 0 #fff,
									2px 0 0 0 #fff,
									2px 9px 0 0 #fff,
									0 14px 3px -3px rgba(0, 0, 0, .65);

			.border-inside-1 {
				width: 100%;
				height: 388px;
				border-radius: 0 0 11px 0;
				border-right: 2px solid $mariners-green;
				box-shadow: 0 10px 0 0 $mariners-blue;
			}

			.border-inside-2 {
				width: 281px;
				height: 388px;
				border-radius: 0 0 11px 0;
				border-right: 2px solid #fff;
				//box-shadow: 0 10px 0 0 $mariners-blue;
			}
		}

		.player-image {
			z-index: 8;
			height: 380px;
			border-radius: 0;
		}

		.team {
			z-index: 11;
			position: absolute;
			bottom: -21px;
			right: 24px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			@media screen and (max-width: 450px) {
				bottom: -22px;
			}

			img {
				width: 58px;
				margin-bottom: 3px;
			}

			.written-team {
				text-transform: uppercase;
				font-family: 'Lato', sans-serif;
				font-size: 10px;
				font-weight: bold;
				line-height: 10px;
			}

			.position {
				color: $mariners-green;
			}

			.team-name {
				color: $mariners-blue;
			}
		}

		.rookie {

			span {

			}
		}
	}

	&.fleer2001 {
		width: 420px;
		height: 300px;
		border: 1px solid #888;
		background-color: #fff;
		padding: 16px 12px 0 12px;
		
		.stuff {
			height: 284px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			
			&::before {
				display: none;
			}
		}

		.topps {
			position: absolute;
			top: 1px;
			right: 3px;
			left: unset;
			width: 56px;
		}

		.name-box {
			background: darken($mariners-blue, 10%);
			border-radius: 0;
			width: 355px;
			justify-content: flex-end;
			position: absolute;
			right: -13px;
			bottom: 12px;
			border-top: 2px solid $mariners-green;
			border-bottom: 2px solid $mariners-green;
			z-index: 130;
			padding-top: 0;
			padding-right: 69px;
			
			.triangles {
				position: relative;
				top: 0;
				left: -83px;
				width: 20px;
				height: 42px;
				
				.top {
					width: 0; 
					height: 0; 
					position: relative;
					border-top: 0 solid transparent;
					border-bottom: 22px solid transparent;
					border-right: 20px solid $mariners-green; 
					&:before {
						content: '';
						position: absolute;
						top: 2px;
						left: 4px;
						width: 0; 
						height: 0; 
						border-top: 0 solid transparent;
						border-bottom: 18px solid transparent;
						border-right: 18px solid darken($mariners-blue, 10%); 
					}
				}
				
				.bottom {
					width: 0; 
					height: 0;
					bottom: 2px;
					position: relative;
					border-top: 22px solid transparent;
					border-bottom: 0 solid transparent;
					border-right: 20px solid $mariners-green; 
					&:before {
						content: '';
						position: absolute;
						bottom: 2px;
						left: 4px;
						width: 0; 
						height: 0; 
						border-top: 18px solid transparent;
						border-bottom: 0 solid transparent;
						border-right: 18px solid darken($mariners-blue, 10%); 
					}
					&:after {
						content: '';
						position: absolute;
						bottom: 17px;
						left: 19px;
						width: 0;
						height: 0;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						border-left: 4px solid $mariners-green;
					}
				}
			}
		}

		h1 {
			margin-top: -13px;

			.first-name {
				color: #fff;
				-webkit-text-stroke: 1px $mariners-green;
				text-stroke: 1px $mariners-green;
				font-size: 22px;
				line-height: 27px;
				font-style: normal;
				text-transform: uppercase;
				margin: 0;
				
			}
			
			.last-name {
				color: #fff;
				-webkit-text-stroke: 1px $mariners-green;
				text-stroke: 1px $mariners-green;
				font-size: 22px;
				line-height: 27px;
				margin: 0 0 0 10px;
			}
		}

		.player-image {
			height: 250px;
			border-radius: 0;
			background-size: 110% auto;
    	background-position: top -1px right -30px;
		}
		
		.player-image-foreground {
			position: absolute;
			bottom: 0;
			left: 0px;
			width: 305px;
			height: 300px;
			z-index: 129;
			background-size: 132% auto;
			background-repeat: no-repeat;
			background-position: bottom 0px left -70px;
		}
		
		.team {
			z-index: 132;    
			display: flex;
    	justify-content: flex-start;
    	align-items: flex-end;
    	flex-direction: row-reverse;
      position: absolute;
			bottom: 15px;
      right: 5px;
			
			img {
				width: 45px;
				margin-bottom: 5px;
			}
			
			.written-team {
				font-family: 'Raleway', serif;
				font-weight: 800;
				color: $mariners-green;
				text-transform: uppercase;
				font-size: 12px;
				
				.position {
					margin: 0 8px 0 12px;
				}
			}
		}

		.rookie {
			
			span {
				
			}
		}
	}

}

.back {
	transform: rotateY(180deg);
  border: 1px solid $card-main-color;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  box-sizing: border-box;
  background-color: $card-main-color;
	padding: 20px;

	.stuff {
		background: $card-main-color;
		border-radius: 20px;
	}

	header {
		border-radius: 0 20px 0 45px;
		display: flex;
		justify-content: flex-end;
		z-index: 9;
		position: relative;
		background-color: $card-main-color;
		padding-bottom: 8px;
		margin-left: 15px;
	}

	.player-name, .player-position {
		font-family: 'Rubik', sans-serif;
		letter-spacing: 3px;
		font-size: 16px;
		line-height: 14px;
		text-transform: uppercase;
		color: #fff;
	}

	.last-name {
		font-weight: 500;
		font-size: 22px;
		margin-left: 10px;
	}

	.player-position {
		border: 1px solid #fff;
		letter-spacing: 0;
		padding: 2px 10px;
		height: 18px;
		margin: 20px 0 0 15px;
	}

	.player-card-no {
		background-color: #fff;
		border-radius: 0 20px 0 50px;
		width: 60px;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15px;
		span {
			color: $card-main-color;
			font-family: 'Changa One', sans-serif;
			font-style: italic;
			margin-left: 5px;
			margin-top: -5px;
			font-size: 18px
		}
	}

	.stats-story {
		height: 378px;
		margin-top: -46px;
		background-size: cover;
		background-position: -34px 0;
		position: relative;
		border-radius: 0 20px 20px 20px;
		font-family: 'Roboto Condensed', sans-serif;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 258px;
			height: 378px;
			background-color: #fff;
			border-radius: 0 20px 20px 20px;
			opacity: 0.8;
		}
	}

	.inner-box {
		position: relative;
		z-index: 10;
		padding: 65px 10px 10px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.stats-box {
		font-size: 13px;
		text-transform: uppercase;

		.row {
			display: flex;
			&--headings {
				border-bottom: 1px solid #000;
			}
			&--totals {
				border-top: 1px solid #000;
			}

			div {
				padding: 1px 0;
			}

			div:first-child {
				width: 40px;
				min-width: 40px;
				text-align: left;
			}
		}
		.heading, .amount {
			width: 50px;
			text-align: center;
		}
	}

	.stats-header {
		font-size: 11px;
		font-weight: bold;

		a {
			text-decoration: none;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.story {
		font-weight: bold;
		margin-top: 10px;
		font-size: 12px;
		line-height: 12px;
		text-align: justify;
		flex-grow: 1;
	}

	.logos {
		display: flex;
		align-items: center;
		height: 30px;

		img {
			width: 30px;
			align-self: center;
			&.mlb {
				margin-left: 2px;
			}
		}

		p {
			font-size: 6px;
			padding: 0 3px;
			text-align: center;
		}
	}

	&.topps2019 {
		padding: 0 20px 0 0;
		border: 1px solid #ddd;
		background: #bbb url(../assets/dots.svg) repeat 0 -20px/9% auto;

		.stuff {
			border-radius: 0;
			background: linear-gradient(65deg, #fff 0%, #fff 80%, rgba(255, 255, 255, 0) 100%);
		}

		.borders-2019 {
			position: absolute;
			top: 24px;
			left: 0;
			width: 96%;
			height: 395px;
			border-right: 5px solid $mariners-blue;
			border-top: 11px solid $mariners-blue;
			border-radius: 0 10px 0 0;
			box-shadow: 2px 0 0 0 #fff;

			.border-inside-1 {
				width: 100%;
				height: 384px;
				border-radius: 0 11px 0 0;
				border-right: 2px solid $mariners-green;
				box-shadow: 0 -10px 0 0 $mariners-blue;
			}

			.border-inside-2 {
				width: 279px;
				height: 383px;
				border-radius: 0 11px 0 0;
				border-right: 2px solid #fff;
			}
		}

		header {
			background: transparent;
			border-radius: 0;
			margin-left: 0;
		}

		.written-team {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-size: 10px;
			font-weight: bold;
			line-height: 10px;
			position: absolute;
			top: 33px;
			right: 12px;

			@media screen and (max-width: 450px) {
				top: 34px;
			}
		}

		.position {
			color: $mariners-green;
		}

		.team-name {
			color: $mariners-blue;
		}

		.player-name {
			display: flex;
			flex-direction: column;
			margin-top: 8px;
			position: absolute;
			top: 0;
			left: 2px;
		}

		.first-name {
			color: #fff;
			order: 2;
			font-family: 'Raleway', serif;
			letter-spacing: 1px;
			font-size: 15px;
			padding-left: 16px;
			padding-top: 1px;
		}

		.last-name {
			color: #9d9d9d;
			order: 1;
			font-family: 'Raleway', serif;
			font-weight: bold;
			letter-spacing: 0;
    	font-size: 26px;
		}

		.player-card-no {
			background-color: transparent;
			width: 26px;
    	height: 32px;

			span {
				color: #000;
				font-family: 'Roboto Condensed', serif;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
			}
		}

		.stats-story {
			height: 421px;
			background: none !important;

			&::before {
				content: '';
				top: 51px;
				left: 0px;
				width: 277px;
				height: 374px;
				background-color: lighten($mariners-green, 12%);
				border-radius: 0 10px 0 0;
				opacity: 1;
				box-shadow: inset -2px 1px 2px 0 rgba(0,0,0,0.5)
			}
		}

		.info {
			order: 1;
			padding: 24px 0 0 10px;

			p {
				font-size: 10px;
				line-height: 12px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.inner-box {
			padding: 35px 2px 10px 0;
		}

		.overflow-box {
			overflow-x: auto;
			margin-right: 1px;
		}

		.scrolling-box {
			width: 500px;
			 -webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				 -khtml-user-select: none; /* Konqueror HTML */
					 -moz-user-select: none; /* Firefox */
						-ms-user-select: none; /* Internet Explorer/Edge */
								user-select: none; /* Non-prefixed version, currently
																			supported by Chrome and Opera */
		}

		.stats-box {
			order: 3;
			font-size: 12px;
			padding: 3px 0 0;
			background-color: #ddd;
			box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,0.3),
				inset -1px 0 0px 0 rgba(0,0,0,0.3);
			margin-bottom: 10px;

			.stats-header {
				padding: 0 10px;
			}

			.row {

				&--headings div:first-child {
					padding-left: 10px;
					width: 44px;
					min-width: 44px;
				}

				&--headings div:last-child {
					padding-right: 10px;
					width: 60px;
				}

				&:not(.row--headings) div:first-child {
					margin-left: 10px;
				}

				&:not(.row--headings) div:last-child {
					margin-right: 10px;
				}

				div {
					border-bottom: 1px solid #ccc;
				}

				div:first-child {
					width: 26px;
					min-width: 26px;
				}

				&--headings {
					font-weight: bold;
					border-bottom: none;
					line-height: 14px;
					background-color: lighten($mariners-green, 12%);
					box-shadow: inset -1px 0 2px 0 rgba(0,0,0,0.5);
					div {
						border-bottom: none;
						&:first-child {
							width: 36px;
							min-width: 36px;
						}
					}
				}

				&--totals {
					font-weight: bold;
					border-top: 0;
					div {
						border-bottom: none;
					}
				}


			}
			.heading, .amount {

			}
		}

		.stats-header {
			margin: 0 10px;
			border-top: 1px solid #444;
			padding: 2px 10px 1px;

			a {

				&:hover {

				}
			}
		}

		.story {
			order: 2;
			padding: 10px;
			margin-top: 5px;
			background-color: #ddd;
			font-size: 12px;
    	line-height: 15px;
			box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.5),
				inset -1px 0 0 0 rgba(0,0,0,0.3);
		}

		.logos {
			order: 4;
			padding: 10px;

			img {
				width: 34px;
				&.mlb {
					width: 22px;
    			margin-top: 11px;
				}

				&.mlbpa {
					width: 26px;
				}
			}

			p {

			}
		}

		.horizontal {

		}
	}

	&.fleer2001 {
		width: 420px;
		height: 300px;
		padding: 30px 0 0;
		background-color: $dull-brown;
		border: 1px solid $dull-brown;
		border-right: 1px solid #444;
		
		.stuff {
			background-color: $dull-brown;
		}

		header {
			background-color: darken($mariners-blue, 10%);
			border-radius: 0;
			margin-left: 0;
			align-items: center;
			padding: 4px 0;
			justify-content: flex-start;
			padding-left: 55px
		}

		.back-logo {
			position: absolute;
			top: -8px;
			left: 7px;
			width: 40px;
			align-self: center;
		}	
		
		.player-name {
			color: $dull-brown;
			font-family: 'Raleway', serif;
			font-weight: 800;
			letter-spacing: 1px;
    	font-size: 17px;
		}

		.last-name {
			font-family: 'Raleway', serif;
			font-weight: 800;
			letter-spacing: 1px;
    	font-size: 17px;
			margin: 0 10px 0 5px;
		}

		.written-team {
			color: $dull-brown;
			font-style: italic;
			font-family: 'Raleway', serif;
			font-weight: 800i;
			text-transform: uppercase;
			letter-spacing: 0;
    	font-size: 13px;
		}
		
		.position {
			font-style: italic;
			font-family: 'Raleway', serif;
			font-weight: 800i;
			text-transform: lowercase;
			letter-spacing: 0;
    	font-size: 13px;
			margin-right: 10px;
		}

		.player-card-no {
			background-color: transparent;
			position: absolute;
			top: -26px;
			right: 0;
			font-size: 17px;
			
			span {
			  color: #000;	
			}
		}

		.stats-story {
			height: 282px;
			background: none;
			
			&::before {
				content: '';
				display: none;
			}
		}

		.inner-box {
			padding-top: 50px;
		}

		.info {
			order: 1;
		}
		
		.info-paragraph {
			font-size: 11px;
			line-height: 15px;
			font-weight: bold;
			padding-left: 40px;
			padding-bottom: 2px;
		}
		
		.stats-header {
			background: darken($mariners-blue, 10%);
			border-radius: 0;
			width: 402px;
			z-index: 130;
			padding: 6px 0 4px 29px;
			position: relative;
			margin-bottom: 3px;
			margin-left: 6px;
			
			a {
				color: $dull-brown;
				font-size: 12px;	
				letter-spacing: 1px;
				font-family: 'Raleway', serif;
			}
			
			.triangles {
				position: absolute;
				top: 0;
				left: -14px;
				width: 20px;
				height: 25px;
				
				.top {
					width: 0; 
					height: 0; 
					top: 0;
					right: -4px;
					position: relative;
					border-top: 0 solid transparent;
					border-bottom: 12px solid transparent;
					border-right: 11px solid darken($mariners-blue, 10%); 
					
				}
				
				.bottom {
					&:before {
						content: '';
						position: absolute;
						bottom: 2px;
						left: 4px;
						width: 0; 
						height: 0; 
						border-top: 12px solid transparent;
						border-bottom: 0 solid transparent;
						border-right: 11px solid darken($mariners-blue, 10%); 
					}
					
				}
			}
		}
		
		.stats-box {
			order: 2;
			font-size: 11px;
			line-height: 13px;
			font-weight: bold;
			
			.row {
				
				&--headings {
					border-bottom: 2px solid #222;
				}
				

				div {
					
				}

				div:first-child {
					
				}
				
				&--totals {
					border-top: 2px solid #222;
					
					div:first-child {
						width: 60px;
						min-width: 60px;
					}
					
					div:nth-child(2) {
						width: 21px;
					}
				}
			}
			.heading, .amount {
				
			}
		}

		.stats-header {
			

			a {
				
				&:hover {
					
				}
			}
		}

		.story {
			order: 3;
			margin: 5px 0;
			font-size: 11px;
			line-height: 11px;

			@media screen and (max-width: 450px) {
				margin: 5px 0 13px;
			}
		}

		.logos {
			order: 4;

			img {
				&.fleer {
					order: 1;
					margin-left: 10px;
					width: 35px;
				}
				&.mlb {
					order: 2;
					margin-top: 5px;
					margin-left: 5px;
				}
				&.mlbpa {
					order: 3;
					margin-left: 5px;
				}
			}

			p {
				order: 4;
				text-align: left;
				font-size: 7px;
				line-height: 7px;
			}
		}
	}
}

//player specific styles
.container {
	cursor: pointer;
	margin: 10px;

	&[data-player="Ginny Baker"] {
		.front {
			.player-image {
				background-position: -75px -55px;
				background-size: 450px auto;
			}

			.team {
				width: 70px;
				position: absolute;
				left: 10px;
				bottom: -3px;
			}
		}

		.back {
			.row {
				div:nth-child(4), div:nth-child(5) {
					width: 80px;
				}
			}
		}
	}

	&[data-player="Charlie Kelly"] {
		.front {
			.player-image {
				background-position: -20px -58px;
				background-size: 350px auto;
			}

			.team {
				width: 66px;
				position: absolute;
				left: 10px;
				bottom: 7px;
			}

			.name-box {
				background: linear-gradient(to right, #38616f 153px, transparent 153px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255,255,255,0.35) 2px, rgba(255,255,255,0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 153px, rgba(255,255,255,0.35) 153px)
			}
		}

		.back {

		}
	}

	&[data-player="Calvin"] {
		.front {
			.player-image {
				background-position: -56px -13px;
    		background-size: 320px auto;
			}

			.team {
				width: 60px;
				position: absolute;
				left: 16px;
				bottom: 3px;
			}

			.name-box {
				background: linear-gradient(to right, #38616f 135px, transparent 135px, transparent 260px, #38616f 260px), linear-gradient(to bottom, #38616f 0px, #38616f 2px, rgba(255,255,255,0.35) 2px, rgba(255,255,255,0.35) 7px, #38616f 7px), linear-gradient(to right, #38616f 135px, rgba(255,255,255,0.35) 135px);
			}
		}

		.back {
			.row {
				div:last-child {
					width: 29px;
					min-width: 29px;
				}
			}

			.story {
				@media screen and (max-width: 450px) {
					margin-top: 1px;
				}
			}
		}
	}

	&[data-player="Kyle Stark"] {
		.front {
			.player-image {
				background-position: -105px -65px;
    		background-size: 420px auto;
			}

			.last-name {
				@media screen and (max-width: 450px) {
					margin-bottom: 3px;
				}
			}
			
			.team {

			}
		}

		.back {
			.row {

			}
		}
	}

	&[data-player="Gene Belcher"] {
		.front {
			.player-image {
				background-position: -67px -65px;
    		background-size: 400px auto;
			}

			.team img {
				margin-bottom: -6px;
			}

			.position {
				color: $devils-blue;
			}

			.borders-2019 {
				border-right: 5px solid $devils-red;
				border-bottom: 12px solid $devils-red;

				.border-inside-1 {
					border-right: 2px solid $devils-blue;
					box-shadow: 0 10px 0 0 $devils-red;
				}
			}

			.team-name {
				color: $devils-red;
			}
		}

		.back {
			.borders-2019 {
				border-right: 5px solid $devils-red;
				border-top: 11px solid $devils-red;

				.border-inside-1 {
					border-right: 2px solid $devils-blue;
					box-shadow: 0 -10px 0 0 $devils-red;
				}
			}

			.team-name {
				color: $devils-red;
			}

			.position {
				color: $devils-blue;
			}

			.stats-story::before {
				background-color: desaturate($devils-blue, 35%);
			}

			.scrolling-box {
				width: auto;
			}

			.row {
				&--headings {
					background-color: desaturate($devils-blue, 35%);
				}
				&--year1 {
					div:nth-child(3) {
						margin-left: -2px;
					}
				}



			}
		}
	}

	&[data-player="Henry Rowengartner"] {
		.front {
			.player-image {
				background-position: -60px -38px;
    		background-size: 400px auto;
			}
			
			.first-name {
				margin-top: 6px;
			}
			
			.last-name {
				font-size: 24px;
				margin-top: 3px;
				margin-bottom: -5px;
			}
			
			.team img {
				width: 50px;
				margin-bottom: -1px;
			}
			
			.team-name {
				sup {
					top: 1px;
    			position: relative;
    			font-size: 6px;
				}
			}
			
			.position {
				color: $cubs-red;
			}
			
			.borders-2019 {
				border-right: 5px solid $cubs-blue;
				border-bottom: 12px solid $cubs-blue;

				.border-inside-1 {
					border-right: 2px solid $cubs-red;
					box-shadow: 0 10px 0 0 $cubs-blue;
				}
			}
			
			.team-name {
				color: $cubs-blue;
			}
		}

		.back {
			.borders-2019 {
				border-right: 5px solid $cubs-blue;
				border-top: 11px solid $cubs-blue;

				.border-inside-1 {
					border-right: 2px solid $cubs-red;
					box-shadow: 0 -10px 0 0 $cubs-blue;
				}
			}
			
			.written-team {
				top: 30px;
			}
			
			.team-name {
				color: $cubs-blue;
				
				sup {
					position: relative;
					top: 3px;
				}
			}
			
			.position {
				color: $cubs-red;
			}
			
			.stats-story::before {
				background-color: #d76b51;
			}
			
			.scrolling-box {
				width: auto;
			}
			
			.row {
				&--headings {
					background-color: #d76b51;
				}
			
			}
		}
	}
	
	&[data-player="Kenny Powers"] {

		
	}

	&[data-player="G-Baby"] {
		.front {
			&.fleer2001 {
				.player-image-foreground {
					background-size: 130% auto;
					background-position: bottom -3px left -144px; 
				}
				
				.player-image {
					background-size: 118% auto;
					background-position: top -1px right -60px;
				}
				
				.name-box {
					background: $kekambas-green;
					border-top-color: #444;
					border-bottom-color: #444;
					
					.triangles {
						left: -180px;
						
						.top {
							border-right-color: #444; 
							&:before {
								border-right-color: $kekambas-green;
							}
						}

						.bottom {
							border-right-color: #444;
							
							&:before {
								border-right-color: $kekambas-green;
							}
							&:after {
								border-left-color: #444;
							}
						}
					}
					
					
				}
				
				h1 {
					.last-name {
						-webkit-text-stroke: 1px #444;
					}
				}
				
				.team {
					.written-team {
						color: #444;
					}
					
					img {
						margin-bottom: 2px;
					}
				}
				
			}
		}
		
		.back {
			&.fleer2001 {
				header {
					background-color: darken(#38616f, 10%);
				}
				
				.stats-header {
					background: darken(#38616f, 10%);
					
					.triangles {
						.top {
							border-right-color: darken(#38616f, 10%);
						}
						
						.bottom {
							&:before {
								border-right-color: darken(#38616f, 10%);
							}
						}
					}
				}
				
				.stats-box .row--totals { 
					div:nth-child(2) {
							width: 17px;
					}
				}
				
				.story {
					margin-bottom: 35px;
				}
			}
		}
		
	}

}

details {
	margin: 50px 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #1f618d;
	background: #fff;
	border: 1px solid rgba(31,97,141,0.2);
	padding: 10px;
	width: 85px;

	@media screen and (max-width: 450px) {
		margin: 30px 10px;
	}

	&[open] {
		width: auto;
	}

	summary {
		font-weight: bold;
		cursor: pointer;
		outline: none;
	}

	ul {
		text-align: left;
		padding-left: 0;
		font-style: italic;
		font-weight: normal;
		margin: 0;

		li {
			line-height: 18px;
			border-top: 1px solid rgba(31,97,141,0.2);
			padding: 5px;

			&:first-child {
				border-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			a {
				color: #1f618d;
				&:hover {
					color: darken(#1f618d, 10%);
				}
			}
		}
	}
}
