@charset "utf-8";

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,700italic,400italic);

/* Globals */
* { box-sizing: border-box; margin: 0; }
body { font-family: 'Open Sans', sans-serif; font-size: 16px; color: #646464; }
a { text-decoration: none; color: inherit; }
p { margin: 10px 0; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
.c { clear:both; }
section { width: 100%; }


/* Background video */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    top: 70px	;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
    z-index: -1;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.poster.hidden {
	display: none;
}

/* Nav & top section */
nav {
	width: 100%;
	height: 70px;
	background-color: rgba(51,134,204,1);
	border-bottom: 2px solid #fff;
	box-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

nav img { 
	float: left;
	padding: 11px 0;
	margin-left: 20px;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline;
	color: #fff;
	font-size: 20px;
	padding: 0 20px;
	line-height: 70px;
}

.section1.home {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;

}

.section1.home .title {
	top: 35%;
	color: #fff;
	font-weight: 600;
	text-shadow: 2px 2px 1px rgba(0,0,0,.7);
	position: absolute;
	width: 100%;

}

.section1.home h1 {
	font-style: italic;
	text-align: center;
}

.section1.home h2 {
	text-align: center;

}

.section1 a.c {

}

.down {
	position: relative;
  	top: 30px;
  	display: block;
  	margin: 0 auto;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

.section2.home {
	padding: 60px 0;
}

.section2.home {
	background: #fff;
}

.section2.home img {
	margin: 20px auto;
	display: block;
}

.section2.home p {
	text-align: center;
	font-size: 32px;
}

.inner {
	width: 70%;
	display: block; 
	margin: 0 auto;
}

.section3.home .panel {
	width: 33%;
	float: left;
	height: 450px;
	text-align: center;
	font-style: italic;
	color: #fff;

	-ms-display: flex;
   	-ms-justify-content: center;
   	-ms-align-items: center;

   	-webkit-display: flex;
   	-webkit-justify-content: center;
   	-webkit-align-items: center;

	display: flex; 
	justify-content: center;
	align-items: center; 
}

.section3 h2, .section h3 {
	text-shadow: 2px 2px 1px rgba(0,0,0,.7);
}

.section3 .productpanel {
	background: url(../assets/productbg.jpg) no-repeat;
	background-size: cover;
}

.section3 .datapanel {
	background: url(../assets/databg.jpg) no-repeat;
	background-size: cover;
}

.section3 .contactpanel {
	background: url(../assets/contactbg.jpg) no-repeat;
	background-size: cover;
}

footer {
	clear: both;
	background-color: #3e3e3e;
    color: #fff;
    padding: 7px;
    text-align: center;
    font-size: 14px;
}




/* Bouncing arrow - credit to dodozhang21 */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-2px);
  }
  70% {
    transform: translateY(-2px);
  }
}


