<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A searchable list of all Pokémon and their types">
	<title>Pokémon List - A searchable list of all Pokémon, their types, and anything else you need to know</title>
	<link rel="shortcut icon" href="assets/favicon.png?d=3821">
	<link rel="apple-touch-icon-precomposed" href="assets/touch-icon.jpg?d=32521">
	<meta itemprop="name" content="Pokémon list">
    <meta itemprop="description" content="A searchable list of all Pokémon, their types, and anything else you need to know">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pokémon Liost">
    <meta name="twitter:description" content="A searchable list of all Pokémon, their types, and anything else you need to know">
    <meta name="twitter:site" content="@kstardesigns">
    <meta name="twitter:creator" content="@kstardesigns">
    <meta name="twitter:image" content="https://kylephx.com/pkmnlist/assets/twitter-card.jpg?d=32521" class="twitter-image">
    <meta name="twitter:image:alt" content="Pokémon List - 80 Pokémon from Generation 4 are shown">
    <meta property="og:title" content="Pokémon Type List">
    <meta propertyname="og:description" content="A searchable list of all Pokémon, their types, and anything else you need to know">
    <meta property="og:url" content="https://kylephx.com/pkmnlist">
    <meta property="og:image" content="https://kylephx.com/pkmnlist/assets/facebook-share.jpg?d=32521">
    <meta property="og:site_name" content="Pokémon List">
    <meta property="og:type" content="website">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div id="app">
		<header>
			<h2 class="page-header" @click="cancelSearch">Pokémon list</h2>
		</header>
		<div class="search-box">
			<input class="query" type="text" v-model="query" placeholder="Search by Pokémon name or type" autocomplete="off" autocorrect="off" spellcheck="false">
			<div class="cancel-search" v-if="query" @click="cancelSearch">&times;</div>
		</div>
		<div class="result-count">{{ filteredList.length }} Pokémon shown<span v-if="query !== 'all'"> <span class="separator">|</span> <button @click="showAll">Show all</button></div>
		<ul class="pokemon-list">
			<li class="pokemon-row" v-for="pokemon in filteredList" :data-pokemon="pokemon.name"> 
				<span class="number">{{ pokemon.number}}</span>
				<a class="link" :href="createPkmnLink(pokemon.number, pokemon.name, pokemon.stringname)" target="_blank">
					<span class="icon"><img :src="'assets/icons/' + pokemon.stringname + '.png'" :alt="pokemon.name"/></span>
					<span class="name"><span v-if="pokemon.prefix">{{pokemon.prefix}} </span>{{ pokemon.name}}<span v-if="pokemon.suffix"> {{pokemon.suffix}}</span></span>
				</a>
				<button :class="{'type': true, 'type-1': true, [pokemon.type1]: true}" @click="createTypeQuery(pokemon.type1)">{{ pokemon.type1}}</button>
				<button :class="{'type': true, [pokemon.type2]: true}" v-if="pokemon.type2" @click="createTypeQuery(pokemon.type2)">{{ pokemon.type2}}</button>
				<span v-else :class="{'no-type-2': true}"></span>
			</li>
		</ul>
		<button class="show-all-bottom" v-if="query !== 'all'" @click="showAll">Show all</button>
		<div class="credit">Credit to <a href="https://www.serebii.net/" target="_blank">Serebii</a>, <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page" target="_blank">Bulbapedia</a>, and <a href="https://www.pkmn.help/" target="_blank">Pkmn Help</a> for all images and links.<br><br>Pokémon © 2002–2021 Pokémon. © 1995–2021 Nintendo/Creatures Inc./GAME FREAK inc. ™, ® and Pokémon character names are trademarks of Nintendo.</div>
	</div>

	<script src="scripts/vue.min.js"></script>
	<script src="scripts/pokemon.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7ZYWC7NNHB"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-7ZYWC7NNHB');
	</script>

</body>
</html>
