@charset "UTF-8";
/* CSS Document */
/* copyright kstar designs */


@font-face
{
font-family: Biko;
src: url('assets/Biko_Regular.ttf'),
     url('assets/Biko_Regular.otf'); /* IE9 */
}

@font-face
{
font-family: BikoBold;
src: url('assets/Biko_Bold.ttf'),
     url('assets/Biko_Bold.otf'); /* IE9 */
}


@font-face
{
font-family: Neuton;
src: url('assets/Neuton-Regular.ttf'),
     url('assets/Neuton-Regular.otf'); /* IE9 */
}

@font-face
{
font-family: Mathilde;
src: url('assets/mathilde.ttf'),
     url('assets/mathilde.otf'); /* IE9 */
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	margin: 0px;
	min-width: 320px;
   
}

a {
	text-decoration: none;
}

img {
	border: none;
}

#wrap {
	background: url('assets/bg.png') #ffffff top left;
	background-repeat: repeat;
}

#headerpic {
	position: relative;
	width: 100%;
	height: auto;
	top: 0;
	z-index: 1;
	
}

#headerpic img {
	width: 100%;
}


#logo {
	padding: 8px;
	width: 18.5%;
	height: 15%;
	/*background-color: black;*/
	left: 3%;
	top: 0;
	position: absolute;
	z-index: 2;
	min-width: 150px;
	min-height: 47px;
	max-width: 254px;
	
}

#navbar {
	z-index: 2;
	position: absolute;
	left: 27%;
	top: 5%;
}

#navbar li { 
	display: inline;
	font-family: "Biko", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: white;
	padding-right: 35px;
	
}

@media (min-width: 401px) and (max-width: 650px) {
	#navbar {
		z-index: 2;
		position: absolute;
		right: 10px;
		left: 0;
		top: 2%;
	}
	
	#navbar li { 
		display: block;
		font-family: "Biko", Arial, Helvetica, sans-serif;
		font-size: 1.3em;
		line-height: 1.3em;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
		color: white;
		text-align: right;
		padding-right: 0;
		
	}
}

@media (min-width: 1px) and (max-width: 400px) {
	 #navbar {
		z-index: 2;
		position: absolute;
		right: 10px;
		top: -5%;
	}
	
	#navbar li { 
		display: block;
		font-family: "Biko", Arial, Helvetica, sans-serif;
		font-size: 1.1em;
		line-height: 1.15em;
		color: #7f0000;
		padding-right: 0;
		text-align: right;
		
	}
}


#navbar li a {
	color: white;
}

#navbar li a:hover {
	color: #F5F03F;
}

#navcircles {
	position: absolute;
	left: 85%;
	top: 88%;
	z-index: 3;
}

#navcircles img {
	height: 25px;
	width: 25px;
}

#subtitle {
	text-align: center;
}

#subtitle li { 
	display: inline;
	position: relative;
	width: 100%;
	height: auto;
	font-family: "Neuton", Arial, Helvetica, sans-serif;
	font-size: 2.4em;
	color: #3e3e3e;
	padding-right: 50px;
	padding-left: 50px;
}

#maindiv {
	
	z-index: 1;
	background: #F5F5F5;
	overflow: auto;
	height: auto;
	width: 1000px;
	margin: 0px auto;
	box-shadow: 1px 1px 2px #888888;
}

#leftdiv {
	float: left;
	margin: 10px 60px 10px 10px;
	height: auto;
	z-index: 2;
	border-left: 1px;
	max-width: 600px;
}

#left1 {
	/* background: url('assets/gchouse.png') #3e3e3e no-repeat top left; */
	background-image: url('assets/gchouse.jpg'), url('assets/house.png');
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	background-color: #3e3e3e;
	height: auto;
	margin-bottom: 20px;
	
}

#text {
	padding: 390px 20px 30px 20px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

#left2 {
	background: url('assets/quotes.png') #7f0000 no-repeat top right;
}



#left2 h1 {
	color: white;
	padding: 10px 15px 0px 20px;
	font-family: Arial, Helvetica, sans-serif;

}

#arrows {
	position: relative;
    float: right;
	padding-right: 5px;
	z-index: 3;
}

#leftarrow {
	margin-left: 10px;
	
}

#arrows:hover {
	cursor: pointer;
}

#left2 img {
	padding: 5px;
}

#testimony {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 0px 20px 5px 30px;
	z-index: 3;
}

#left2 p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-top: 15px;
	padding: 0px 30px 0px 30px;
}
#moreTestimonials {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-right: 10px;
	float: left;
}

#rightdiv {
	float: left;
	margin: 20px 0px 10px 0px;
	height: auto;
	z-index: 2;
}

#right1 {
	background: url('assets/CBClogoblack.png') no-repeat top center;
	margin-bottom: 10px;
} 

#right2 {
	background: url('assets/vince.jpg') no-repeat top center;
	height: auto;
	width: 270px;
} 

#text5 {
	padding: 90px 0px 3px 0px;
	color: #7f0000;
	font-style:italic;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

#text2 {
	padding: 10px 0px 30px 0px;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	
}

#text3 {
	padding: 275px 20px 30px 20px;
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	
}

#text4 {
	padding: 2px;
	color: #7f0000;
	font-size: 2em;
	text-align: center;
	font-family: "Mathilde", Arial, Helvetica, sans-serif;
	
}

#houzz {
	margin: 0px 20px 10px -10px;
	text-align: center;
	font-size: 16px;
}

@media (min-width: 801px) and (max-width: 949px) {
	
	#maindiv {
		z-index: 1;
		background: #F5F5F5;
		overflow: auto;
		height: auto;
		width: 600px;
		margin: 0px auto;
		box-shadow: 1px 1px 2px #888888;
	}
	
	#leftdiv {
		float: left;
		margin: 10px;
		height: auto;
		z-index: 2;
		border-left: 1px;
		width: 95%;
		max-width: 600px;
	}
	
	#rightdiv {
		float: left;
		margin: 50px 0px 30px 0px;
		height: auto;
		width: 95%;
		z-index: 2;
	}
	
	#right2 {
		background: url('assets/vince.jpg') no-repeat top center;
		height: auto;
		width: 100%;
	} 
	

}

@media (min-width: 400px) and (max-width: 800px) {
	#maindiv {
		z-index: 1;
		background: #F5F5F5;
		overflow: auto;
		height: auto;
		margin: 0px auto;
		box-shadow: 1px 1px 2px #888888;
	}

	#leftdiv {
		float: left;
		margin: 10px 60px 10px 10px;
		height: auto;
		z-index: 2;
		border-left: 1px;
		width: 95%;
		max-width: 600px;
	}
	
	#left2 {
		background: url('assets/quotes.png') #7f0000 no-repeat top right;
	}

	#rightdiv {
		float: left;
		margin: 50px 0px 30px 0px;
		height: auto;
		z-index: 2;
		width: 100%;
	}
	
	#right2 {
		background: url('assets/vince.jpg') no-repeat top center;
		height: auto;
		width: 100%;
	} 

	#arrows {
		display: none;	
	}
	
	#houzz {
		margin: 0;
	}
}

@media (min-width: 601px) and (max-width: 799px) {
	#maindiv {
		width: 600px;
		}
}

@media (min-width: 400px) and (max-width: 600px) {
	#maindiv {
		width: 100%;
		}
}

@media (min-width: 1px) and (max-width: 399px) {
	#maindiv {
		z-index: 1;
		background: #F5F5F5;
		overflow: auto;
		height: auto;
		width: 100%;
		margin: 0px auto;
		box-shadow: 1px 1px 2px #888888;
	}

	#leftdiv {
		float: left;
		margin: 10px;
		height: auto;
		z-index: 2;
		border-left: 1px;
		max-width: 600px;
	}
	
	#left1 {
		/* background: url('assets/gchouse.png') #3e3e3e no-repeat top left; */
		background-image: url('assets/gchouse-mini.png'), url('assets/house.png');
		background-position: left top, right bottom;
		background-repeat: no-repeat;
		background-color: #3e3e3e;
		height: auto;
		margin-bottom: 20px;
		
	}
	
	#houzz {
		margin: 0;
	}
	
	#text {
		padding: 275px 20px 30px 20px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
	}
	
	#left2 {
		background: url('assets/quotes.png') #7f0000 no-repeat top right;
	}
	
	#arrows {
	display: none;	
	}
	
	#rightdiv {
		float: left;
		margin: 50px 0px 30px 0px;
		height: auto;
		z-index: 2;
		width: 100%;
	}
	
	#right2 {
	background: url('assets/vince.jpg') no-repeat top center;
	height: auto;
	width: 100%;
	} 
	
	#headerpic img {
		display: none;
	}
	
	#headerpic {
		position: relative;
		width: 100%;
		height: 120px;
		top: 0;
		z-index: 1;
		
	}
	
	#navbar li a {
		color: #7f0000;
		padding-right: 0;
	}
	
	#navbar li a:hover {
		color: #278CEB;

	}
	
	#logo {
		background: url('assets/CBClogomain2-mini.png') no-repeat top center;
		padding: 8px;
		width: 18.5%;
		height: 15%;
		/*background-color: black;*/
		left: 3%;
		top: 0;
		position: absolute;
		z-index: 2;
		min-width: 150px;
		min-height: 47px;
		max-width: 254px;
	}

}

.best {margin: -20px auto 10px auto; display: block;}

#footer {
	clear: both;
	z-index: 2;
	position: relative;
	left: 0;
	height: 50px;
	width: 100%;
	background-color: #3e3e3e;
	text-align: center;
}

#footerlogo {
	float: left;
	padding-left: 10px;
	padding-top: 4px;
}

#footer ul {
	position: absolute;
	padding-left: 11.7%; /* 150px */
	margin-left: 7.8%; /* 100px */
}

#footer li {
	display: inline;
	font-family: "Biko", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: white;
	padding-right: 80px;
	padding-top: 4px;
}


#footer li a:hover {
	color: #F5F03F;
}

#footer ul li.last {
 	padding-right: 0;
}

#footer ul li a {
	color: white;
}

#kstarlogo {
	float: right;
	padding-right: 10px;
	padding-top: 4px;
	
}


@media (min-width: 951px) and (max-width: 1080px) {
	#footer li {
	display: inline;
	font-family: "Biko", Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: white;
	padding-right: 50px;
	padding-top: 4px;
	}
}

@media (min-width: 801px) and (max-width: 950px) {
	#footer li {
	display: inline;
	font-family: "Biko", Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: white;
	padding-right: 30px;
	padding-top: 4px;
	}
}

@media (min-width: 701px) and (max-width: 800px) {
	#footer li {
	display: inline;
	font-family: "Biko", Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: white;
	padding-right: 10px;
	padding-top: 4px;
	}
}

@media (min-width: 1px) and (max-width: 700px) {
	#footer ul {
		display: none;
	}
}
