:root {
  --black: #222;
  --white: #fff;
  --theme-color: #000;
  --accent-color: #000;
}

/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  accent-color: var(--accent-color);
  color-scheme: var(--theme-color);

  *:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
  }
  
  input[type="checkbox"]:focus-visible {
    outline-offset: 2px;
  }
}

body {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-family: 'Tinos';
  background-color: pink;
}

::selection {
  background-color:#99d9f5;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

img, picture, video, canvas, iframe {
  display: block;
  max-width: 100%;
}

img {
  border-style: none;
  vertical-align: middle;
  border: 0;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: transparent;
}

input, textarea, button, select, optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="checkbox"], label {
  cursor: pointer;
}

a {
  color: #007eb4;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #006894;
    text-decoration: underline;
  }
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 28px;
  text-rendering: optimizeLegibility;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: transparent;
}

button, [type="button"], [type="submit"] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

select {
  padding: 2px;
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 2px;
  margin-top: 2px;
}

button, input {
  overflow: visible;
}

button, summary {
  cursor: pointer;
}

details {
  border: 2px solid rgb(0 0 0 / 10%);
  margin-bottom: 4px;
}

summary {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px 3px 15px;
  display: flex;
  font-size: 18px;
}

details summary::-webkit-details-marker {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

main { 
  position: relative;
  display: flex;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-auto-rows: 25vh;

  @media (width < 480px) {
    height: 100dvh;
    grid-auto-rows: 25dvh;
  }

  &--1, &--2 {
    grid-auto-rows: 50vh;

    @media (width < 480px) {
      grid-auto-rows: 50dvh;
    }
  }

  &--3 {
    grid-auto-rows: 33.333vh;
    
    @media (width < 480px) {
      grid-auto-rows: 33.333dvh;
    }
  }

  &--4 {
    grid-auto-rows: 25vh;
    
    @media (width < 480px) {
      grid-auto-rows: 25dvh;
    }
  }

  &--5 {
    grid-auto-rows: 20vh;

    @media (width < 480px) {
      grid-auto-rows: 20dvh;
    }
  }

  &--6 {
    grid-auto-rows: 16.666vh;

    @media (width < 480px) {
      grid-auto-rows: 16.666dvh;
    }
  }

  &--7 {
    grid-auto-rows: 14.286vh;

    @media (width < 480px) {
      grid-auto-rows: 14.286dvh;
    }
  }

  .color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width < 640px) {
      justify-content: space-between;
      padding-right: 30px;
    }

    .logo {
      display: flex;
      width: auto;
      height: 50%;

      @media (width < 640px) {
        height: 60px;
      }
    }
  }

  &--2, &--3 {
    .color {
      .logo {
        @media (width < 640px) {
          height: 100px;
        }
      }
    }
  }

  .color-box {
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 4px;
    margin: 12px;
    padding: 4px 8px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;

    @media (width < 640px) {
      position: static;
    }
  }

  .color-team {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }

  .color-name, .color-hex {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 1px;
    border: 0;
    background-color: transparent;
    text-align: left;
    position: relative;
    display: flex;
    padding: 0;

    @media (width < 480px) {
      font-size: 21px;
      line-height: 23px;
    }

    &::after {
      content: 'Copied!';
      display: none;
      position: absolute;
      top: 4px;
      left: 100%;
      font-size: 12px;
      -webkit-text-stroke: initial;
      background-color: rgba(255 255 255 / 75%);
      color: var(--black);
      border-radius: 4px;
      padding: 5px 4px;
      line-height: 10px;
      letter-spacing: 0;
      font-weight: 500;
    }

    &.copied {
      &::after {
        display: flex;
      }
    }

    
  }

  .color-name {
  }

  .color-hex {
    text-transform: lowercase;
  }
}

.main-random {
  position: absolute;
  top: 17px;
  right: 140px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 2px 2px 0;
  background-color: var(--white);
  outline: 6px solid rgb(255 255 255 / 25%);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 0;
  border-bottom: 0;

  @media (width < 480px) {
    position: fixed;
    top: initial;
    bottom: 0;
    right: 0;
    outline: 0;
    margin-bottom: 0;
  }

  svg {
    width: 24px;
    height: 19px;

    path {
      fill: var(--accent-color);
    }
  }

  @keyframes shake {
    0% { transform: translateX(0px) translateY(0); }
    20% { transform: translateX(-2px) translateY(0); }
    40% { transform: translateX(0px) translateY(0); }
    60% { transform: translateX(2px) translateY(0); }
    80% { transform: translateX(0) translateY(-2px); }
    100% { transform: translateX(0) translateY(0); }
  }

  &:hover {
    svg {
      animation: shake 500ms infinite;

      @media (width < 480px) {
        animation: none;
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 17px;
  right: 22px;
  background-color: var(--white);
  outline: 6px solid rgb(255 255 255 / 25%);

  @media (width < 480px) {
    position: fixed;
    top: initial;
    right: initial;
    bottom: 0;
    left: 0;
    outline: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-left: 0;
  }

  &[open] {
    padding: 16px 0 16px;
    width: 350px;
    height: calc(100% - 40px);

    @media (width < 480px) {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      padding-bottom: 48px;
    }

    .sidebar-trigger {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0;
      right: 0;
      background: var(--white);
      padding: 0;

      @media (width < 480px) {
        top: initial;
        left: initial;
        bottom: 7px;
        left: 12px;
        width: 40px;
        height: 40px;
      }

      &-words, svg.burger {
        display: none;
      }

      svg.close {
        display: flex;
      }
    }
  }

  &-trigger {
    display: flex;
    align-items: center;
    padding: 0 4px;
    gap: 6px;

    &-words {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      color: var(--black);
      font-weight: bold;
    }

    svg {
      width: 32px;
      height: 32px;
      flex: 0 0 32px;

      &.burger {
        width: 28px;
        height: 28px;
        flex: 0 0 28px;
      }

      &.close {
        display: none;
      }
    }
  }

  .settings {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px;

    h1 {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      color: var(--black);
      font-weight: bold;
    }

    &-row {
      display: flex;
      gap: 12px;
      margin-bottom: 12px;
    }

    &-group {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        width: 14px;
        height: 14px;
      }

      label {
        padding-left: 8px;
        font-size: 14px;
      }

      &--stacked {
        flex-direction: column;
        align-items: flex-start;

        label {
          padding: 0;
        }
      }
    }

    &-random {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      padding: 0;
      background-color: transparent;

      svg {
        width: 24px;
        height: 19px;

        path {
          fill: var(--accent-color);
        }
      }

      @keyframes shake {
        0% { transform: translateX(0px) translateY(0); }
        20% { transform: translateX(-2px) translateY(0); }
        40% { transform: translateX(0px) translateY(0); }
        60% { transform: translateX(2px) translateY(0); }
        80% { transform: translateX(0) translateY(-2px); }
        100% { transform: translateX(0) translateY(0); }
      }

      &:hover {
        svg {
          animation: shake 500ms infinite;

          @media (width < 480px) {
            animation: none;
          }
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      height: 42px;
    }

    button {
      width: 100%;
      border: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 16px;
      background-color: var(--white);
      padding: 6px;

      &:hover {
        background-color: #fed;
      }

      &.active {
        background-color: #fed;
      }
    }

    .logo-box {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 30px;
    }

    .team-name {
      text-align: left;
      color: var(--black);
    }

    .team-colors {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      gap: 5px;
    }

    .team-color {
      width: 14px;
      height: 14px;
      border: 1px solid rgb(0 0 0 / 10%);

      // &.white {
        
      // }
    }
  }

  .misc {
    .misc-content {
      padding: 4px 16px;
    }

    .css-vars {
      position: relative;
      margin-bottom: 8px;

      &-code {
        display: block;
        padding: 6px 8px;
        border-radius: 3px;
        font-size: 14px;

        pre {
          overflow: auto;
        }
      }

      .code-copy {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        gap: 6px;
        border: 0;
        background-color: transparent;
        padding: 6px;
        height: 34px;

        &.copied {
          &::before {
            content: 'Copied!';
            font-size: 14px;
          }
        }

        svg {
          width: 18px;
          height: 18px;
          flex: 0 0 18px;
        }
      }
    }

    .disclaimer {
      font-size: 13px;
      line-height: 14px;
      color: var(--black);
      margin: 10px 0 4px;
    }
  }
}