#root {
  --black: #222;
  --white: #fff;
}

/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  font-family: 'Tinos';
}

::selection {
  background-color:#99d9f5;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

img, picture, video, canvas, iframe {
  display: block;
  max-width: 100%;
}

img {
  border-style: none;
  vertical-align: middle;
  border: 0;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: transparent;
}

input, textarea, button, select, optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #007eb4;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: #006894;
    text-decoration: underline;
  }
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 28px;
  text-rendering: optimizeLegibility;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

input, textarea, button, select, label, a {
  -webkit-tap-highlight-color: transparent;
}

button, [type="button"], [type="submit"] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, summary {
  cursor: pointer;
}

details {
  border: 2px solid rgb(0 0 0 / 10%);
  margin-bottom: 4px;
}

summary {
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px 3px 15px;
  display: flex;
  font-size: 18px;
}

details summary::-webkit-details-marker {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

main { 
  position: relative;
  display: flex;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;

  // &--4 {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr;
  // }

  .color {
    position: relative;
  }

  .color-box {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    outline: 3px solid rgb(255 255 255 / 50%);
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    margin: 12px;
    padding: 4px 8px;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
  }

  .color-name {

  }

  .color-hex {
    
  }
}


.sidebar {
  position: absolute;
  top: 17px;
  right: 22px;
  overflow: auto;
  background-color: var(--white);
  outline: 6px solid rgb(255 255 255 / 50%);

  @media (width < 400px) {
    top: 0;
    right: 0;
    outline: 0;
  }

  &[open] {
    padding: 48px 12px 16px 12px;
    width: 350px;
    height: calc(100% - 40px);

    @media (width < 400px) {
      width: 100%;
      height: 100%;
    }

    .sidebar-trigger {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 0;
      right: 0;
      background: var(--white);

      svg.burger {
        display: none;
      }

      svg.close {
        display: flex;
      }
    }
  }

  &-trigger {
    padding: 0;

    svg {
      width: 32px;
      height: 32px;

      &.close {
        display: none;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      height: 42px;
    }

    button {
      width: 100%;
      border: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 16px;
      background-color: var(--white);
      padding: 6px;

      &:hover {
        background-color: #fed;
      }
    }

    .logo-box {
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 30px;
    }

    .team-colors {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      gap: 5px;
    }

    .team-color {
      width: 14px;
      height: 14px;
      border: 1px solid rgb(0 0 0 / 10%);

      // &.white {
        
      // }
    }
  }
}