@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700);

* {
  box-sizing: border-box;
}

.content {
    padding: 0;
    max-width: 100%;
    font-family: 'Lato';
}

.post-content {
    position: relative;
}

.post-content .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.25);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.post-wrapper {
    border: 0px;
    border-radius: 0px;
}

#posts article {
    margin-bottom: 0;
}

#posts article .panel {
   margin-top: -50px;
}

.post-controls .control {
    margin-right: 25px;
}

.post-controls .control:last-child {
    margin-right: 0;
}

.post-controls .control .share:hover, .post-controls .control .reblog_button:hover {
    color: #609dff;
}

.photo .with-caption+.post-extra.has-tags {
    float: right;
}

.photo .post-extra.has-tags {
    margin-top: 14px;
    min-width: 140px;
}

.post-controls .controls-wrapper {
    min-width: 170px;
}

.date-notes .date-note-wrapper {
    display: none;
}


.tag-link {
    background: #609dff;
    padding: 2px 7px 2px 17px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 11px;
    margin-top: -8px;
    opacity: .8;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.tag-link[href*="nope"] {
    background: #e84336;
}

.tag-link[href*="yep"] {
    background: #4b9442;
}

.tag-link[href*="almost"] {
    background: #ffbd16;
}

.tag-link[href*="books"] {
    background: #b052d6;
}

.tag-link[href*="movies"] {
    background: #bc6bec;
}

.tag-link[href*="music"] {
    background: #ff8000;
}

.tag-link:hover {
    opacity: 1;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

.nav-menu {
  position: relative;
}

.nav-menu .tag-link:hover {
    box-shadow: none;
}

.post-extra .tag-link:before,
.tag-link:before {
    content: '•';
    color: #fff;
    padding-right: 5px;
    line-height: 18px;
    font-size: 26px !important;
    position: absolute;
    margin-left: -12px;
}

.inline-meta .meta-item,
.inline-meta .meta-item:hover {
    color: #fff;
    line-height: 18px;
}

.tag-link:not(:first-child) {
    display: none;
}


.post-extra .tag-link:last-child { display: inline-block; margin-left: -5px; }


.app-nag { display: none; }

section#page {
  width: 100% !important;
}

body.android, body.ios {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 425px) {
  body.android section#page,
  body.ios section#page {
    overflow-x: hidden;
  }
}

/* new classes */
.postInside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    bottom: 10px;
    text-shadow: 0 0 5px rgba(0,0,0,.75);
}
.cripSide {
    float: left;
    width: 90%;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    position: absolute;
    text-shadow: 1px 1px 15px black;
}
#tumblr_controls, .tmblr-iframe{display:none !important;}
.bloodSide {
    float: right;
    width: 20%;
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 80px;
    display: none;
}

.showTitle strong {
    font-size: 44px;
    line-height: 48px!important;
    font-style: italic;
    letter-spacing: 2px;
}

.showTitle strong .byline {
    font-size: 24px;
  }

.firstDrop {
    margin-top: 15px;
    margin-bottom: -10px;
}

.dropTime {
    font-size: 28px;
    line-height: 1;
    margin-top: 5px;
}



.doesit {
    font-size: 14px;
}

.yesno {
    margin-top: -10px;
}

.yesno a {
  text-decoration: none;
  cursor: pointer;
}

.yesno.yes a:hover {
  color: #4b9442;
}

.yesno.no a:hover {
  color: #e84336;
}

.addlComments {
    display: none;
}


.related-posts-wrapper .firstDrop,
.related-posts-wrapper .dropTime,
.related-posts-wrapper .tag-link,
.related-posts-wrapper .yesno {
    display: none;
}

.related-posts-wrapper .cripSide {
    padding: 0;
    width: 90%;
}

.related-posts-wrapper .showTitle {
    margin-left: 20px;
}

.related-posts-wrapper .showTitle strong {
    font-size: 24px;
    text-align: center;
    line-height: 28px!important;
}

.related-posts-wrapper .panel {
    display: none;
}

.postInside.titleQuote {
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 15px black;
    display: none;
    -webkit-align-self: center;
    align-self: center;
    position: initial;
    margin-top: 40px;
}

.postInside.hidden {
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease;
}

.postInside.shown {
    opacity: 1;
    z-index: 99;
    transition: opacity 1s ease;
}

.closer {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    opacity: .75;
    z-index: 99;
}

.closer:hover {
  opacity: 1;
}

.closer-symbol {
  display: none;
}

.non-clickable {
  cursor: default;
}

.fa-comment {
    font-size: 22px;
    padding-left: 5px;
    bottom: 6px;
    position: relative;
    cursor: pointer;
    opacity: .75;
}

.fa-comment:hover {
    opacity: 1;
}

.dropTimeMinutes .fa-comment,
.dropTime .fa-comment {
  display: none !important;
}


.blog-title+.description {
  display: none;
}
.cust-description {
    margin-top: 0px!important;
    padding: 0 20px 10px;
    max-width: 800px;
    display: none;
    margin: 0 auto;
}

.cust-description p {
  margin: 5px 0;
}

.nav-menu .tag-link {
  font-size: 14px;
  font-weight: normal;
}

.nav-menu .tag-link:before {
    font-size: 14px !important;
    padding-top: 2px;
}

.nav-wrapper .nav-item {
  margin: 10px 5px 0;
}

.nav-wrapper {
    background: #efefef;
}

#posts {
  margin-top: 0;
}

.blog-title {
  margin: 5px 0 0;
  font-size: 2px;
}

.blog-title svg {
  width: 275px;
}

.avatar-wrapper {
  display: none;
}

.logo-wrapper {
  display: none;
}

.header-image-wrapper {
  display: none;
}

nav .search-wrapper .search-field {
  height: 40px;
  color: inherit;
  border: none;
  outline: none;
  margin: 0;
  width: calc(100% - 50px);
  background: 0 0;
  position: relative;
  padding: 0 0 0 20px;
  font-family: 'Lato', sans-serif;
}

.search-wrapper .search-field:before {
  content: "\EA09";
  font-family: "optica-icons","Blank";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-size: 29px;
  color: inherit;
  z-index: 2;
  left: 0;
  top: 8px;
}

nav .search-wrapper {
    margin-left: 0;
    max-width: 200px;
    float: left;
}

.nav-wrapper .inline-nav {
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}

.logo-wrapper .search-wrapper {
  display: none;
}

.customfoot {
  text-align: center;
  height: 34px;
}

.customfoot p {
  margin: 4px 0 3px 0;
  font-size: 12px;
  line-height: 34px;
  font-family: 'Lato';
}

.customfoot a {
  margin-left: 2px;
}

.customfoot svg {
  width: 100px;
  vertical-align: middle;
}

.fa-info-circle {
  font-size: 18px;
  color: #6f95ce;
  position: absolute;
  top: 3px;
  margin-left: -7px;
  cursor: pointer;
}

.blog-title {
  position: relative;
}

.blog-title a {
  display: inline-block;
}

.app-nag {
  display: none !important;
}

.sticky-lrec-wrapper {
    display: none !important;

}

.post:hover {
  cursor: pointer;
}


.secret {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  z-index: 999;
}


.secret ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  padding-left: 0;
  margin: 0;
}


.secret ul li {
cursor: pointer;
font-size: 25px;
padding: 8px 0;
width: 40px;
text-align: center;
}

#secret {
    cursor: pointer;
}

.instaa .closer,
.instaa .controls-wrapper,
.instaa .photo .post-extra.has-tags {
display: none;
}

.instaa .dropTime {
margin-bottom: -20px;
}

.instaa .photo .high-res img {
height: 295px;
}

.instaa .photo .high-res img {
margin-left: -45%;
}

.photo .photo-wrapper {
    border-radius: 0;
}

.related-posts-wrapper .showTitle strong {
    font-family: 'Lato';
}

.related-posts-wrapper .photo .with-caption+.post-extra.has-tags {
  display: none;
}

.photo .post-extra.has-tags {
    min-width: 165px;
}


#tumblr-tag-list ul {
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	width: 340px;
	padding-left: 0;
	overflow: hidden;
  margin: 0 auto;
}

#tumblr-tag-list ul.flexed {
	display: flex;
	height: 40px;
  margin-top: -1px;
}

#tumblr-tag-list ul.open {
	padding-bottom: 12px;
  height: auto;
  width: 100%;
  background: linear-gradient(#efefef, #ccc);
}

#tumblr-tag-list ul.open .moreless {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 23px;
}

.nav-wrapper .inline-nav.open {
  clear: both;
  width: 100%;
  margin-right: 0;
}


.dyn-tag:not(.other) {
	  font-size: 14px;
    font-weight: normal;
    background: #609dff;
    padding: 2px 7px 2px 17px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
	  height: 22px;
    margin-left: 11px;
    opacity: .8;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
		display: inline-block;
		margin: 10px 5px 0;
}

.dyn-tag:not(.other) a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.dyn-tag:not(.other)::before {
    padding-top: 0px;
    content: '•';
    color: #fff;
    padding-right: 5px;
    line-height: 18px;
    font-size: 14px !important;
    position: absolute;
    margin-left: -12px;
}

.dyn-tag.other {
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

#tumblr-tag-list .moreless {
	font-size: 13px;
	line-height: 40px;
	margin-left: 3px;
	cursor: pointer;
}

#tumblr-tag-list .titledrops {
	display: none;
}

#tumblr-tag-list .tvshows {
	background-color: #609dff;
}

#tumblr-tag-list .movies {
	background-color: #bc6bec;
}

#tumblr-tag-list .music {
	background-color: #ff8000;
}

#tumblr-tag-list .yep {
	background-color: #4b9442;
}

#tumblr-tag-list .nope {
	background-color: #e84336;
}

#tumblr-tag-list .almost {
	background-color: #ffbd16;
}

/* responsive */


@media screen and (max-width: 800px) {
    .postInside.titleQuote { font-size: 18px; }
    .photo-wrapper:not(.high-res)+.caption {
        padding: 0;
    }

    .closer { right: 20px;
    top: -10px; }
    .fa-comment { font-size: 18px;
    padding-left: 3px;
    bottom: 0px;
    }
}

@media screen and (max-width: 750px) {
    .showTitle strong { font-size: 28px; line-height: 32px!important; }
    .showTitle strong .byline { font-size: 16px; }
    .firstDrop { font-size: 14px; margin-bottom: -8px; }
    .dropTime { font-size: 16px; margin-bottom: 20px; }
    .yesno { font-size: 34px; bottom: -10px; right: 45px; }
    nav .search-wrapper { float: none;
      width: 300px;
      display: block;
      margin: 0 auto;
    }
    .nav-wrapper .inline-nav {
        float: none;
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 551px) {
#secret { display: none; }
}

@media screen and (max-width: 550px) {
    .cripSide { width: 90%; padding: 30px 0 0 20px; }
    .bloodSide { display: none; }
    .showTitle strong { font-size: 21px; line-height: 23px!important; }
    .showTitle strong .byline { font-size: 12px; }
    .firstDrop { margin-top: 0px; }
    .dropTime { margin-bottom: 10px; margin-top: 5px; line-height: 1.2; }
    .yesno { display: none; }
    .photo .high-res img { height: 170px; width: auto; max-width: none;}
    .tag-link { margin-left: 1px; }
    .closer { right: 10px;
    top: -5px;
    font-size: 32px;
    }
}


@media screen and (max-width: 500px) {
    .postInside.titleQuote { font-size: 16px; margin-top: -24px; padding: 0 14px;}
    .showTitle strong { letter-spacing: 1px;}
}

@media screen and (max-width: 425px) {
    .photo .high-res img { margin-left: -25%; }
    .photo.post-165229687126 .high-res img { margin-left: -5%; } /* center Graduation on mobile */
    .cripSide { width: 100%; }
    section#page {
      width: 100% !important;
      /*overflow-x: hidden;*/
    }
}

@media screen and (max-width: 374px) {
  #tumblr-tag-list .moreless {
    position: absolute;
    top: 40px;
    right: 20px;
  }

  #tumblr-tag-list ul {
    width: 300px;
  }
}
