/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700i);
/* Partials */
/* Mixins partial */
/* Variables partial */
/* Global Variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Crimson Text", serif; }

a {
  color: inherit;
  text-decoration: none; }

.c {
  clear: both; }

section {
  width: 100%; }

.left {
  float: left; }

.right {
  float: right; }

/* banner */
.banner {
  position: relative; }
  .banner header {
    width: 100%;
    height: 50px;
    background-color: #fff; }
    .banner header .title {
      float: left;
      color: #333; }
      .banner header .title p {
        font-size: 24px;
        line-height: 50px;
        margin-left: 20px; }
        .banner header .title p span {
          font-weight: 400; }
    .banner header nav {
      float: right;
      color: #fff;
      background-color: #bfa9d1;
      cursor: pointer; }
      .banner header nav:hover {
        background: #a688bf; }
      .banner header nav a {
        font-size: 18px;
        line-height: 50px;
        padding: 0 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        width: 100%; }
  .banner img {
    width: 100%;
    z-index: -1; }
  .banner ul {
    position: absolute;
    color: #fff;
    left: 50px;
    bottom: 120px;
    list-style-type: none;
    font-size: 26px;
    line-height: 44px; }
    .banner ul.homenav a:hover {
      text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.75); }
  .banner.inside {
    height: 340px;
    background: url("../assets/kelsie-portraits.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat; }
    .banner.inside ul {
      top: 50px;
      right: 0;
      bottom: inherit;
      left: inherit;
      width: 250px;
      text-align: right;
      display: none; }
    .banner.inside nav {
      height: 50px;
      width: 55px;
      background-color: #bfa9d1; }
      .banner.inside nav .navmenu {
        display: block;
        margin: 15px auto;
        width: 30px; }
        .banner.inside nav .navmenu.open {
          margin-top: 23px; }
          .banner.inside nav .navmenu.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
          .banner.inside nav .navmenu.open span:nth-child(2) {
            display: none; }
          .banner.inside nav .navmenu.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-top: -8px; }
        .banner.inside nav .navmenu span {
          background-color: #fff;
          width: 30px;
          height: 4px;
          display: block;
          margin-bottom: 4px; }
          .banner.inside nav .navmenu span:last {
            margin-bottom: 0; }
      .banner.inside nav li {
        background: #bfa9d1;
        -webkit-transition: background 500ms;
        transition: background 500ms; }
        .banner.inside nav li:hover {
          background: #8e67ad; }
    .banner.inside h1 {
      display: inline-block;
      background: #bfa9d1;
      color: #fff;
      font-size: 38px;
      font-style: italic;
      padding: 10px 20px 2px 45px;
      border-top: 1px solid #a688bf;
      border-right: 1px solid #a688bf;
      border-bottom: 3px solid #a688bf;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      letter-spacing: 2px;
      bottom: 40px;
      left: 0;
      position: absolute; }
  .banner.inside.home {
    height: inherit; }

.inside nav a {
  line-height: 44px; }

.publications .banner.inside,
.contact .banner.inside {
  background: url("../assets/kelsie-publications.jpg") center -30px;
  background-size: 100% auto;
  background-repeat: no-repeat; }

.modeling .banner.inside {
  background: url("../assets/kelsie-modeling.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; }

/* intro */
.intro {
  color: #333;
  font-size: 24px;
  line-height: 36px;
  text-align: center; }
  .intro .left {
    width: calc(100% - 270px);
    padding: 110px 100px;
    background: #fff url("../assets/ohio.svg") no-repeat center -14px;
    height: 335px; }
  .intro img {
    width: 250px;
    float: left;
    margin-top: -20px;
    margin-right: 20px;
    z-index: 99;
    border: 5px solid #fff;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.5);
    position: relative; }

/* quote */
.quote {
  background-color: #bfa9d1;
  color: #fff;
  margin-top: -20px; }

blockquote {
  font-weight: bold;
  font-style: italic;
  font-family: "Karla", sans-serif;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  padding: 50px 0 40px 0;
  width: 60%;
  display: block;
  margin: 0 auto; }
  blockquote cite {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    display: block;
    margin-top: 5px; }

/* footer nav */
footer ul {
  width: 100%;
  list-style-type: none;
  border-top: 10px solid #bfa9d1; }
  footer ul li {
    font-weight: 600;
    font-size: 20px;
    float: left;
    width: 16.66%;
    text-align: center; }
    footer ul li a {
      display: block;
      width: 100%;
      padding: 20px 0; }
    footer ul li:hover {
      background: #bfa9d1;
      color: #fff; }

/* inside pages - main section */
.main {
  padding: 40px 0;
  max-width: 1300px;
  display: block;
  margin: 0 auto; }

/* portraits page */
.portraits h2 {
  margin-bottom: 20px; }
.portraits .main a {
  color: #bfa9d1; }
  .portraits .main a:hover {
    color: #a688bf; }
.portraits .main > div {
  display: none; }
  .portraits .main > div.active {
    display: block; }
.portraits .main p {
  text-align: center;
  font-size: 24px;
  margin: 5px 0 50px 0; }
.portraits .portrait-toggle span {
  padding: 0 10px;
  color: #8e67ad;
  cursor: pointer;
  width: 130px;
  display: inline-block; }
  .portraits .portrait-toggle span.activetab {
    font-weight: bold; }
.portraits .left {
  width: 31.333%;
  margin: 0 1%; }
.portraits .middle {
  width: 31.333%;
  margin: 0 1%;
  float: left; }
.portraits .right {
  width: 31.333%;
  margin: 0 1%;
  float: left; }
.portraits img {
  display: block;
  margin: 20px auto;
  max-width: 100%; }
.portraits .pricing-doc {
  width: 400px;
  max-width: 100%;
  display: block;
  margin: 0 auto; }
.portraits .main-list {
  list-style-type: none; }
.portraits .session {
  background: url("../assets/diamond.svg") no-repeat top 8px left;
  background-size: 20px 20px;
  padding-left: 30px;
  font-size: 24px;
  color: #8d67ad; }
.portraits .sub {
  list-style-type: disc;
  font-size: 18px;
  color: #000;
  padding-left: 40px; }
.portraits .other-list {
  margin-top: 40px;
  list-style-type: none;
  text-align: center;
  line-height: 26px; }
  .portraits .other-list .alacarte, .portraits .other-list .products {
    color: #8d67ad;
    font-size: 24px;
    margin-top: 10px; }
    .portraits .other-list .alacarte .sub, .portraits .other-list .products .sub {
      color: #000;
      padding-left: 0;
      font-size: 18px;
      list-style-type: none;
      margin-top: 10px; }
.portraits .notes {
  margin: 20px 0;
  list-style-type: none;
  font-size: 14px; }

/* publications page */
.publications .main p {
  text-align: center;
  font-size: 24px;
  margin: 5px 0 50px 0; }
.publications .left {
  width: 50%; }
.publications .right {
  width: 50%; }
.publications .book {
  display: block;
  margin: 0 auto;
  width: 351px;
  max-width: 100%; }
  .publications .book .bookimg {
    width: 332px;
    margin: 0 auto 30px auto;
    display: block; }
  .publications .book .button {
    display: block;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 250px;
    height: 40px; }
    .publications .book .button:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
    .publications .book .button .b-left {
      float: left;
      width: 140px;
      height: 38px; }
    .publications .book .button .b-right {
      float: right;
      background: #bfa9d1;
      text-transform: capitalize;
      width: 100px;
      text-align: center;
      line-height: 39px;
      color: #fff;
      font-family: "Karla", sans-serif;
      font-style: italic; }
    .publications .book .button.amazon .b-left {
      background: url("../assets/amazon.png") no-repeat center 6px;
      background-size: 80px; }
    .publications .book .button.barnes .b-left {
      background: url("../assets/barnes.png") no-repeat center center;
      background-size: 100px; }

/* modeling page */
.modeling .main p {
  text-align: center;
  font-size: 24px;
  margin: 5px 0 50px 0; }
.modeling .left {
  width: 48%;
  margin: 0 1%; }
.modeling .right {
  width: 48%;
  margin: 0 1%; }
.modeling img {
  display: block;
  margin: 20px auto;
  max-width: 100%; }

/* contact page */
.contact .left {
  width: 40%; }
  .contact .left img {
    display: block;
    margin: 35px auto; }
.contact .right {
  width: 60%; }
  .contact .right .contactform {
    width: 470px;
    display: block;
    margin: 50px auto; }
  .contact .right div {
    margin: 15px 0;
    display: inline-block; }
    .contact .right div.c {
      margin: 0;
      display: inline; }
  .contact .right label {
    width: 170px;
    font-size: 26px;
    display: inline-block;
    font-style: italic;
    float: left;
    margin-top: 5px;
    text-align: right;
    padding-right: 30px; }
  .contact .right input, .contact .right select, .contact .right textarea {
    background: #bfa9d1;
    width: 250px;
    height: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: none;
    float: right;
    font-family: "Karla", sans-serif; }
  .contact .right textarea {
    height: 90px; }
  .contact .right .message {
    height: 90px; }
    .contact .right .message label {
      margin-top: 34px; }
  .contact .right .submit-button {
    width: 100%; }
    .contact .right .submit-button input {
      width: 200px;
      float: none;
      display: block;
      margin: 0 auto;
      padding: 3px;
      cursor: pointer; }
      .contact .right .submit-button input:hover {
        background-color: #a688bf; }

/* about page */
.about .left {
  width: 35%; }
  .about .left img {
    display: block;
    margin: 35px auto; }
.about .right {
  width: 65%; }
  .about .right .story {
    font-size: 18px;
    line-height: 24px;
    padding: 40px 20px; }
    .about .right .story p {
      margin: 15px 0; }

/* kstar */
.kstar {
  clear: both; }
  .kstar p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    line-height: 27px; }
  .kstar img {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px; }

/* responsive */
@media screen and (max-width: 1200px) {
  .intro .left {
    padding: 80px 100px 110px 100px; } }
@media screen and (max-width: 960px) {
  .intro img {
    display: none; }

  .intro .left {
    height: auto;
    width: 100%; }

  .quote {
    clear: both; } }
@media screen and (max-width: 850px) {
  .homenav {
    display: none; }

  footer ul {
    display: none; }

  .kstar p {
    padding-top: 5px; } }
@media screen and (max-width: 580px) {
  .title span {
    display: none; }

  .intro .left {
    font-size: 20px;
    padding: 40px; }

  .quote blockquote {
    font-size: 20px;
    line-height: 26px;
    padding: 40px;
    width: 100%; }

  .quote blockquote cite {
    font-size: 18px; } }
@media screen and (max-width: 400px) {
  .intro .left {
    padding: 30px 15px;
    font-size: 18px;
    line-height: 28px; }

  .quote blockquote {
    padding: 30px 15px; } }

/*# sourceMappingURL=main.css.map */
