@charset "utf-8";

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700i);

/* Partials */

@import "mixins";
@import "variables";

* { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: $Crimson; }
a { color: inherit; text-decoration: none; }
.c { clear: both; }
section { width: 100%; }
.left { float: left; }
.right { float: right; }

/* banner */

.banner {
  position: relative;

      header {
        width: 100%;
        height: 50px;
        background-color: #fff;

            .title {
              float: left;
              color: $black;

                  p {
                    font-size: 24px;
                    line-height: 50px;
                    margin-left: 20px;

                      span {
                        font-weight: 400;
                      }
                  }    
            }

            nav {
              float: right;
              color: #fff;
              background-color: $purple;
              cursor: pointer;

                  &:hover {
                      background: darken($purple, 10%);
                  }

                  a {
                      font-size: 18px;
                      line-height: 50px;
                      padding: 0 12px;
                      text-transform: uppercase;
                      letter-spacing: 1px;
                      display: block;
                      width: 100%;
                  }  

            }

      }

      img {
        width: 100%;
        z-index: -1;
      }

      ul {
        position: absolute;
        color: #fff;
        left: 50px;
        bottom: 120px;
        list-style-type: none;
        font-size: 26px;
        line-height: 44px;
          &.homenav a:hover {
            text-shadow: 1px 1px 15px rgba(0,0,0,.75); 
          }
      }

      &.inside {
        height: 340px;        
        background: url('../assets/kelsie-portraits.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;

            ul {
              top: 50px;
              right: 0;
              bottom: inherit;
              left: inherit;
              width: 250px;
              text-align: right;
              display: none;
            }

            nav {
              height: 50px;
              width: 55px;
              background-color: $purple;

                .navmenu {
                    display: block;
                    margin: 15px auto;
                    width: 30px;

                    &.open  {
                      margin-top: 23px;

                      span:nth-child(1) {
                        @include transform(rotate(45deg));
                      }

                      span:nth-child(2) {
                        display: none;
                      }

                      span:nth-child(3) {
                        @include transform(rotate(-45deg));
                        margin-top: -8px;
                      }
                    }

                    span {
                      background-color: #fff;
                      width: 30px;
                      height: 4px;
                      display: block;
                      margin-bottom: 4px;

                        &:last {
                          margin-bottom:0;
                        }

                        
                    }
                }

                li {
                  background: $purple;
                  @include transition(background 500ms);

                    &:hover {
                      background: darken($purple, 20%);
                    }
                }
            }

            h1 {
              display: inline-block;
              background: $purple;
              color: #fff;
              font-size: 38px;
              font-style: italic;
              padding: 10px 20px 2px 45px;
              border-top: 1px solid darken($purple, 10%);
              border-right: 1px solid darken($purple, 10%);
              border-bottom: 3px solid darken($purple, 10%);
              box-shadow: 1px 1px 5px rgba(0,0,0,.3);
              text-shadow: 1px 1px 3px rgba(0,0,0,.3);
              letter-spacing: 2px;
              bottom: 40px;
              left: 0;
              position: absolute;
            }
      }

      &.inside.home {
        height: inherit;
      }
}

.inside nav a {
  line-height: 44px;
}

.publications .banner.inside,
.contact .banner.inside {
  background: url('../assets/kelsie-publications.jpg') center -30px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.modeling .banner.inside {
  background: url('../assets/kelsie-modeling.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}



/* intro */

.intro {
  color: $black;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

    .left {
      width: calc(100% - 270px);
      padding: 110px 100px;
      background: #fff url("../assets/ohio.svg") no-repeat center -14px;
      height: 335px;
    }

    img {
      width: 250px;
      float: left;
      margin-top: -20px;
      margin-right: 20px;
      z-index: 99;
      border: 5px solid #fff;
      box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.5);
      position: relative;
    }

}

/* quote */

.quote {
  background-color: $purple;
  color: #fff;
  margin-top: -20px;
}

blockquote {
  font-weight: bold;
  font-style: italic;
  font-family: $Karla;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  padding: 50px 0 40px 0;
  width: 60%;
  display: block;
  margin: 0 auto;

    cite {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      display: block;
      margin-top: 5px;
    }
}

/* footer nav */

footer ul {
  width: 100%;
  list-style-type: none;
  border-top: 10px solid $purple;

    li {
      font-weight: 600;
      font-size: 20px;
      float: left;
      width: 16.66%;
      text-align: center;

        a {
          display: block;
          width: 100%;
          padding: 20px 0;
        }

        &:hover {
          background: $purple;
          color: #fff;
        }
    }
}

/* inside pages - main section */

.main {
  padding: 40px 0;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
}



/* portraits page */

.portraits {
    h2 {
      margin-bottom: 20px;
    }

    .main a {
      color: $purple;

        &:hover {
          color: darken($purple, 10%);
        }
    }

    .main > div {
      display: none;

      &.active {
        display: block;
      }
    }

    .main p {
      text-align: center;
      font-size: 24px;
      margin: 5px 0 50px 0;

    }

    .portrait-toggle span {
      padding: 0 10px;
      color: darken($purple, 20%);
      cursor: pointer;
      width: 130px;
      display: inline-block;

        &.activetab {
          font-weight: bold;
        }
    }

    .left {
      width: 31.333%;
      margin: 0 1%
    }

    .middle {
      width: 31.333%;
      margin: 0 1%;
      float: left;
    }

    .right {
      width: 31.333%;
      margin: 0 1%;
      float: left;
    }

        img {
              display: block;
              margin: 20px auto;
              max-width: 100%;
            }

    .pricing-doc {
      width: 400px;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    .main-list {
      list-style-type: none;
    }

    .session {
      background: url('../assets/diamond.svg') no-repeat top 8px left;
      background-size: 20px 20px;
      padding-left: 30px;
      font-size: 24px;
      color: #8d67ad;
    } 

    .sub {
      list-style-type: disc;
      font-size: 18px;
      color: #000;
      padding-left: 40px;
    }

    .other-list {
      margin-top: 40px;
      list-style-type: none;
      text-align: center;
      line-height: 26px;

        .alacarte, .products {
          color: #8d67ad;
          font-size: 24px;
          margin-top: 10px;

            .sub {
              color: #000;
              padding-left: 0;
              font-size: 18px;
              list-style-type: none;
              margin-top: 10px;

            }
        }
    }

    .notes {
      margin: 20px 0;
      list-style-type: none;
      font-size: 14px;
    }
}



/* publications page */

.publications {

    .main p {
      text-align: center;
      font-size: 24px;
      margin: 5px 0 50px 0;
    }

    .left {
      width: 50%;
    }

    .right {
        width: 50%;
    }

        .book {
          display: block;
          margin: 0 auto;
          width: 351px;
          max-width: 100%;

            .bookimg {
              width: 332px;
              margin: 0 auto 30px auto;
              display: block;
            }

            .button {
              display: block;
              border-radius: 4px;
              border: 1px solid #ddd;
              margin: 20px auto;
              width: 250px;
              height: 40px;

              &:hover {
                box-shadow: 0 0 5px rgba(0,0,0,.25);
              }

                .b-left {
                  float: left;
                  width: 140px;
                  height: 38px;
                }

                .b-right {
                  float: right;
                  background: $purple;
                  text-transform: capitalize;
                  width: 100px;
                  text-align: center;
                  line-height: 39px;
                  color: #fff;
                  font-family: $Karla;
                  font-style: italic;
                }

                &.amazon .b-left {
                  background: url('../assets/amazon.png') no-repeat center 6px;
                  background-size: 80px;
                }

                &.barnes .b-left {
                  background: url('../assets/barnes.png') no-repeat center center;
                  background-size: 100px;
                }
            }
        }


}

/* modeling page */

.modeling {

    .main p {
      text-align: center;
      font-size: 24px;
      margin: 5px 0 50px 0;
    }

    .left {
      width: 48%;
      margin: 0 1%
    }

    .right {
      width: 48%;
      margin: 0 1%
    }

        img {
              display: block;
              margin: 20px auto;
              max-width: 100%;
            }
}

/* contact page */

.contact {

    .left {
      width: 40%;

        img {
          display: block;
          margin: 35px auto;
        }
    }

    .right {
      width: 60%;

        .contactform {
          width: 470px;
          display: block;
          margin: 50px auto;
        }

        div {
          margin: 15px 0;
          display: inline-block;

          &.c {
            margin: 0;
            display: inline;
          }
        }

        label {
          width: 170px; 
          font-size: 26px; 
          display: inline-block;
          font-style: italic;
          float: left;
          margin-top: 5px;
          text-align: right;
          padding-right: 30px;
        }

        input, select, textarea {
          background: $purple;
          width: 250px;
          height: 35px;
          font-size: 20px;
          line-height: 30px;
          color: #fff;
          padding: 5px 5px 5px 10px;
          outline: none;
          border: none;
          float: right;
          font-family: $Karla;
        }

        textarea {
          height: 90px;
        }

        .message {
          height: 90px;

            label {
              margin-top: 34px;
            }
        }

        .submit-button {
          width: 100%;

            input {
              width: 200px;
              float: none;
              display: block;
              margin: 0 auto;
              padding: 3px;
              cursor: pointer;

                &:hover {
                  background-color: darken($purple, 10%);
                }
            }
        }

        
    }
}

/* about page */

.about {

    .left {
      width: 35%;

        img {
          display: block;
          margin: 35px auto;
        }
    }

    .right {
      width: 65%;

        .story {
          font-size: 18px;
          line-height: 24px;
          padding: 40px 20px;

            p {
              margin: 15px 0;
            }
        }

    }
}

/* kstar */
.kstar {
  clear: both;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: $black;
      line-height: 27px;
    }

    img {
      width: 100px;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 3px;
    }
}



/* responsive */

@media screen and (max-width: 1200px) {
  .intro .left { padding: 80px 100px 110px 100px; }
}

@media screen and (max-width: 960px) {
  .intro img { display: none; }
  .intro .left { height: auto; width: 100%; }
  .quote { clear: both; }
}

@media screen and (max-width: 850px) {
  .homenav { display: none; }
  footer ul { display: none; }
  .kstar p { padding-top: 5px; }
}

@media screen and (max-width: 580px) {
  .title span { display: none; }
  .intro .left { font-size: 20px; padding: 40px; }
  .quote blockquote { font-size: 20px; line-height: 26px; padding: 40px; width: 100%;}
  .quote blockquote cite { font-size: 18px; }
}

@media screen and (max-width: 400px) {
  .intro .left { padding: 30px 15px; font-size: 18px; line-height: 28px; }
  .quote blockquote { padding: 30px 15px; }
}